{extends file='app_shell_full.html'}


{block name=subthing}

<link type="text/css" rel="stylesheet" href="public/css/manage_styles.css"/>
<link type="text/css" rel="stylesheet" href="NYSUS_OJT/vendor/DataTables/datatables.min.css"/>
<link type="text/css" rel="stylesheet" href="NYSUS_OJT/vendor/DataTables/extensions/TableTools/css/dataTables.tableTools.min.css"/>
<link type="text/css" rel="stylesheet" href="NYSUS_OJT/vendor/DataTables/editor.bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="NYSUS_OJT/vendor/select2-4.0.2/css/select2.min.css">

<style>
	.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
		background-color: transparent
	}

	#table_ojt_groups, #table_ojt_group_requirements {
		cellpadding: 0px;
		cellspacing: 0px;
		border: 0px;
		width: 100%
	}

	.panel-heading .btn {
		margin-left: 10px
	}

	#table_ojt_requirements_length {
		padding-top: 10px;
		float: left
	}

	#table_ojt_requirements_filter {
		clear: right;
		float: right
	}
</style>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="btn-group pull-right" role="group" aria-label="...">
						<button type="button" class="btn btn-danger btn-xs btn-groups-show-active"><span
								class="glyphicon glyphicon-remove"></span> Show Inactive
						</button>
					</div>
					OJT Groups
				</div>
				<div class="panel-body">
					<div id="ojt_group_tree"></div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row">
				<div id="ojt_group_information" class="">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="btn-group pull-right" role="group" aria-label="...">
								<button type="button" class="btn btn-success btn-xs btn-add-group"><span
										class="glyphicon glyphicon-plus-sign"></span> Add Group
								</button>
								<button type="button" class="btn btn-warning btn-xs btn-edit-group"><span
										class="glyphicon glyphicon-pencil"></span> Edit Group
								</button>
							</div>
							OJT Group Information
						</div>
						<div class="panel-body">
							<div class="col-md-6">
								<h3 class="ojt_group_description"></h3>
								<ul class="list-unstyled">
									<li>
										<span class="glyphicon glyphicon-tree-deciduous"></span>
										<label>Group Parent:</label>
										<span class="ojt_parent_group_description"></span>
									</li>
									<li>
										<span class="glyphicon glyphicon-cog"></span>
										<label>Group Active:</label>
										<span class="ojt_group_active"></span>
									</li>
									<li>
										<span class="glyphicon glyphicon-calendar"></span>
										<label>Group Created:</label>
										<span class="ojt_group_create_date"></span>
									</li>
								</ul>
							</div>

							<div class="col-md-6">
								<ul class="list-unstyled">
									<li>
										<div class="alert alert-info">
											<span class="glyphicon glyphicon-user">&nbsp;</span>Group Operators <span
												class="badge ojt_operator_count">&nbsp;</span>
										</div>
									</li>
									<li>
										<div class="alert alert-info"><span
												class="glyphicon glyphicon-book">&nbsp;</span>Group Requirements
											<span class="badge ojt_requirement_count"></span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="ojt_group_requirements">
					<div class="panel panel-primary">
						<div class="panel-heading">
							OJT Group Requirements
							<div class="btn-group pull-right" role="group" aria-label="...">
								<button type="button" class="btn btn-success btn-xs btn-add-requirement"><span
										class="glyphicon glyphicon-plus-sign"></span> Add New
								</button>
								<button type="button" class="btn btn-danger btn-xs btn-show-requirement-alerts"><span
										class="glyphicon glyphicon-remove"></span> Show Alerts
								</button>
							</div>
						</div>
						<div class="panel-body">
							<div class="alert alert-info">Select a group to edit.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div id="ojt_group_operators">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="btn-group pull-right" role="group" aria-label="...">
								<button type="button" class="btn btn-success btn-xs btn-add-operator"><span
										class="glyphicon glyphicon-plus-sign"></span> Add New
								</button>
							</div>
							OJT Group Operators
						</div>
						<div class="panel-body">
							<div class="alert alert-info">Select a group to edit.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div id="ojt_requirements">
				<div class="panel panel-primary">
					<div class="panel-heading">
						OJT Requirements
						<div class="btn-group pull-right" role="group" aria-label="...">
							<button type="button" class="btn btn-danger btn-xs btn-requirements-show-all"><span
									class="glyphicon glyphicon-remove"></span> Show Inactive
							</button>
						</div>
					</div>
					<div class="panel-body">
						<table id="table_ojt_requirements" style="width:100%"
						       class="table table-striped table-bordered table-condensed table-responsive">
							<thead>
							<tr>
								<th></th>
								<th>Type</th>
								<th>Description</th>
								<th>Active</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-add-group" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span
						aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<h4 class="modal-title">Edit OJT Group: <span class="ojt_group_description"></span></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label">Group Parent
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
						      title="Select group parent"></span>
						<select class="form-control input-sm sel_group_parent">
							<option></option>
						</select>
					</label>
				</div>
				<div class="form-group">
					<label class="control-label">Group Description
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
							      title="A unique OJT group description."></span>
						<input class="form-control input-sm inp_group_description"/>
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-add-group" data-dismiss="modal"><span
						class="glyphicon glyphicon-ok"></span> OK
				</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span
						class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit-group" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span
						aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<h4 class="modal-title">Edit OJT Group: <span class="ojt_group_description"></span></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label">Group Parent
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
						      title="Select group parent"></span>
						<select class="form-control input-sm sel_group_parent">
							<option></option>
						</select>
					</label>
				</div>
				<div class="form-group">
					<label class="control-label">Group Description
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
							      title="A unique OJT group description."></span>
						<input class="form-control input-sm inp_group_description"/>
					</label>
				</div>
				<div class="form-group">
					<label class="control-label">Active
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
							      title="Is group active."></span>
						<input type="checkbox" class="form-control input-sm inp_group_active"/>
					</label>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit-group" data-dismiss="modal"><span
						class="glyphicon glyphicon-ok"></span> OK
				</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span
						class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-add-requirement" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<h4 class="modal-title">Add Group Requirement</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="sel_requirements" class="control-label">Requirements
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
						      title="Select requirement"></span>
					</label>
					<select class="form-control input-sm" id="sel_requirements"></select>
				</div>
				<div class="form-group">
					<label class="control-label">Min Operators Required
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
						      title="Min Operators Required"></span>
					</label>
					<input class="form-control input-sm inp_min_operators"/>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-add-requirement" data-dismiss="modal"><span
						class="glyphicon glyphicon-ok"></span> OK
				</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span
						class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal-edit-requirement" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<h4 class="modal-title">Edit Group Requirement</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="sel_requirements" class="control-label">Requirement
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
						      title="Selected requirement"></span>
					</label>
					<span class="form-control input-sm inp_requirement"></span>
				</div>
				<div class="form-group">
					<label class="control-label">Min Operators Required
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
						      title="Min Operators Required"></span>
					</label>
					<input class="form-control input-sm inp_min_operators" type="number"/>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit-requirement" data-dismiss="modal"><span
						class="glyphicon glyphicon-ok"></span> OK
				</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span
						class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade modal_add_group_operators" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label">Operators
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
						      title="Select operators"></span>
					</label>
					<select class="form-control input-sm sel_operators">
						<option></option>
					</select>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-add-operators" data-dismiss="modal"><span
						class="glyphicon glyphicon-ok"></span> OK
				</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span
						class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/vendor/DataTables/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/vendor/DataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/vendor/DataTables/dataTables.editor.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/vendor/DataTables/editor.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/vendor/DataTables/editor.select2.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/vendor/plupload-2.1.8/js/plupload.full.min.js"></script>
<!--<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/select2.min.js"></script>-->
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/vendor/select2-4.0.2/js/select2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/vendor/jquery.confirm.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/vendor/bootstrap-treeview.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/manager/scripts/api_core.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/manager/scripts/common.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/manager/scripts/ojt.js"></script>
<script type="text/javascript" charset="utf-8" src="NYSUS_OJT/manager/scripts/options/ojt_options.js"></script>

{/block}