<!-- Confirmation Modal -->
<div class="modal fade" id="confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	 <div class="modal-dialog modal-lg">
		  <div class="modal-content">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					 <h4 class="modal-title" id=""></h4>
				</div>
				<div class="modal-body">
					 <div class="well well-info">
						  <h4></h4>
					 </div>
				</div>
				<div class="modal-footer">
					 <button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> Yes</button>
					 <button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
				</div>
		  </div>
	 </div>
</div>
