{extends file='app_shell_full.html'} {block name=head append}

{/block} {block name=subthing}

<link rel="stylesheet"
	href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet"
	href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css"
	type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css"
	type="text/css" />
<script type="text/javascript"
	src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript"
	src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript"
	src="./public/scripts/lib/NYSUS.REPETITIVE.MACHINES.js"></script>
<script type="text/javascript"
	src="./public/scripts/lib/NYSUS.REPETITIVE.LOT.js"></script>
<script type="text/javascript"
	src="./custom/meb/manage/lot_material_types/lot_material_types.js"></script>
	
<div class="panel panel-primary">
	<div class="panel-heading">Lot Management<button id="btn_new_lot" class="btn btn-xs btn-success pull-right"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Lot</button></div>
	<div class="panel-body">
		<table id="table-lots"
			class="table table-condensed table-striped table-hover">
			<thead></thead>
			<tbody></tbody>
		</table>
	</div>
	<div class="panel-footer">
		<!-- <button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Load Modules</button> -->
	</div>
</div>

<!-- Edit Lot Modal -->
<div class="modal fade" id="edit_lot_modal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Add / Edit Lot</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="row">
						<div class="form-group col-sm-4">
							<label for="description" class="control-label">Description
								<span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Description"></span>
							</label>
							<div>
								<input id="inp_description" name="description"
									class="form-control input-sm" placeholder="Description" />
							</div>
						</div>
						<div class="form-group col-sm-4">
							<label for="part_number" class="control-label">Part
								Number <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Part Number"></span>
							</label>
							<div>
								<input id="inp_part_number" name="part_number"
									class="form-control input-sm" placeholder="Part Number" />
							</div>
						</div>
						<div class="form-group col-sm-4">
							<label for="alt_part_number" class="control-label">Alt
								Part Number <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Alt Part Number"></span>
							</label>
							<div>
								<input id="inp_alt_part_number" name="alt_part_number"
									type="input" class="form-control input-sm"
									placeholder="Alt Part Number" />
							</div>
						</div>
						<!--
						<div class="form-group col-sm-3">
							<label for="parts_per_lot" class="control-label">Parts
								Per Lot <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Parts Per Lot"></span>
							</label>
							<div>
								<input id="inp_parts_per_lot" name="parts_per_lot" type="number"
									class="form-control input-sm" placeholder="Parts Per Lot" />
							</div>
						</div>
						-->
						<div class="form-group col-sm-3">
							<label for="per_lot_default" class="control-label">Per
								Lot Default <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Per Lot Default"></span>
							</label>
							<div>
								<input id="inp_per_lot_default" name="per_lot_default"
									type="number" class="form-control input-sm"
									placeholder="Per Lot Default" />
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="warning_offset" class="control-label">Warning
								Offset <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Warning Offset"></span>
							</label>
							<div>
								<input id="inp_warning_offset" name="warning_offset"
									type="number" class="form-control input-sm"
									placeholder="Warning Offset" />
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="maximum_offset" class="control-label">Maximum
								Offset <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Maximum Offset"></span>
							</label>
							<div>
								<input id="inp_maximum_offset" name="maximum_offset"
									type="number" class="form-control input-sm"
									placeholder="Maximum Offset" />
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="station_ip_address" class="control-label">Station
								IP Address <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Station IP"></span>
							</label>
							<div>
								<input id="inp_station_ip_address" name="station_ip_address"
									class="form-control input-sm" placeholder="Station IP" />
							</div>
						</div>
					</div>
					<div class="row row-lot-machine">
						<div class="form-group col-sm-12">
							<label for="machine" class="control-label">Machines <span
								class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
								title="Machine"></span>
							</label>
							<div>
								<button id="btn_show_add_machine" class="btn btn-xs btn-info">
									<span class="glyphicon glyphicon-plus"></span>&nbsp;Add Machine
								</button>
								<div id="container_lot_machines"></div>
								<table id="table_lot_machines"
									class="table table-striped table-condensed">
									<thead>
										<tr>
											<th>Actions</th>
											<th>Machine Number</th>
											<th>Machine Name</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm">
					<span class="glyphicon glyphicon-ok"></span> Save
				</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
	</div>
</div>

{/block}
