
html {
  height: 100%;
}

body {
   margin-bottom: 50px;
   /*overflow: hidden;*/
   background-color: black;
   color: #AFB0B4;
}

.navbar-default, .panel {
  margin-bottom: 10px;
}

.navbar-default {
  color: #AFB0B4;
  background-color: #2c3e50;
  border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #AFB0B4;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #AFB0B4;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #AFB0B4;
  background-color: #1a242f;
}

.navbar-static-top {
    min-height: 60px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 60px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navbar-brand {
  padding: 0px;
  padding-right: 30px;
}


#user-nav li.label {
  margin-top: 22px;
}

#company_logo {
  margin-top: 12px;
  margin-left: 10px;
}

#page_title {
  margin-left: 10px;
  font-size: 35px;
  font-weight: 900;
  font-family: monospace;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  margin-left: -50%;
  margin-top: -50%;
}

.footer {
  min-height: 40px;
  height:40px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #2c3e50;
  z-index: -10;
  /*border-top: 1px solid #e7e7e7;*/
}

/*start main layout*/

.alert-footer {
  padding: 3px 6px;
}

.dashboard-container {
  width: 100%;
}

.header > .container, .footer > .container {
  width: 100%;
}

#content {
  padding-left: 4px;
  padding-right: 4px;
}

.header-data {
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 28px;
  border: solid 2px;
  border-radius: 4px;
  color: black;
  background-color: #AFB0B4;
  font-weight: 900;
  font-family: monospace;
}

/*#assignments td {
  padding-top: 18px;
  padding-bottom: 18px;
}

#assignments .mandatory {
  color: maroon;
}

#assignments .volunteer {
  color: navy;
}*/

#page_title {
  margin-top: 13px;
}

/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #EBEBEB;
}*/

.panel-body {
  background-color: black;
  height: 100%;
}

.panel-primary, .panel-primary > .panel-heading {
  border-color: #2c3e50;
}

.panel-primary > .panel-heading {
  background-color: #2c3e50;
  padding-top: 0px;
  padding-bottom: 0px;
}

.panel-title, .gauge-value-text {
    font-size: 30px;
    font-weight: 900;
    font-family: monospace;
    color: #AFB0B4;
}

.total_produced, .total_scrap, .total_downtime {
  font-size: 65px;
  line-height: 76px;
  font-weight: 900;
  font-family: monospace;
  color: #AFB0B4;
}

#oee_gauge, #performance_gauge, #quality_gauge, #availability_gauge {
  font-size: 65px;
  line-height: 76px;
  font-weight: 900;
  font-family: monospace;
  color: #AFB0B4;
}

/*override bootstrap column padding*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px;
}

.gauge-value-sign {
  font-size: 20px;
}

.machine-graphic-container {
  float:left;
  padding-left:12px;
  padding-right:12px;
}

.machine-label, .gauge-label {
  font-size: 16px;
  font-family:monospace;
  font-weight:900;
}

#machine_statuses, #oee {
  padding-top: 10px;
}

#machine_statuses .label {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.current-machine {
  background-color: blue;
}

.machine-image-container {
  max-height: 140px;
  max-width: 140px;
  background-position: center;
  background-size: auto 140px;
  margin-left: auto;
  margin-right: auto;
}

.machine-image-container .color-overlay {
  position:relative;
  top:0px;
  width:140px;
  height:140px;
  opacity:0;
}

.machine-image-container .color-overlay.red {
  background: red;
  opacity: 0.35;
}

.machine-image-container .color-overlay.yellow {
  background: yellow;
  opacity: 0.35;
}

.machine-image-container .color-overlay.green {
  background: green;
  opacity: 0.35;
}

.machine-image {
  max-height: 140px;
  max-width: 140px;
}

/*slideshow*/
.fill{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.slideshow-container, .carousel, .carousel-inner, .item, .active, .carousel-inner > .item > img {
  height: 100%;
}

.carousel-control.left, .carousel-control.right {
  display: none;
}

.carousel-inner > .item {
  -webkit-transition: 0.3s ease-in-out left;
  -moz-transition: 0.3s ease-in-out left;
  -o-transition: 0.3s ease-in-out left;
  transition: 0.3s ease-in-out left;
  height: 100%;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

.carousel-inner > .item > img {
  margin-left: auto;
  margin-right: auto;
}
.machine_name_div{
  display: table-cell; 
  text-align: center; 
  vertical-align: middle;
}

#app-container{
  position: relative;
}

#div_production_summary{
  position: absolute;
  bottom: -10%;
  right: 0;
}

#div_oee_numbers{
  position: absolute;
  top: 3.75%;
  right: 0%;
}

.oee_numbers, .badge, #cycle_time_container{
  font-family: monospace;
  font-weight: 700;
  color: #FFF;
  font-size: 25px;
}

.machine_selected{
  outline: #00FF00 dotted thick;
}

DIV.read.success, .success {
  background-color: limegreen !important;
}

.warning {
  background-color: orange !important;
}

.bad {
  background-color: red !important;
}
.machine_overall_oee_div{
  position: absolute; 
  top: 2%; 
  left: 77.5%; 
  font-size: 55px;
}
.machine_name_div{
  position: absolute; 
  top: 32%; 
  left: 7%; 
  font-size: 60px;
}
.single_image_container{
  position: relative; 
  display: inline-block;
}