HTML, BODY {
	font-size: 14px;
}

.navbar {
	margin-bottom: 5px;
}

.smaller-text {
	font-size: 12px;
}

.alert {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    BODY, TD, DIV {
    	font-size: 8pt;
    }
}

@media screen
{
	.only-print, .only-print * {
		display: none !important;
	}
}

TABLE.table THEAD TH.sort-active SPAN.glyphicon {
	font-weight: bold;
	color: blue;
}

.btn-group .btn {
	display: inline-block;
	float: none;
	clear: none;
}

.btn-black {
	color: #ffffff;
	background-color: #111111;
	border-color: #222222;
}

.btn-yellow {
	color: #111111;
	background-color: DarkKhaki;
	border-color: DarkKhaki;
}

.btn-xxs {
	padding: 1px 1px;
	font-size: 12px;
	line-height: 1.0;
	border-radius: 3px;
}

A.btn-timeline-task {
	display:inline;
	padding: 2.1px 6.3px 3.15px 6.3px;
	font-size: 10.5px;
	border: none;
	font-weight: bold;
}

DIV.documentation-container {
	max-height: 100px;
	overflow:auto;
}

.yellow-text {
	color: yellow;
}

/* Current Status Slide-out */
.cstat {
	background:#fff;
	color:#383838;
	border-left:1px solid rgba(224,226,234,0.53);
	bottom:0;position:fixed;
	right:-338px;
	top:150px;width:338px;z-index:1000;-webkit-transition:-webkit-transform 600ms cubic-beziercubic-bezier(0.25,0.1,0.25,1);transition:transform 600ms cubic-bezier(0.25,0.1,0.25,1);
	}
.cstat.disabled {
	right:-400px;
}
.cstat .inner {position: relative;width: 100%;height: 100%;}
.cstat .cstat-container {overflow-x: hidden;overflow-y: scroll;position: absolute;height: 100%;width: 100%;}
.cstat-loading .btn + .btn {margin-right: 4px;}
.cstat-loading .btn:last-child {margin-right: 0 !important;}
.cstat .cstat-section {padding: 1.8rem 1.8rem;}
.cstat .cstat-section:first-child {border-top: none;}
.cstat .btn.btn-bordered {height: 36px;line-height: 36px;}
.cstat-menu-style .btn {width: 60px;}
.cstat-menu-style *[data-menu-style="transparent"], .cstat-menu-style *[data-menu-style="image"] {width: 124px;}
.cstat .cstat-menu-layout, .cstat .cstat-dark-theme {border-bottom: none;padding-bottom: 0;}
.cstat .cstat-menu-style .btn + .btn {margin-right: 4px;}
.cstat .cstat-menu-style .btn + .btn + .btn + .btn {margin-right: 0;}
.cstat-menu-style .btn-cstat-transparent {width: 124px;}
.cstat h4{font-size:13px;margin:0 auto 1.1rem auto;text-align: center;font-weight: 600;letter-spacing: 2px;text-transform:none;color:#353535;}
.cstat a:not(.btn):not(.cstat-toggle) {color:#343434 !important;display:block;position:relative;width:100%}
.cstat a:not(.btn):hover{color:#000 !important;text-decoration:none!important}
.cstat .switch{margin-top:-4px}
.cstat .cstat-close{padding:7px;position:absolute;right:36px;top:20px;width:auto;z-index:10}
.cstat .cstat-toggle{
	color:#121212 !important;
	cursor:pointer;
	font-size:1.0em;
	height:40px;
	left:-50px;
	line-height:40px;
	padding-top:2px;
	position:absolute;
	text-align:center;
	top:16px;
	width:150px;
	z-index:1010;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin: left top;
	margin-top: 150px;
	}
html [class*="theme-"] .cstat a:not(.btn).cstat-toggle:hover {color:#121212 !important;}
.cstat .cstat-toggle i{padding-right:3px}
.cstat:before{opacity: 0.7;background-color:#ffe;border-bottom-left-radius:25px;border-top-left-radius:25px;border-left:1px solid rgba(224,226,234,0.53);box-shadow:-3px 2px 2px rgba(189,189,189,0.28);content:'';height:130px;left:-55px;position:absolute;top:28px;width:55px;-webkit-transition: all .2s;-moz-transition: all .2s;transition: all .2s;}
.cstat:hover:before, .cstat.open:before {opacity: 1;}
.cstat .color-options p{margin-bottom:0}
.theme-color{cursor:pointer;display:inline-block;width:26px;height:26px;margin-right:3px;position:relative;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.theme-color.active:after{color:#fff;content:"\e66f";display:inline-block;font-family:"Nucleo Outline"!important;font-size:24px;left:1px;position:absolute;text-align:center;top:-4px}
.boxed-bg.active {background: #fff !important;}
.boxed-bg.active:after{color:#464646;content:"\e66f";display:inline-block;font-family:"Nucleo Outline"!important;font-size:28px;left:3px;position:absolute;text-align:center;top:3px}
.cstat.open{-ms-transform:translate(-100%,0);-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);box-shadow:0 0 9px rgba(155,155,155,0.55);}
.boxed-bg{cursor:pointer;display:inline-block;width:38px;height:38px;margin-right:3px;position:relative;border-radius:19px;border:1px solid #C8C8C8; background: #3C3C3C;}
.cstat .cstat-layouts a {display: block;width: 62px;margin-right: 5px;float:left;margin-bottom: 5px;}
.cstat .cstat-layouts a img {width: 100%;}
.cstat-loading .btn {font-size: 0.85rem;width: 47px;}
.cstat-layouts {position: relative;}
.cstat-menu-layout > div {margin-bottom:10px;}
#screenshot.screenshot-cstat {top:-260px !important;left:-5px !important;position: fixed;z-index: 1001;}
.cstat .cstat-section.cstat-themes {padding-bottom: 0;border-bottom: none;}
.cstat-boxed-bg {display: none;margin-top: 1.5rem;}
*[data-menu-style="image"] {display: none;}
.cstat .cstat-section.cstat-buy {padding-bottom: 0.5rem;}
#reset-style {margin-top: 10px;font-weight: 600;font-size: 13px;text-align: right;}

/* Scheduling Slide-out */
.sched {
	background:#fff;
	color:#383838;
	border-right:1px solid rgba(224,226,234,0.53);bottom:0;
	position:fixed;
	left:-338px;
	top:150px;
	width:338px;
	z-index:1000;
	-webkit-transition:-webkit-transform 600ms cubic-beziercubic-bezier(0.25,0.1,0.25,1);
	transition:transform 600ms cubic-bezier(0.25,0.1,0.25,1);
}
.sched.disabled {
	left: -400px;
}
.sched .inner {position: relative;width: 100%;height: 100%;}
.sched .sched-container {overflow-x: hidden;overflow-y: scroll;position: absolute;height: 100%;width: 100%;}
.sched-loading .btn + .btn {margin-right: 4px;}
.sched-loading .btn:last-child {margin-right: 0 !important;}
.sched .sched-section {padding: 1.8rem 1.8rem;}
.sched .sched-section:first-child {border-top: none;}
.sched .btn.btn-bordered {height: 36px;line-height: 36px;}
.sched-menu-style .btn {width: 60px;}
.sched-menu-style *[data-menu-style="transparent"], .sched-menu-style *[data-menu-style="image"] {width: 124px;}
.sched .sched-menu-layout, .sched .sched-dark-theme {border-bottom: none;padding-bottom: 0;}
.sched .sched-menu-style .btn + .btn {margin-right: 4px;}
.sched .sched-menu-style .btn + .btn + .btn + .btn {margin-right: 0;}
.sched-menu-style .btn-sched-transparent {width: 124px;}
.sched h4{font-size:13px;margin:0 auto 1.1rem auto;text-align: center;font-weight: 600;letter-spacing: 2px;text-transform:none;color:#353535;}
.sched a:not(.btn):not(.sched-toggle) {color:#343434 !important;display:block;position:relative;width:100%}
.sched a:not(.btn):hover{color:#000 !important;text-decoration:none!important}
.sched .switch{margin-top:-4px}
.sched .sched-close{padding:7px;position:absolute;right:36px;top:20px;width:auto;z-index:10}
.sched .sched-toggle{
	color:#121212 !important;
	cursor:pointer;
	font-size:1.0em;
	height:40px;
	right:-50px;
	line-height:40px;
	padding-top:2px;
	position:absolute;
	text-align:center;
	top:25%;
	width:154px;
	z-index:1010;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	transform-origin: right top;
	margin-top: 140px;
	}
html [class*="theme-"] .sched a:not(.btn).sched-toggle:hover {color:#121212 !important;}
.sched .sched-toggle i{padding-right:3px}
.sched:before{opacity: 0.7;background-color:#ffe;border-bottom-right-radius:25px;border-top-right-radius:25px;border-right:1px solid rgba(224,226,234,0.53);box-shadow:-3px 2px 2px rgba(189,189,189,0.28);content:'';height:125px;right:-55px;position:absolute;top:25%;width:55px;-webkit-transition: all .2s;-moz-transition: all .2s;transition: all .2s;}
.sched:hover:before, .sched.open:before {opacity: 1;}
.sched .color-options p{margin-bottom:0}
.theme-color{cursor:pointer;display:inline-block;width:26px;height:26px;margin-right:3px;position:relative;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px}
.theme-color.active:after{color:#fff;content:"\e66f";display:inline-block;font-family:"Nucleo Outline"!important;font-size:24px;left:1px;position:absolute;text-align:center;top:-4px}
.boxed-bg.active {background: #fff !important;}
.boxed-bg.active:after{color:#464646;content:"\e66f";display:inline-block;font-family:"Nucleo Outline"!important;font-size:28px;left:3px;position:absolute;text-align:center;top:3px}
.sched.open{-ms-transform:translate(100%,0);-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);box-shadow:0 0 9px rgba(155,155,155,0.55);}
.boxed-bg{cursor:pointer;display:inline-block;width:38px;height:38px;margin-right:3px;position:relative;border-radius:19px;border:1px solid #C8C8C8; background: #3C3C3C;}
.sched .sched-layouts a {display: block;width: 62px;margin-right: 5px;float:left;margin-bottom: 5px;}
.sched .sched-layouts a img {width: 100%;}
.sched-loading .btn {font-size: 0.85rem;width: 47px;}
.sched-layouts {position: relative;}
.sched-menu-layout > div {margin-bottom:10px;}
#screenshot.screenshot-sched {top:-260px !important;left:-5px !important;position: fixed;z-index: 1001;}
.sched .sched-section.sched-themes {padding-bottom: 0;border-bottom: none;}
.sched-boxed-bg {display: none;margin-top: 1.5rem;}
*[data-menu-style="image"] {display: none;}
.sched .sched-section.sched-buy {padding-bottom: 0.5rem;}
#reset-style {margin-top: 10px;font-weight: 600;font-size: 13px;text-align: right;}
