{extends file='app_shell_full.html'} 

{block name=head append}
<link rel="stylesheet"
	href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet"
	href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css"
	type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css"
	type="text/css" />
<script type="text/javascript"
	src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript"
	src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>
{/block} 

{block name=subthing}

<script type="text/javascript"
	src="./public/scripts/lib/NYSUS.REPETITIVE.GAUGES.js"></script>
<script type="text/javascript"
	src="./public/scripts/manage/repetitive/gauges.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		Gauge Management
		<button id="btn_add_gauge" class="btn btn-xs btn-success pull-right">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;Add Gauge
		</button>
	</div>
	<div class="panel-body">
		<table id="table-gauges"
			class="table table-condensed table-striped table-hover">
			<thead>
				<tr>
					<th>Actions</th>
					<th>Description</th>
					<th>Part</th>
					<th>Parts Per Gauging</th>
					<th>Warning Offset</th>
					<th>Maximum Offset</th>
					<th>Station IP</th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>	
</div>

<!-- Edit Lot Modal -->
<div class="modal fade" id="add_gauge_modal" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Add Gauge</h4>
			</div>
			<div class="modal-body">
				<form role="form">
					<div class="row">
						<div class="form-group col-sm-4">
							<label for="description" class="control-label">Description
								<span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Description"></span>
							</label>
							<div>
								<input id="inp_description" name="description" data-field="description"
									class="form-control input-sm" placeholder="Description" />
							</div>
						</div>
						<div class="form-group col-sm-4">
							<label for="part_number" class="control-label">Part
								<span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Part Number"></span>
							</label>
							<div>
								<select id="inp_part_number" name="part_number" data-field="tool_part_id"
									class="form-control input-sm" placeholder="Part Number"></select>
							</div>
						</div>						
						<div class="form-group col-sm-3">
							<label for="parts_per_gauging" class="control-label">Parts
								Per Gauging <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Parts Per Gauging"></span>
							</label>
							<div>
								<input id="inp_parts_per_gauging" name="parts_per_gauging" type="number" data-field="parts_per_gauging"
									class="form-control input-sm" placeholder="Parts Per Lot" />
							</div>
						</div>						
						<div class="form-group col-sm-3">
							<label for="warning_offset" class="control-label">Warning
								Offset <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Warning Offset"></span>
							</label>
							<div>
								<input id="inp_warning_offset" name="warning_offset" data-field="parts_per_gauging_warning_offset"
									type="number" class="form-control input-sm"
									placeholder="Warning Offset" />
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="maximum_offset" class="control-label">Maximum
								Offset <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Maximum Offset"></span>
							</label>
							<div>
								<input id="inp_maximum_offset" name="maximum_offset" data-field="parts_per_gauging_maximum_offset"
									type="number" class="form-control input-sm"
									placeholder="Maximum Offset" />
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label for="station_ip_address" class="control-label">Station
								IP Address <span class="glyphicon glyphicon-question-sign"
								data-toggle="tooltip" title="Station IP"></span>
							</label>
							<div>
								<input id="inp_station_ip_address" name="station_ip_address" data-field="station_ip_address"
									class="form-control input-sm" placeholder="Station IP" />
							</div>
						</div>
					</div>					
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm">
					<span class="glyphicon glyphicon-ok"></span> Save
				</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="add_gauge_modal_result" tabindex="-1"
	role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Added Gauge</h4>
			</div>
			<div class="modal-body">
				<h3>Gauge Added!</h3>
				<span>Please add instructions to the new gauge and set it to active when complete.</span>
			</div>
			<div class="modal-footer">				
				<button class="btn btn-danger btn-sm" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Close
				</button>
			</div>
		</div>
	</div>
</div>

{/block}
