{extends file='app_shell_full.html'}

{block name=head append}
    <link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
    <link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
{/block}

{block name=subthing}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading">Production Summary Report</span></h2>
	</div>	
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Filter By
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-2">
					<label for="start_date" class="control-label">Start Date
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
					</label>
					<div class="">
						<input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="end_date" class="control-label">End Date
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
					</label>
					<div class="">
						<input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="system_select" class="control-label">System
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
						</select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="line_select" class="control-label">Line
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Line"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="line_select" name="line_id" placeholder="Line"></select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="model_select" class="control-label">Model
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Model"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="line_model_select" placeholder="Model" name="line_model" ></select>
					</div>
				</div>							
			</div>
			<div class="panel-footer">
				<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Daily Production Quantities
			</div>
			<div class="panel-body">
				<div class="panel-daily-chart"></div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Hourly Production
			</div>
			<div class="panel-body">
				<div class="panel-hourly-chart"></div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Production Summary Report
			</div>
			<div class="panel-body">
				<!-- <div class="loading" style="display:none;">Loading...</div> -->
				<div class="panel panel-report-date"></div>
				<table class="table table-condensed table-bordered table-striped table-prod-report">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>				
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/reports/production_summary.js"></script>
{/block}