{extends file='app_shell_full.html'}

{block name=head append}

<link rel="stylesheet" href="../../common/library/js/select2/css/select2.min.css" type="text/css" />
<script type="text/javascript" src="../common/library/js/select2/js/select2.full.min.js"></script>
{/block}

{block name=subthing}
<div class="col-md-12">
	 <div class="col-md-4">
		  <div class="panel panel-primary">
				<div class="panel-heading">
					 <h3 class="panel-title">
						  Schedule Batch Build</h3>
				</div>
				<div class="panel-body">
					 <div class="panel panel-primary">
						  <div class="panel-heading">
								<h3 class="panel-title">
									 Select Cell</h3>
						  </div>
						  <div class="panel-body">
								<select class="cell_select form-control input-md">
									 <option></option>
								</select>
						  </div>
					 </div>
					 <div class="panel panel-primary">
						  <div class="panel-heading">
								<h3 class="panel-title">
									 Select Part</h3>
						  </div>
						  <div class="panel-body">
								<select class="part_select form-control input-md" style="width:100%">
									 <option></option>
								</select>
						  </div>
					 </div>
					 <div class="panel panel-primary">
						  <div class="panel-heading">
								<h3 class="panel-title">
									 Choose Quantity</h3>
						  </div>
						  <div class="panel-body">
								<button class="quantity_button btn btn-info">
									 <span class="badge"></span>&nbsp;&nbsp;&nbsp;Create Standard Batch&nbsp;&nbsp;&nbsp;
									 <span class="glyphicon glyphicon glyphicon-th" aria-hidden="true"></span>
								</button>
						  </div>
					<div class="panel-body">
								 <!-- input-group -->
								<div class="input-group">
									 <input type="text" class="multi_qty_input form-control" placeholder="Multiple Batch Qty" value="1" />
									 <span class="input-group-btn">
										  <button class="multi_qty_button btn btn-success" type="button">
												<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create Multi-Batch
										  </button>
									 </span>
								</div>
								<!-- /input-group -->
						  </div>
						  <div class="panel-body">
								<!-- input-group -->
								<div class="input-group">
									 <input type="text" class="custom_qty_input form-control" placeholder="Custom Qty" />
									 <span class="input-group-btn">
										  <button class="custom_qty_button btn btn-success" type="button">
												<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create Batch
										  </button>
									 </span>
								</div>
								<!-- /input-group -->
						  </div>
					 </div>
				</div>
				<div class="panel-footer">
				</div>
		  </div>
	 </div>
	 <div class="col-xs-4">
		  <div class="panel panel-primary">
				<div class="panel-heading">
					 <h3 class="panel-title">
						  Current Scheduled Batches</h3>
				</div>
				<div class="panel-body">
					 <!-- batch panel -->
					 <div class="batch_panel panel panel-primary">
						  <div class="panel-heading">
								<div class="btn-group pull-right">
									 <button class="move_up btn btn-info btn-xs" type="button">
										  <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Move
										  Up
									 </button>
									 <button class="move_down btn btn-info btn-xs" type="button">
										  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Move
										  Down
									 </button>
									 <button class="delete pull-right btn btn-danger  btn-xs" type="button">
										  <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Delete
									 </button>
								</div>
								<h3 class="order_rank panel-title">
								</h3>
						  </div>
						  <div class="panel-body" style="padding: 0px;">
								<table class="build_qty table table-striped table-bordered" style="margin-bottom: 0px;">
									 <thead>
									 </thead>
									 <tbody>
										  <tr>
												<td>
													 <h6 style="margin-top: 0px; margin-bottom: 0px;">
														  <small>Part Number</small></h6>
												</td>
												<td class="part_number">
												</td>
												<td>
													 <h6 style="margin-top: 0px; margin-bottom: 0px;">
														  <small>Quantity</small></h6>
												</td>
												<td class="part_qty">
												</td>
									 </tbody>
								</table>
						  </div>
					 </div>
					 <div id="div_no_batches" class="label label-danger" style="display:none;">No batches scheduled.</div>
					 <div class="batches_scheduled">
					 </div>
				</div>
		  </div>
	 </div>
	 <div class="col-xs-4">
		  <div class="panel panel-primary">
				<div class="panel-heading">
					 <h3 class="panel-title">
						  Scheduled Batch Summary</h3>
				</div>
				<div class="panel-body">
					 <table class="batch_totals table table-striped table-bordered">
						  <thead>
								<th>
									 Part Number
								</th>
								<th>
									 Total
								</th>
						  </thead>
						  <tbody>
						  </tbody>
					 </table>
				</div>
		  </div>
	 </div>
</div>
<!-- Message Modal -->
<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Message</h4>
			</div>
			<div class="modal-body">
				<div class="well well-info">
					<h4 class="message"></h4>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-reloader" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> OK</button>
			</div>
		</div>
	</div>
</div>
<link rel="stylesheet" href="../../common/library/js/select2/css/select2.min.css" type="text/css" />
<script type="text/javascript" src="../common/library/js/select2/js/select2.full.min.js"></script>
<script type="text/javascript" src="./public/scripts/manage/batch_scheduler.js"></script>

{/block} 