{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/manage/batch_mode.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<style>
	.modal-backdrop {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1039;
	  background-color: #000000;
	}

	.modal-backdrop.fade {
	  opacity: 0;
	}

	.modal-backdrop, .modal-backdrop.fade.in {
	  opacity: 0.5;
	  filter: alpha(opacity=50);
	}

	.padded-right {
		margin-right: 3px;
	}
	.padded-left {
		margin-left: 3px;
	}

	.btn-circle {
	  width: 14px;
	  height: 14px;
	  text-align: center;
	  padding: 1px;
	  font-size: 8px;
	  line-height: 1.42;
	  border-radius: 7px;
	  margin-left: 3px;
	}
</style>
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="pull-right">
			<button class="btn btn-success btn-sm btn-add-batch-modules"><span class="glyphicon glyphicon-plus"></span> Add Batch Modules</button>
			<button class="btn btn-info btn-sm btn-show-bom-compare"><span class="glyphicon glyphicon-search"></span> Show BOM Comparison Utility</button>
		</span>
		<h3>Batch Mode Utility</h3>
		<div>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="system_select" class="control-label col-sm-2">Select System:</label>
					<div class="col-sm-3">
						<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System"></select>
					</div>
				</div>
				<div class="form-group">
					<label for="line_select" class="control-label col-sm-2">Select Line:</label>
					<div class="col-sm-3">
						<select class="form-control input-sm" id="line_select" name="line_id" placeholder="Line"></select>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="panel-body" id="div_content">
		<table id="tbl_queued" class="table table-condensed table-striped table-bordered">
			<caption>Queued Batch Modules</caption>
			<thead>
				<th>Move</th>
				<th>Module ID/Serial</th>
				<th>BOM ID</th>
				<th>Sequence</th>
				<th>Delete</th>
			</thead>
			<tbody></tbody>
		</table>
		<table id="tbl_in_progress" class="table table-condensed table-striped table-bordered">
			<caption>Batch Modules In-Progress</caption>
			<thead>
				<th>BOM ID</th>
				<th>Sequence</th>
				<th>Last Station Completed</th>
			</thead>
			<tbody></tbody>
		</table>
		<table id="tbl_built" class="table table-condensed table-striped table-bordered">
			<caption>Built Batch Modules</caption>
			<thead>
				<th>Module ID/Serial</th>
				<th>BOM ID</th>
				<th>Sequence</th>
				<th>Completed Time</th>
				<th>Delete</th>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<!-- MODALS //-->
<div class="modal fade" id="div_add_batch_modules" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Add Batch Modules</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="bom_select" class="control-label col-sm-2">Select BOM ID:</label>
						<div class="col-sm-7">
							<select class="form-control input-sm" id="bom_select" name="bom_select" placeholder="BOM ID"></select>
						</div>
					</div>
					<div id="div_bom_components" class="form-group" style="border:2px solid #dce4ec;border-radius:3px;padding:10px;margin-left:15px;"></div>
					<div class="form-group">
						<label for="inp_qty" class="control-label col-sm-2">Enter Quantity:</label>
						<div class="col-sm-2">
							<input type="number" class="form-control input-sm" id="inp_qty" name="inp_qty" placeholder="Quantity" value="1"></select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-add-modules"><span class="glyphicon glyphicon-plus"></span> Add Modules</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="div_bom_compare" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>BOM ID Comparison Utility</h4>
			</div>
			<div class="modal-body">
				<input type="checkbox" class="input-sm" id="inp_hide_common"> Hide common components?
			</div>
			<div class="modal-body">
				<table class="table table-condensed table-bordered table-striped">
					<thead>
						<tr></tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_confirm_delete_module" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Delete Built Batch Module?</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger">Are you sure you want to delete this batch module?  This should only be used if the module can no longer be found. <br><br><b>ALL DATA FOR THIS MODULE WILL BE LOST!!!!</b></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete-module"><span class="glyphicon glyphicon-trash"></span> Yes, Delete the Module and All Associated Data</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>
{/block}