{extends file='app_shell_full.html'}

{block name=subthing}

<link rel="stylesheet" type="text/css" href="./public/css/manage_styles.css"/>
<link rel="stylesheet" type="text/css" href="./public/css/DataTables/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="./public/css/DataTables/buttons.bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="./public/css/DataTables/select.bootstrap.min.css"/>

<div id="broadcastTextPanel" class="panel panel-primary">
	<div class="panel-heading">
		Import Broadcasts Utility
	</div>
	
	<div class="panel-body">  
		
		<div class="row">
			<div class="col-sm-4">
				This utility is used to insert broadcasts that are distributed via an alternate method than MQ.<br>  
				This is usually an emergency situation where the MQ connection is down or the plant is having trouble sending broadcasts.<br><br>
				To use, insert the copied text from an email or text file into the text area and click the Parse Entered Text button.  The text will be parsed
				and a list of broadcasts will be presented.  You may then select which broadcasts are inserted.<br><br>
				Once you have selected which broadcast records you would like to add, click either of the <strong>Insert Selected Messages</strong> buttons.<br><br>
				<strong>CURRENTLY ONLY USED FOR BUILD STATUS SP MESSAGES!</strong>
			</div>
		</div>
		<br>				
		<div class="form-group col-sm-12">
			
			<label for="broadcastText" class="control-label">Broadcast Text</label>			
  			
			<textarea class="form-control" rows="10" id="broadcastText" /></textarea>
			
			<div class="checkbox">
				<label><input id="isFirstRowHeader" type="checkbox" checked value="">Ignore First Row</label>			
			</div>
			
		</div>
	</div>
	
	<div class="panel-footer">
		<button id="parseBroadcastText" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span> Parse Entered Text</button>
	</div>
	
</div>

<div id="parsedResultsPanel" class="panel panel-primary" style="display: none;">
	<div class="panel-heading">
		<h3 class="panel-title">Parsed Broadcasts</h3>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table id="parsedBroadcasts" class="table table-striped table-clickable table-hover"></table>
		</div>
	</div>
	
	<div class="panel-footer">
		<button id="insertSelectedRecords" class="btn btn-success btn-xs" disabled><span class="glyphicon glyphicon-ok"></span> Insert Selected Messages</button>
	</div>
</div>

<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../common/library/js/papaparse/papaparse.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/buttons.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/dataTables.select.min.js"></script>

<script type="text/javascript" charset="utf-8" src="./public/scripts/manage/broadcast_import.js"></script>

{/block}