{extends file='app_shell_full.html'}

{block name=subthing}
<h3>
<span class="title module_vin"></span>
<span class="title module_sequence"></span>
</h3>

<div class="panel panel-info orig_broadcast">
	<div class="panel-heading">Original Broadcast</div>
	<div class="panel-body">
	</div>
</div>

<script>

var module_ID = 4;
var processor = './ajax_processors/manage/broadcast.php';

$(document).ready( init );

function init() {
	load_broadcast();
	load_components();
}

function load_broadcast() {
	$.ajax({
		url: processor,
		method: 'POST',
		data: {
			'action': 'get_broadcasts_in',			
			'module_ID': module_ID
		}
	}).done(after_load_broadcast);
}

function after_load_broadcast(jso) {
	console.log(jso);
	$('.module_vin').html('VIN: ' + jso[0].VIN);
	$('.module_sequence').html('SEQUENCE: ' + jso[0].sequence);
}

function load_components() {
	$.ajax({
		url: processor,
		method: 'POST',
		data: {
			'action': 'get_components_in',			
			'module_ID': module_ID
		}
	}).done(after_load_components);

}

function after_load_components(jso) {
	console.log(jso);
	
	$.each(jso, function(k,v) {
		$('.orig_broadcast .panel-body').append('<span class="btn btn-info" data-id="' + v.ID + '">' + v.part_number + '</span>');
	});
}

</script>
{/block}
