{extends file='app_shell_full.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/manage/broadcast_issues.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<style>
	.modal-backdrop {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1039;
	  background-color: #000000;
	}

	.modal-backdrop.fade {
	  opacity: 0;
	}

	.modal-backdrop, .modal-backdrop.fade.in {
	  opacity: 0.5;
	  filter: alpha(opacity=50);
	}

	.padded-right {
		margin-right: 3px;
	}
	.padded-left {
		margin-left: 3px;
	}

	.btn-circle {
	  width: 14px;
	  height: 14px;
	  text-align: center;
	  padding: 1px;
	  font-size: 8px;
	  line-height: 1.42;
	  border-radius: 7px;
	  margin-left: 3px;
	}

	.highlight {
		background-color: yellow;
	}

	.highlight2 {
		background-color: pink;
	}

	#tbl_current_bom TBODY TD .btn-group .btn {
		font-size:7pt;
	}

	#tbl_current_bom TBODY TR.changed TD {
		background-color: #f39c12;
	}

	.tooltip {
		position: fixed;
	}
</style>
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="pull-right btn btn-xs btn-info btn-refresh"><span class="glyphicon glyphicon-refresh"></span> Refresh</span>
		<h3>Broadcast Issue Manager</h3>
		<div>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="system_select" class="control-label col-sm-2">Select System:</label>
					<div class="col-sm-3">
						<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System"></select>
					</div>
				</div>
			</form>
		</div>
	</div>
	<table id="tbl_issues" class="table table-condensed table-striped table-bordered">
		<thead>
			<th>Issue Time</th>
			<th>Line</th>
			<th>Broadcast Type</th>
			<th>Broadcast Issue</th>
			<th>VIN</th>
			<th>Sequence</th>
			<th>Status</th>
			<th>Comments</th>
			<th>Actions</th>
		</thead>
		<tbody></tbody>
	</table>
</div>

<!-- MODALS //-->
<div class="modal fade" id="div_comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Issue Comment</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" onsubmit="return false;">
					<div class="form-group">
						<label for="bom_select" class="control-label col-sm-2">Comment:</label>
						<div class="col-sm-7">
							<input class="form-control input-sm" id="inp_comment" placeholder="Comment">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-comment"><span class="glyphicon glyphicon-floppy-disk"></span> Save Comment</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<!-- MANAGE BOM MODAL //-->
<div class="modal fade" id="div_manage_bom_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4><span class="glyphicon glyphicon-cog"></span> Manage BOM for Broadcast Issue</h4>
			</div>
			<div class="modal-body alert alert-danger alert-dismissible" style="padding:5px 20px;">
				<button style="margin-right:10px;" type="button" class="close" aria-label="Close" title="Dismiss alert...I know what I'm doing!"><span class="glyphicon glyphicon-remove-circle"></span></button>
				<div>Caution!  Changing values incorrectly will cause downtime!  Only use this utility if you understand the broadcast system.</div>
			</div>
			<div class="modal-body" style="overflow-y:auto;max-height:600px;">
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="pull-right tooltipper" title="The components as broadcasted.  Once you've selected a matching BOM, the differences will be shown."><span class="glyphicon glyphicon-question-sign"></span></div>
							<b><span class="glyphicon glyphicon-bullhorn"></span> Broadcasted BOM Components</b>
						</div>
						<table class="table table-condensed table-bordered" id="tbl_current_bom">
							<thead>
								<tr>
									<th>Part Number</th>
									<th>Quantity</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="pull-right tooltipper" title="After selecting a matching BOM from the list to the right, the list of components for that BOM ID."><span class="glyphicon glyphicon-question-sign"></span></div>
							<b id="b_matching_bom"><span class="glyphicon glyphicon-random"></span> Matching BOM Components</b>
						</div>
						<table class="table table-condensed table-bordered" id="tbl_matching_bom">
							<thead>
								<tr>
									<th>Part Number</th>
									<th>Quantity</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td colspan="2"><i>Select a matching BOM</i></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<b><span class="glyphicon glyphicon-search"></span> Find Similar Matching BOMs</b>
						</div>
						<table class="table table-condensed table-bordered" id="tbl_matching_BOMs">
							<thead>
								<tr>
									<th>BOM ID</th>
									<th>% Root PN Match</th>
									<th>View</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
					<div class="panel panel-success" style="position:fixed;bottom:70px;right:20px;width:33%;">
						<div class="panel-heading">
							<span class="btn btn-info btn-xs pull-right btn-load-actions-from-preview"><span class="glyphicon glyphicon-share"></span> Load Actions from Preview Fix</span>
							<b><span class="glyphicon glyphicon-record"></span> Actions To Take</b>
						</div>
						<table class="table table-condensed table-bordered" id="tbl_actions">
							<thead>
								<tr>
									<th>Part Number</th>
									<th>Action</th>
									<th>Remove</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="panel-footer" id="div_new_bom">
							<span class="tooltipper" title="If the corrected set of actions and broadcasted BOM components are a valid combination that will be broadcasted going forward, check to generate a new BOM ID.  If this is a temporary correction, leave unchecked."><span class="glyphicon glyphicon-question-sign"></span></span>
							<b>Create new BOM ID based on the broadcasted BOM and any actions?</b> <input type="checkbox" class="input-sm" id="inp_new_bom">
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-mark-fixed"><span class="glyphicon glyphicon-floppy-disk"></span> Save Actions and Mark Fixed</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_change_rev_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Change Revision Level</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" onsubmit="return false;">
					<div class="form-group">
						<label for="bom_select" class="control-label col-sm-2">Old Revision:</label>
						<div class="col-sm-7" id="div_old_rev"></div>
					</div>
					<div class="form-group">
						<label for="bom_select" class="control-label col-sm-2">New Revision:</label>
						<div class="col-sm-7">
							<input class="form-control input-sm" id="inp_new_revision" maxlength="2">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-rev-change"><span class="glyphicon glyphicon-floppy-disk"></span> Save Revision Level Change</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_change_qty_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Change Quantity</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" onsubmit="return false;">
					<div class="form-group">
						<label for="bom_select" class="control-label col-sm-2">Old Quantity:</label>
						<div class="col-sm-7" id="div_old_qty"></div>
					</div>
					<div class="form-group">
						<label for="bom_select" class="control-label col-sm-2">New Quantity:</label>
						<div class="col-sm-7">
							<input class="form-control input-sm" id="inp_new_qty" maxlength="1" type="text">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-qty-change"><span class="glyphicon glyphicon-floppy-disk"></span> Save Quantity Change</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_confirm_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Delete Part?</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to remove this part?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete"><span class="glyphicon glyphicon-floppy-disk"></span> Yes, Delete Part</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No, Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_change_part_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Change Whole Part Number</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" onsubmit="return false;">
					<div class="form-group">
						<label for="bom_select" class="control-label col-sm-2">Old Part Number:</label>
						<div class="col-sm-7" id="div_old_part"></div>
					</div>
					<div class="form-group">
						<label for="bom_select" class="control-label col-sm-2">New Part Number:</label>
						<div class="col-sm-7">
							<input class="form-control input-sm" id="inp_new_part" maxlength="10" type="text">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-part-change"><span class="glyphicon glyphicon-floppy-disk"></span> Save Part Number Change</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>




<div class="modal fade" id="div_view_bom_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4><span class="glyphicon glyphicon-cog"></span> View BOM and Actions</h4>
			</div>
			<div class="modal-body" style="overflow-y:auto;max-height:600px;">
				<div class="col-md-4">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<div class="pull-right tooltipper" title="The components as broadcasted."><span class="glyphicon glyphicon-question-sign"></span></div>
							<b><span class="glyphicon glyphicon-bullhorn"></span> Broadcasted BOM Components</b>
						</div>
						<table class="table table-condensed table-bordered" id="tbl_view_current_bom">
							<thead>
								<tr>
									<th>Part Number</th>
									<th>Quantity</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="col-md-4">
					<div class="panel panel-success">
						<div class="panel-heading">
							<b><span class="glyphicon glyphicon-record"></span> Actions Taken</b>
						</div>
						<table class="table table-condensed table-bordered" id="tbl_view_actions">
							<thead>
								<tr>
									<th>Part Number</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="panel-footer">
							New BOM ID generated?
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>
{/block}