{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/manage/containers.js"></script>
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h5>Manage Tares/Containers</h5>
	</div>
	<div class="panel-body" id="div_content">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="selLine" class="col-sm-2 control-label">Line</label>
				<div class="col-sm-10">
					<select class="form-control input-sm" id="selLine"></select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default btn-sm disabled" id="btn-load">Load Current/Recent Tare/Containers</button>
					<span id="sp_loading" style="display:none;"></span>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default main_list" id="div_current" style="display:none;">
	<div class="panel-heading">
		Current In-Progress Tares/Containers
	</div>
	<div class="panel-body overflowed">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>Expand Containers</th>
					<th>Part Type</th>
					<th>Part Number</th>
					<th>Time Started</th>
					<th>Total Parts</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<div class="panel panel-default main_list" id="div_recent" style="display:none;">
	<div class="panel-heading">
		Recent Tares/Containers
	</div>
	<div class="panel-body overflowed">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>Expand Containers</th>
					<th>Serial</th>
					<th>Part Type</th>
					<th>Part Number</th>
					<th>Time Completed</th>
					<th>Total Parts</th>
					<th>Verified?</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>
<div class="panel panel-default main_list" id="div_partials" style="display:none;">
	<div class="panel-heading">
		Partial Containers
	</div>
	<div class="panel-body overflowed">
		<table class="table table-condensed table-bordered">
			<thead>
				<tr>
					<th>Expand Parts</th>
					<th>Serial</th>
					<th>Part Type</th>
					<th>Part Number</th>
					<th>Time Started</th>
					<th>Total Parts</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<!-- MODALS //-->
<div class="modal fade" id="div_part_history_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Part History</h4>
			</div>
			<div class="modal-body" style="overflow:auto;">
				<table id="tbl_part_history" class="table table-condensed table-striped" style="font-size:8pt;">
					<thead>
						<tr>
							<th>Station</th>
							<th>Start Time</th>
							<th>End Time</th>
							<th>Operator</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Confirm Whatever</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> Ok, Do Whatever</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>
{/block}