{extends file='app_shell.html'}

{block name=subthing}

<style>
	.btn.active, .btn:active {
		background-color: #18bc9c;
	}
</style>
<link rel="stylesheet" href="../../common/library/css/select2.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />

<div class="panel panel-primary" id="nys">
	<div class="panel-heading">
		<h4>Downtime</h4>
	</div>
	<div class="panel-body">
			<div class="report-parameters"></div>
				<div id="div_downtime">
					<div class="content">
						<div id="div_downtime_content">
							<div id="div_downtime_info">
								<table id="tbl_downtime" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Machine</th>
											<th>Reason</th>
											<th>Start of Downtime</th>
											<th>Duration</th>
											<th>Record Reason</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>		
	</div>
	
</div>

<!-- DOWNTIME MODAL //-->
<div class="modal fade" id="div_modal_downtime">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Record Downtime</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading"><b>Downtime Details</b></div>
					<div class="panel-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div class="col-sm-3 control-label"><b>Machine:</b></div>
								<div class="col-sm-9 control-label lefty" id="div_dt_machine"></div>
							</div>
							<div class="form-group">
								<div class="col-sm-3 control-label"><b>Start Time:</b></div>
								<div class="col-sm-9 control-label lefty" id="div_dt_start_time"></div>
							</div>
							<div class="form-group">
								<div class="col-sm-3 control-label"><b>Duration:</b></div>
								<div class="col-sm-9 control-label lefty" id="div_dt_duration"></div>
							</div>
							<div class="form-group">
								<div class="col-sm-3 control-label"><b>Select Reason:</b></div>
								<div id="div_cur_chain"></div>
								<div class="col-sm-9 btn-group" id="div_dt_reason"></div>
							</div>
							<input type="hidden" id="txt_dt_reason" value="">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<span class="pull-left"><span class="glyphicon glyphicon-lock"></span> - indicates team leader required</span>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
				<button type="button" class="btn btn-success" id="div_downtime_save"><span class="glyphicon glyphicon-floppy-disk"></span> Save Downtime Reason</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--SPLIT DOWNTIME MODAL //-->
<div class="modal fade" id="div_modal_downtime_split">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Split Downtime</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading"><b>Downtime Details</b></div>
					<div class="panel-body">
						<div id="main_info">
							<div class="col-sm-12">
								<div class="col-sm-2"><b>Machine:</b></div>
								<div class="col-sm-4" id="p_dt_machine"></div>
								<div class="col-sm-2"><b>Reason:</b></div>
								<div class="col-sm-4" id="p_dt_reason"></div>
							</div>
							<div class="col-sm-12">
								<div class="col-sm-2"><b>Start Time:</b></div>
								<div class="col-sm-4" id="p_dt_start_time"></div>
								<div class="col-sm-2"><b>Duration:</b></div>
								<div class="col-sm-4" id="p_dt_duration"></div>
							</div>
						</div>
					<div class="col-sm-12">&nbsp;&nbsp;</div>
					<div><h3>Split Downtime : </h3></div>
					<div class="split-parameters">
						<div class="col-md-5 form-group">
							<label class="control-label" for="event-length">
								Length of Event (In Minutes)&nbsp;&nbsp;
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="In Minutes"></span>
							</label>
							<div class="control-body">
								<input type="number" class="form-control nysus_labeled_control" id="event-length" style="width: 130px;" value="0" min="0"/>
							</div>
						</div>
						<div class="col-md-5 form-group">
							<label class="control-label" for="event-length">
								Event Start at Beginning&nbsp;&nbsp;
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="If NOT checked will take time from ending"></span>
							</label>
							<div class="control-body">
								<input type="checkbox" class="form-control nysus_labeled_control" id="event-begin" checked="TRUE" style="width: 25px; height: 25px;"/>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<button class="btn btn-success btn-sm pull-right split-downtime"><span class="glyphicon glyphicon-record"></span>&nbsp; Split</button>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
					
<script type="text/javascript" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="./public/scripts/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-labeled-control.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-date-input.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/manage/downtime.js"></script>

{/block}
