{extends file='app_shell_full.html'}

{block name=head append}
		<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
		
{/block}

{block name=subthing}
	<div class="col-md-12">

			<div class="panel panel-primary">
				<div class="panel-heading">
					Filter By
				</div>
				<div class="panel-body">
					<div class="row">
					</div>
					<div class="row">
						<div class="form-group col-md-3">
							<label for="start_date" class="control-label">Start Date
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
							</label>
							<div>
								<input type="datetime-local" class="form-control input-sm" id="start_date" placeholder="Start Date">
							</div>
						</div>
						<div class="form-group col-md-3">
							<label for="end_date" class="control-label">End Date
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
							</label>
							<div>
								<input type="datetime-local" class="form-control input-sm" id="end_date" placeholder="End Date">
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button class="btn btn-success btn-xs btn-run" disabled><span class="glyphicon glyphicon-ok"></span> Load Tests</button>
				</div>

			</div>


		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Recent Ash Tester Results</h3>
			</div>
			<div class="panel-body">

				<div class="table-responsive">
					<table id="tests_table" class="table table-striped table-clickable table-hover"></table>
				</div>

			</div>
		</div>

	</div>


	<!-- Main Modal -->
	<div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="main_modal_title"></h4>
				</div>
				<div class="modal-body" id="div_modal_content">
				</div>
				<div class="modal-footer">
					<div id="div_modal_btns"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Comment/Image modal -->
	<div class="modal fade" id="cmt_img_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" id="div_upload_container">
			<div class="modal-content">
				<div class="panel panel-primary" style="margin-bottom: 0px;border: 0 0 0 0;">
					<div class="panel-heading">Comment and/or Image</div>
					<div class="panel-body">
						<div class="row">
							<div class="form-group col-sm-9">
								<label for="inp_comment" class="control-label">Comment
									<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="comment"></span>
								</label>
								<div>
									<textarea class="span6" rows="4" id="inp_comment" name="comment" placeholder="Request comments" style="max-width:100%;max-height:250px;min-width:250px;min-height:100px;width:75%;"></textarea>
								</div>
							</div>
							<div class="form-group col-sm-3">
								<div id="img_container">
									<img src="public/images/no_image.png" class="img-thumbnail" id="requestImg">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12" id="request_image_files">
								<span id="sp_file_selected" ></span>
								<input type="hidden" id="inpImageFile" value="">
							</div>
					</div>

					<div class="panel-footer" style="min-height:50px;">
						<button type="button" class="btn btn-danger btn-sm pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<link type="text/css" rel="stylesheet" href="/common/library/js/dataTables/extensions/TableTools/css/buttons.dataTables.min.css" />
	<link type="text/css" rel="stylesheet" href="./public/css/report_styles.css" />
	<link type="text/css" rel="stylesheet" href="./public/css/lot_tracking.css" />

	<script type="text/javascript" src="./public/scripts/lib/NYSUS.COMMON.REPORT.JS"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.minNew.js"></script>
	<script type="text/javascript" charset="utf-8" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/buttons.html5.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/jszip/dist/jszip.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/pdfmake.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/vfs_fonts.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

	<!-- <script type="text/javascript" src="../common/library/js/ajax_select.js"></script> -->
	<script type="text/javascript" src="./public/scripts/util.js"></script>
	<script type="text/javascript" src="./public/scripts/manage/lot_tracking.js"></script>
{/block}
