{extends file='app_shell.html'}

{block name=subthing}
<link rel="stylesheet" href="./public/css/machine_monitor.css" />

<div class="container col-lg-12">
	<div class="panel panel-primary">
		<div class="panel-heading">
			Select Machine
			<span class="glyphicon glyphicon-question-sign info">
				<div class="panel-body table-responsive info-content" id="info-machine">
					<table class="table table-condensed info-content">
						<tbody>
							<tr class="btn-success selected-press">
								<td>Currently selected machine</td>
							</tr>
							<tr class="btn-success">
								<td>Machine is operating</td>
							</tr>
							<tr class="btn-default">
								<td>Machine is reported as down</td>
							</tr>
						</tbody>
					</table>
				</div>
			</span>
			<button class="btn btn-default pull-right" id="refresh-all" style="padding: 0px 5px 0px 5px;margin: -3px 0px 0px 10px;" disabled><span class="glyphicon glyphicon-refresh"></span></button>
			<label class="checkbox-inline pull-right">
				<input type="checkbox" class="auto-refresh fancy" style="margin:0px 0px 0px -30px;" checked> Auto-refresh (10s)
			</label>
			<div class="progress" style="width:190px;margin:10px 0px 5px calc(100% - 190px);display:block;">
				<div class="progress-bar" role="progressbar" style="background-color:steelblue;width:0%;">
					<!-- <span class="sr-only">0s</span> -->
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="btn-toolbar machine-select" style="text-align: center;">
			</div>
		</div>
	</div>
</div>
<div class="container col-lg-3">
	<div class="panel panel-primary">
		<div class="panel-heading">Machine Parameters
			<span class="glyphicon glyphicon-question-sign info">
				<div class="panel-body table-responsive info-content" id="info-param">
					<table class="table table-condensed info-content">
						<tbody>
							<tr class="param param-select">
								<td>Currently selected parameter</td>
							</tr>
							<tr class="param">
								<td>Parameter Within Control Limits</td>
							</tr>
							<tr class="param warning">
								<td>Parameter Exceeded Default Control Limit</td>
							</tr>
							<tr class="param danger">
								<td>Parameter Exceeded Specific Control Limit</td>
							</tr>
						</tbody>
					</table>
				</div>
			</span>
		</div>
		<div class="panel-body table-responsive" style="max-height: 615px;">
			<table class="table table-hover table-condensed" style="border-collapse: separate;">
				<tbody class="machine-params">
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="container col-lg-6">
	<div class="panel panel-primary">
		<div class="panel-heading">Current Alerts</div>
		<div class="panel-body table-responsive" style="max-height: 615px;">
			<table class="table table-hover" id="tbl-alerts">
				<thead>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="container col-lg-3">
	<div class="panel panel-primary">
		<div class="panel-heading">Alert Configuration</div>
		<div class="panel-body alert-config" style="max-height: 575px;">
			<form class="form-horizontal" id="alert-config" onsubmit="event.preventDefault();">
				<div class="form-group">
					<label class="control-label col-lg-4">Machine: </label>
					<label class="control-label col-lg-8" id="machine-lbl"></label>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4">Tool: </label>
					<label class="control-label col-lg-8" id="tool-lbl"></label>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4">Data Point: </label>
					<label class="control-label col-lg-8" id="datapt-lbl"></label>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" for="upper-limit">Upper Limit:</label>
					<div class="col-lg-8">
						<input type="textbox" class="form-control" id="upper-limit">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" for="lower-limit">Lower Limit:</label>
					<div class="col-lg-8">
						<input type="textbox" class="form-control" id="lower-limit">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4" for="sel-severity">Severity:</label>
					<div class="col-lg-8">
						<select class="form-control" id="sel-severity">
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-lg-4">Alert Active:</label>
					<div class="col-lg-8">
						<input type="checkbox" class="fancy" id="alrt-active"></label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-8 col-xs-3">
						<button class="btn btn-default btn-save-alert pull-right" disabled>Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container col-lg-12">
	<div class="panel panel-primary">
		<div class="panel-heading">Parameter Graph <a href="#" onclick="event.preventDefault();" class="pull-right"><span class="glyphicon glyphicon-chevron-down show-pgraph" style="color: white;"></span></a></div>
		<div class="panel-body collapse" id="collapse-me" style="height: 30px;">
			<div id="param-chart" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.minNew.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="./public/scripts/manage/machine_monitor.js"></script>
{/block}