{extends file='app_shell.html'}


{block name=subthing}
<link rel="stylesheet" href="./public/css/upload.css" type="text/css" />
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />

<div id="content">

	<h2 class="page-header">Manage Dashboard</h2>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4 class="panel-title">Slides</h4>
		</div>
		<div class="panel-body">

			<div class="panel-group" id="machine_group_accordion" role="tablist" aria-multiselectable="true"></div>
<!-- 			<div id="slides_panel" class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h3 class="panel-title pull-left">Slides</h3>
					<div class="btn-add-slide btn btn-info btn-xs pull-right" data-action="insert_slide">
						<span class="glyphicon glyphicon-plus"></span> Add Slide
					</div>
				</div>
				<div class="panel-body" id="div_content">
					<div class="table-responsive">
					  <table id="slides_table" class="table table-condensed table-striped">
						<thead>
							<tr>
								<th>Order</th>
								<th>Image</th>
								<th>Duration</th>
								<th>Active</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody></tbody>
					  </table>
					</div>
				</div>
			</div> -->

		</div>
	</div>

</div>


<div class="modal fade" id="edit_slide_modal" tabindex="-1" role="dialog" aria-labelledby="edit_slide_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">

			<form>

				<div class="form-group col-sm-3">
					<label for="slide_order_input" class="control-label">Order
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Order"></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="slide_order_input" name="slide_order" type="text" placeholder="Order">
					</div>
				</div>

				<div class="form-group col-sm-3">
					<label for="duration_input" class="control-label">Duration
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Duration"></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="duration_input" name="duration" type="text" placeholder="Duration">
					</div>
				</div>

				<div class="form-group col-sm-3">
					<label for="active_checkbox" class="control-label">Active
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Active"></span>
					</label>
					<div>
						<div class="checkbox">
							<label>
								<input id="active_checkbox" type="checkbox" name="active"> Active
							</label>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>

			</form>

			<form id="image_form" class="upload-form image-form">

				<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 upload-group">
					<div class="col-md-12">
						<label class="control-label"> Slide Image
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Slide Image"></span>
						</label>
					</div>
					<div class="col-md-12">
						<div class="input-group">
							<span class="input-group-btn">
								<span class="btn btn-default btn-file btn-sm">
									Browse <input name="file" type="file" multiple placeholder="Slide Image">
								</span>
							</span>
							<input type="text" class="form-control input-sm" readonly>
						</div>
						<progress value="0" max="100" style="display:none; width: 100%;"></progress>
					</div>
					<div class="col-md-12">
						<div class="image-preview" style="display: none;"><img src="#" alt="image preview" width="100%" /></div>
					</div>
				</div>
			</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="remove_slide_modal" tabindex="-1" role="dialog" aria-labelledby="remove_slide_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Remove Slide</h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Remove the selected slide?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/manage/machine_production_dashboard.js"></script>

{/block}