{extends file='app_shell_full.html'}

{block name=subthing}
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<link rel="stylesheet" href="/common/library/js/dhtmlxscheduler/dhtmlxscheduler.css" type="text/css" />

<style>
	.badge-left-spaced {
		margin-left: 5px;
	}

	.label-as-badge {
		font-size: 14px;
	}

	.scheduler_wrapper {
	    height: 700px;
	    width: 100%;
	}

	.event_batch{
		background-color:lightsteelblue !important;
	}

	.event_tool_change{
		background-color:orange !important;
	}

	.dhx_cal_event .dhx_body, .dhx_cal_event_line {
		font-size: 14pt;
		color: black;
		padding-top: 10px;
	}
</style>

<div class="page-header">
	<h1 class="page-header-title">Machine Scheduler</h1>
</div>

<div class="container-fluid">
	<div class="form-group col-sm-2">
		<label for="system_select" class="control-label">System
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
		</label>
		<div class="">
			<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
			</select>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label for="system_select" class="control-label">Machine
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Machine to manage the schedules for"></span>
		</label>
		<div class="">
			<select class="form-control input-sm" id="machine_select" name="machine_ID" placeholder="Machine">
			</select>
		</div>
	</div>
</div>

<div id="main_container" class="col-sm-12">
	<div class="row">
		<div class="" style="height:700px;width:100%;">
			<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
				<div class="dhx_cal_navline">
					<div class="dhx_cal_prev_button">&nbsp;</div>
					<div class="dhx_cal_next_button">&nbsp;</div>
					<div class="dhx_cal_today_button"></div>
					<div class="dhx_cal_date"></div>
					<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
					<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
					<div class="dhx_cal_tab" name="timeline_tab" style="right:280px;"></div>
					<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
				</div>
				<div class="dhx_cal_header">
				</div>
				<div class="dhx_cal_data">
				</div>
			</div>
		</div>
	</div>


</div>

{include file='snippets/modal_confirmation.html'}

<script type="text/javascript" src="./public/scripts/util.js"></script>
<script type="text/javascript" src="./public/scripts/manage/machine_scheduler.js"></script>
<script type="text/javascript" src="/common/library/js/dhtmlxscheduler/dhtmlxscheduler.js"></script>
<script type="text/javascript" src="/common/library/js/dhtmlxscheduler/ext/dhtmlxscheduler_timeline.js"></script>
<script type="text/javascript" src="/common/library/js/dhtmlxscheduler/ext/dhtmlxscheduler_limit.js"></script>
{/block}
