{extends file='app_shell.html'}

{block name=head append}
{/block}

{block name=subthing}
    <div class="container-fluid">
    	<div class="row-fluid">    		
    		<div class="col-lg-3">
    			<div class="well sidebar-nav">
          	<input type="text" class="form-control search" placeholder="Search"></input><br />          
            <ul class="nav nav-list">             
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="col-md-9 col-sm-9 content">
        	<div class="well machine"></div>
        	<div class="machine-tools"></div>					
        </div> <!-- content -->
      </div> <!-- row-fluid -->
    </div> <!-- /container-fluid -->
    
    <!-- colnable tool template -->
    <div class="clonable-tool-control" style="display:none">
	    <div class="alert alert-danger btn-tool col-md-12" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="">
	    	<span class="tool-title"></span>
	    	<a href="#" class="btn btn-success btn-xs btn-edit-tool pull-right"><span class="glyphicon-edit"> Edit</span></a>
	    </div>
			<div class="collapse">
			  <div class="panel">
			  	<div class="panel-body">
				  	<div class="row">
				  		<div class="panel panel-info panel-parts">
				  			<div class="panel-heading clearfix">
				  				<div class="panel-title parts-title pull-left">Parts</div>
				  				<div class="btn-group pull-right">
							        <a href="#" class="btn btn-success btn-xs btn-new-part"><span class="glyphicon-plus"> Add</span></a>							        
							    </div>
				  			</div>
				  			<div class="panel-body panel-body-parts">
				  			</div>				  			
				  		</div>
				  	</div>
				  	<div class="row">
				  		<div class="panel panel-warning panel-tools">
				  			<div class="panel-heading">
				  				<div class="panel-title subtools-title">Sub-Tools</div>
				  			</div>
				  			<div class="panel-body panel-body-sub-tools">				  				
				  			</div>				  			
				  		</div>
				  	</div>
			  	</div>	    
			  </div>
			</div>
		</div>
    
    <!-- modal add/edit tools -->
    <div class="modal fade tool-modal" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Edit Tool</h4>
					</div>
					<div class="modal-body clearfix">
						<div class="form-group col-sm-4">
	    				<label for=".tool_description" class="control-label">Tool Description
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Tool Description"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control tool-tool-description" placeholder="Tool Description">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-4">
	    				<label for=".tool-cycle-time" class="control-label">Cycle Time
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Cycle Time"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control tool-cycle-time" placeholder="Cycle Time">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-2">
	    				<label for=".tool-active" class="control-label">Active
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Active"></span>
	     				</label>
	     				<div class="">
	    				  <input type="checkbox" class="form-control tool-active" placeholder="Active">
	     				</div>
	     			</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success btn-sm btn-save" data-dismiss="modal"><span class="glyphicon glyphicon-pencil"></span> Save</button>
						<button class="btn btn-danger btn-sm btn-close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
					</div>
				</div>
			</div>
		</div>
    
    <!-- modal add/edit tool_parts -->
    <div class="modal fade parts-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Add/Edit Part</h4>
					</div>
					<div class="modal-body clearfix">
						
						<div class="form-group col-sm-4">
	    				<label for=".part-number" class="control-label">Part Number
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part Number"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-number" placeholder="Part Number">
	     				</div>
	     			</div>
						<div class="form-group col-sm-4">
	    				<label for=".part-description" class="control-label">Part Description
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part Description"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-description" placeholder="Part Description">
	     				</div>
	     			</div>	     			
	     			<div class="form-group col-sm-4">
	    				<label for=".part-operation" class="control-label">Operation
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operation"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-operation" placeholder="Operation">
	     				</div>
	     			</div>	     			
	     			<div class="form-group col-sm-4">
	    				<label for=".part-mrp-part-number" class="control-label">MRP Part Number
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="MRP Part Number"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-mrp-part-number" placeholder="MRP Part Number">
	     				</div>
	     			</div>	     			
	     			<div class="form-group col-sm-4">
	    				<label for=".part-image" class="control-label">Part Image
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part Image"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-image" placeholder="Part Image">
	     				</div>
	     			</div>	     			
	     			<div class="form-group col-sm-4">
	    				<label for=".part-parts-per-tool" class="control-label">Parts Per Tool
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Parts Per Tool"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-parts-per-tool" placeholder="Parts Per Tool">
	     				</div>
	     			</div>	     			
	     			<div class="form-group col-sm-4">
	    				<label for=".part-scrap-cost" class="control-label">Scrap Cost
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Scrap Cost"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-scrap-cost" placeholder="Scrap Cost">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-4">
	    				<label for=".part-sub-tool-order" class="control-label">Subtool Order
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Subtool Order"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-sub-tool-order" placeholder="Subtool Order">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-4">
	    				<label for=".part-cur-rack-count" class="control-label">Current Rack Count
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Current Rack Count"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-cur-rack-count" placeholder="Current Rack Count">
	     				</div>
	     			</div>	     			
	     			<div class="form-group col-sm-4">
	    				<label for=".part-active-start" class="control-label">Active Start
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Active Start"></span>
	     				</label>
	     				<div class="">
	    				  <input type="date" class="form-control input-sm part-active-start" placeholder="Active Start">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-4">
	    				<label for=".part-active-end" class="control-label">Active End
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Active End"></span>
	     				</label>
	     				<div class="">
	    				  <input type="date" class="form-control input-sm part-active-end" placeholder="Active End">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-4">
	    				<label for=".part-last-update" class="control-label">Last Update
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Last Update"></span>
	     				</label>
	     				<div class="">
	    				  <label class="form-control input-sm part-last-update" placeholder="Last Update">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-4">
	    				<label for=".part-standard-pack-qty" class="control-label">Standard Pack Qty
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Standard Pack Qty"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-standard-pack-qty" placeholder="Standard Pack Qty">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-4">
	    				<label for=".part-part-weight" class="control-label">Part Weight
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part Weight"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-part-weight" placeholder="Part Weight">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-4">
	    				<label for=".part-box-weight" class="control-label">Box Weight
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Box Weight"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-box-weight" placeholder="Box Weight">
	     				</div>
	     			</div>	     			     			
	     			<div class="form-group col-sm-4">
	    				<label for=".part-mrp-company-code" class="control-label">MRP Company Code
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="MRP Company Code"></span>
	     				</label>
	     				<div class="">
	    				  <input type="input" class="form-control input-sm part-mrp-company-code" placeholder="MRP Company Code">
	     				</div>
	     			</div>
						<div class="form-group col-sm-2">
	    				<label for=".part-serialized" class="control-label">Serialized
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Serialized"></span>
	     				</label>
	     				<div class="">
	    				  <input type="checkbox" class="form-control part-serialized" placeholder="Serialized">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-2">
	    				<label for=".part-zoned" class="control-label">Zoned
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Zoned"></span>
	     				</label>
	     				<div class="">
	    				  <input type="checkbox" class="form-control part-zoned" placeholder="Zoned">
	     				</div>
	     			</div>
	     			<div class="form-group col-sm-2">
	    				<label for=".part-active" class="control-label">Active
	     				  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Active"></span>
	     				</label>
	     				<div class="">
	    				  <input type="checkbox" class="form-control part-active" placeholder="Active" checked>
	     				</div>
	     			</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success btn-sm btn-save" data-dismiss="modal"><span class="glyphicon glyphicon-pencil"></span> Save</button>
						<button class="btn btn-danger btn-sm btn-close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
					</div>
				</div>
			</div>
		</div>
		
		<!-- machine production targets modal -->
		<div class="modal fade machine-production-targets" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Edit Machine Production Targets</h4>
					</div>
					<div class="modal-body clearfix row">										
					</div>
					<div class="modal-footer">
						<button class="btn btn-success btn-sm btn-save" data-dismiss="modal"><span class="glyphicon glyphicon-pencil"></span> Save</button>
						<button class="btn btn-danger btn-sm btn-close" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="./public/scripts/manage/machine_setup.js"></script>
{/block}