{extends file='app_shell.html'}



{block name=subthing}
<script type="text/javascript" src="./public/scripts/manage/issues.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Manage Issues</h4>		
	</div>
	<!--
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Report Parameters
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="selLine" class="col-sm-2 control-label">System/Line</label>
						<div class="col-sm-10">
							<select class="form-control" id="selLine"></select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Run Report</button>
						</div>
					</div>
				</form>
			</div>
		</div>
-->
        <div class="panel-body">		
			<div class="col-md-12">
				<button class="btn btn-success btn-sm btn-new" style="float:right; margin-bottom: 12px;"><span class="glyphicon glyphicon-plus-sign"></span> New Issue</button>
			</div>
			<div class="col-md-12">
                <div class="table-responsive">
				<table class="table table-condensed table-striped" id="tbl_issues" style="display:;">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>
				</table>
                </div>
			</div>
        </div>
	</div>
	
	<!-- Edit Dialog //-->
	<div class="modal fade" id="div_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="">Issue Ticket</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<p>Create / Update Issue</p>
						<div class="well well-info col-md-12">
							<div class="form-group">
								<label for="inpLineID" class="col-sm-4 control-label">Line ID
									<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The Line ID"></span>
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-sm" id="inpLineID" placeholder="Line ID">
								</div>
							</div>
							<div class="form-group">
								<label for="inpStationID" class="col-sm-4 control-label">Station ID
									<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The Station ID"></span>
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-sm" id="inpStationID" placeholder="Station ID">
								</div>
							</div>
							<div class="form-group">
								<label for="inpCreatedBy" class="col-sm-4 control-label">Created By
									<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Created By"></span>
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-sm" id="inpCreatedBy" placeholder="Created By">
								</div>
							</div>						
							<div class="form-group">
								<label for="inpResolvedBy" class="col-sm-4 control-label">Resolved By
									<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Resolved By"></span>
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-sm" id="inpResolvedBy" placeholder="Resolved By">
								</div>
							</div>
							<div class="form-group">
								<label for="inpDescription" class="col-sm-4 control-label">Description
									<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Description"></span>
								</label>
								<div class="col-sm-8">
									<input type="text" class="form-control input-sm" id="inpDescription" placeholder="Description">
								</div>
							</div>
							<div class="form-group">
								<label for="inpStartDate" class="col-sm-4 control-label">Start Date
									<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
								</label>
								<div class="col-sm-8">
									<input type="date" class="form-control input-sm" id="inpStartDate" placeholder="Start Date">
								</div>
							</div>

							<div class="form-group">
								<label for="inpResolvedDate" class="col-sm-4 control-label">Resolved Date
									<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Resolved Date"></span>
								</label>
								<div class="col-sm-8">
									<input type="date" class="form-control input-sm" id="inpResolvedDate" placeholder="Resolved Date">
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> Commit</button>
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Delete Modal -->
	<div class="modal fade" id="div_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="">DELETE Issue Ticket</h4>
				</div>
				<div class="modal-body">
					<p>DELETE Issue</p>
					<div class="well well-info">
						<h4>Are you sure you want to DELETE this issue permanently?</h4>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> DELETE ISSUE</button>
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}