{extends file='app_shell.html'}

{block name=subthing}
	
<link href="./public/css/themes/redmond/jtable.css" rel="stylesheet" type="text/css" />
<link href="./public/css/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />

<script src="./public/scripts/jquery-ui.min.js" type="text/javascript"></script>
<script src="./public/scripts/jquery.jtable.min.js" type="text/javascript"></script>
<script src="./public/scripts/manage/production_dashboard.js" type="text/javascript"></script>
	
<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">Manage Hourly Requirements</h3>
	</div>
	<div class="panel-body" id="div_content">
		<div class="panel-body">
			<div id="tbl_editor"></div>			
		</div>
	</div>
</div>
{/block}