{extends file='app_shell_full.html'}

{block name=head append}
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
{/block}

{block name=subthing}
<div class="col-md-12">

	<div class="panel panel-primary">
		<div class="panel-heading">
			Module Hold Queue Manager - Filter By
		</div>
		<div class="panel-body">
			<div class="form-group col-sm-2">
				<label for="system_select" class="control-label">System
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
					</select>
				</div>
			</div>
			<div class="form-group col-sm-2">
				<label for="line_select" class="control-label">Line
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Line"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="line_select" name="line_id" placeholder="Line">
					</select>
				</div>
			</div>
		</div>

		<div class="panel-footer">
			<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Load Modules on Hold</button>
		</div>

	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Modules on Hold</h3>
		</div>
		<div class="panel-body">

			<div class="table-responsive">
				<table id="module_table" class="table table-striped table-clickable table-hover"></table>
			</div>

		</div>
	</div>

</div>


<!-- Component Modal -->
<div class="modal fade" id="component_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Broadcast Components (VIN: <span class="vin"></span>, Sequence: <span class="sequence"></span>)</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table id="component_table" class="table table-striped">
						<thead></thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Rebuild Modal -->
<div class="modal fade" id="rebuild_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Rebuild Module from Hold Queue (VIN: <span class="vin"></span>, Sequence: <span class="sequence"></span>)</h4>
			</div>
			<div class="modal-body">
				<div class="well well-info">
					<h4>This action will IMMEDIATELY queue the module to be REBUILT.  Are you sure you want to REBUILD this module?</h4>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> REBUILD</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="./public/scripts/util.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/manage/module_hold_queue.js"></script>
{/block}
