{extends file='app_shell_full.html'}

{block name=subthing}
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />

<style>
	A {
		color: white;
	}

/*	.label-margin-right {
		margin-right: 5px;
	}*/
</style>
<div class="col-md-12">

	<div class="panel panel-primary">
		<div class="panel-heading">
			Filter By
		</div>
		<div class="panel-body">
			<div class="form-group col-sm-2">
				<label for="system_select" class="control-label">System
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
					</select>
				</div>
			</div>
			<div class="form-group col-sm-2">
				<label for="line_select" class="control-label">Line
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Line"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="line_select" name="line_id" placeholder="Line">
					</select>
				</div>
			</div>
			<div class="form-group col-sm-2">
				<label for="status_select" class="control-label">Status
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Status of Module"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="status_select" name="status" placeholder="Status">
						<option value="-1">All Statuses</option>
					</select>
				</div>
			</div>
			<div class="form-group col-sm-2">
				<label for="start_date" class="control-label">Start Date
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
				</label>
				<div class="">
					<input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
				</div>
			</div>
			<div class="form-group col-sm-2">
				<label for="end_date" class="control-label">End Date
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
				</label>
				<div class="">
					<input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
				</div>
			</div>
		</div>

		<div class="panel-footer">
			<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Load Modules</button>
		</div>

	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Modules</h3>
		</div>
		<div class="panel-body">

			<div class="table-responsive">
				<table id="module_table" class="table table-striped table-clickable table-hover"></table>
			</div>

		</div>
	</div>

</div>


<!-- Component Modal -->
<div class="modal fade" id="component_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Broadcast Components (VIN: <span class="vin"></span>, Sequence: <span class="sequence"></span>)</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table id="component_table" class="table table-striped">
						<thead></thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Rebuild Modal -->
<div class="modal fade" id="rebuild_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Rebuild Module (VIN: <span class="vin"></span>, Sequence: <span class="sequence"></span>)</h4>
			</div>
			<div class="modal-body">
				<div class="well well-info">
					<h4>This action will place the module into the hold queue for REBUILD.  Are you sure you want to REBUILD this module?</h4>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> REBUILD</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Immediate Rebuild Modal -->
<div class="modal fade" id="rebuild_immediate_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Immediate Rebuild Module (VIN: <span class="vin"></span>, Sequence: <span class="sequence"></span>)</h4>
			</div>
			<div class="modal-body">
				<div class="well well-info">
					<h4>This action will IMMEDIATELY queue the module to be REBUILT.  Are you sure you want to REBUILD this module?</h4>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> REBUILD</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Manual Build Modal -->
<div class="modal fade" id="manual_build_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Manually Build Module (VIN: <span class="vin"></span>, Sequence: <span class="sequence"></span>)</h4>
			</div>
			<div class="modal-body">
				<div class="well well-info">
					<h4>Mark this module as manually built?</h4>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> Yes</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Message Modal -->
<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Message</h4>
			</div>
			<div class="modal-body">
				<div class="well well-info">
					<h4 class="message"></h4>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-reloader" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> OK</button>
			</div>
		</div>
	</div>
</div>

<!-- manage broadcast modal //-->
<div class="modal fade" id="broadcast_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Broadcast Information <span class="label label-info label-panel-header">VIN: <span class="VIN">SAMPLEA0123456789</span></span> <span class="label label-info label-panel-header">SEQ: <span class="sequence">20150010010</span></span></h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Incoming Broadcasted Components</h3>
					</div>
					<div class="panel-body">
						<div id="div_incoming_broadcasted" class="col-sm-12 tag-container"></div>
<!-- 						<span class="label label-info label-margin-right">
							<span>12345678AA</span>
							&nbsp;
							<a><i class="glyphicon glyphicon-pencil"></i></a>
							<a><i class="glyphicon glyphicon-trash"></i></a>
						</span>
						<span class="label label-info label-margin-right">
							<span>45678910AA</span>
							&nbsp;
							<a><i class="glyphicon glyphicon-pencil"></i></a>
							<a><i class="glyphicon glyphicon-trash"></i></a>
						</span>
						<span class="label label-info label-margin-right">
							<span>67890123AA</span>
							&nbsp;
							<a><i class="glyphicon glyphicon-pencil"></i></a>
							<a><i class="glyphicon glyphicon-trash"></i></a>
						</span>
						<span class="label label-info label-margin-right">
							<span>89012345AA</span>
							&nbsp;
							<a><i class="glyphicon glyphicon-pencil"></i></a>
							<a><i class="glyphicon glyphicon-trash"></i></a>
						</span> -->
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">

						<h3 class="panel-title">
							<span class="pull-right">
								<button class="btn btn-xs btn-success btn-add-component btn-panel-header"><span class="glyphicon glyphicon-plus"></span> Add Component</button>
								<!-- <button class="btn btn-xs btn-danger btn-reset-component-changes btn-panel-header"><span class="glyphicon glyphicon-remove"></span> Reset Components</button> -->
							</span>
							Component Changes
						</h3>
					</div>
					<div class="panel-body">
						<div id="div_component_changes" class="col-sm-12 tag-container"></div>
	<!-- 						<span class="label label-danger label-margin-right"><span class="glyphicon glyphicon-minus"></span> 12345678AA</span>
							<span class="label label-success label-margin-right"><span class="glyphicon glyphicon-plus"></span> 12345678AB</span> -->
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">

						<h3 class="panel-title">
							Effective Components
						</h3>
					</div>
					<div class="panel-body">
						<div id="div_effective_components" class="col-sm-12 tag-container"></div>
<!-- 						<span class="label label-primary label-margin-right">12345678AB</span>
						<span class="label label-info label-margin-right">45678910AA</span>
						<span class="label label-info label-margin-right">67890123AA</span>
						<span class="label label-info label-margin-right">89012345AA</span> -->
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<span class="pull-right"><button class="btn btn-xs btn-info"><span class="glyphicon glyphicon-share-alt"></span> Send Current</button></span>
							Outbound Response Broadcast
						</h3>
					</div>
					<div class="panel-body">
						<table class="table table-striped table-bordered table-condensed">
							<thead>
								<th>Sent Time</th>
								<th>Component Changes</th>
								<th>Actions</th>
							</thead>
							<tbody>
								<tr>
									<td>8/15/2015 3:32am</td>
									<td>
										<span class="label label-danger label-margin-right"><span class="glyphicon glyphicon-minus"></span> 12345678AA</span>
										<span class="label label-success label-margin-right"><span class="glyphicon glyphicon-plus"></span> 12345678AB</span>
									</td>
									<td>
										<button class="btn btn-xs btn-info"><span class="glyphicon glyphicon-share-alt"></span> Re-send</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-info btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Edit Component Modal -->
<div class="modal fade" id="edit_component_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Edit Component</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form role="form">
		     			<div class="form-group col-sm-12">
		    				<label for="current_part_number" class="control-label">Original Part Number
		     				    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part Number"></span>
		     				</label>
		     				<div>
		    				    <input id="original_part_number_input" type="input" class="form-control input-sm part-number" placeholder="Part Number" disabled>
		     				</div>
		     			</div>
		     			<div class="form-group col-sm-12">
		    				<label for="new_part_number" class="control-label">New Part Number
		     				    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part Number"></span>
		     				</label>
		     				<div>
		    				    <input id="new_part_number_input" name="part_number" type="input" class="form-control input-sm part-number" placeholder="Part Number">
		     				</div>
		     			</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<!-- Add Component Modal -->
<div class="modal fade" id="add_component_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add Component</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form role="form">
		     			<div class="form-group col-sm-12">
		    				<label for="part_number" class="control-label">Part Number
		     				    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part Number"></span>
		     				</label>
		     				<div>
		    				    <input id="part_number_input" name="part_number" type="input" class="form-control input-sm part-number" placeholder="Part Number">
		     				</div>
		     			</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="./public/scripts/util.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/manage/modules.js"></script>
{/block}
