{extends file='app_shell.html'}

{block name=subthing}
<!--
<link rel="stylesheet" href="/common/library/css/select2.min.css" type="text/css" />
-->
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />


<link rel="stylesheet" type="text/css" href="./public/css/DataTables/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="./public/css/DataTables/editor.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./public/css/DataTables/select2.min.css">

<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">Manage Operators</h3>
	</div>
	<div class="panel-body" id="div_content">
		<div class="panel-body overflowed">						
			
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="Operators" width="100%">
				<thead>
					<tr>
						<th></th>
						<th nowrap>Actions</th>                            
						<th nowrap>Last Name</th>
						<th nowrap>First Name</th>
						<th nowrap>Badge ID</th>											
						<th nowrap>Active</th>
						<th nowrap>Area(s)</th>
						<th nowrap>Role(s)</th>
					</tr>
				</thead>
			</table>			
            
		</div>
	</div>
</div>

<!--
<script type="text/javascript" src="/common/library/js/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/manage/operators.js"></script>
-->

<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/dataTables.editor.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/editor.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/select2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/editor.select2.js"></script> 

<script type="text/javascript" src="./public/scripts/manage/table.Operators.js"></script>
{/block}