{extends file='app_shell.html'}

{block name=subthing}
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />


<div class="panel panel-primary">
	<div class="panel-heading">
		Filter By
	</div>
	<div class="panel-body">
		<div class="form-group col-sm-2">
			<label for="system_select" class="control-label">System
				<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
			</label>
			<div class="">
				<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
				</select>
			</div>
		</div>
		<div class="form-group col-sm-2">
			<label for="line_select" class="control-label">Line
				<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Line"></span>
			</label>
			<div class="">
				<select class="form-control input-sm" id="line_select" name="line_id" placeholder="Line">
				</select>
			</div>
		</div>
	</div>

	<div class="panel-footer">
		<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Load Data</button>
	</div>

</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading"></span></h2>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Broadcast Status
				<span class="label label-info pull-right loading-msg" style="display:none;">Loading...</span>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-broadcasts">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				Production
				<span class="label label-info pull-right loading-msg" style="display:none;">Loading...</span>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-production">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				Upcoming Modules (next 15)
				<span class="label label-info pull-right loading-msg" style="display:none;">Loading...</span>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-upcoming">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				Station Activity
				<span class="label label-info pull-right loading-msg" style="display:none;">Loading...</span>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-stations">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				Sequenced Sub-Assembly WIP Parts
				<span class="label label-info pull-right loading-msg" style="display:none;">Loading...</span>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-wipparts">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				KIT Boxes
				<span class="label label-info pull-right loading-msg" style="display:none;">Loading...</span>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-kitboxes">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Delete Kit -->
	<div class="modal fade" id="div_kitbox_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="">DELETE - Kit Box</h4>
				</div>
				<div class="modal-body">
					<p>DELETE Kit Box</p>
					<div class="well well-info">
						<h4>Are you sure you want to DELETE Kit Box?</h4>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> DELETE</button>
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Rebuild Modal -->
	<div class="modal fade" id="div_wip_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="">REBUILD - Sub Assembly</h4>
				</div>
				<div class="modal-body">
					<p>Rebuild Sub Assembly</p>
					<div class="well well-info">
						<h4>Are you sure you want to REBUILD Sub Assembly?</h4>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> REBUILD</button>
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- move back Modal -->
	<div class="modal fade" id="div_move_back_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Move Module Back</h4>
				</div>
				<div class="modal-body">
					<p>Move Module Back</p>
					<div class="well well-info">
						<h4>Are you sure you want to MOVE MODULE BACK?</h4>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> MOVE BACK</button>
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="./public/scripts/util.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/manage/production.js"></script>
{/block}