{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/manage/satch_manager.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<style>
	.modal-backdrop {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1039;
	  background-color: #000000;
	}

	.modal-backdrop.fade {
	  opacity: 0;
	}

	.modal-backdrop, .modal-backdrop.fade.in {
	  opacity: 0.5;
	  filter: alpha(opacity=50);
	}

	.padded-right {
		margin-right: 3px;
	}
	.padded-left {
		margin-left: 3px;
	}

	.btn-circle {
	  width: 14px;
	  height: 14px;
	  text-align: center;
	  padding: 1px;
	  font-size: 8px;
	  line-height: 1.42;
	  border-radius: 7px;
	  margin-left: 3px;
	}
	
	#as_of {
		font-style: italic;
	}
</style>
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>WIP &quot;Satch&quot; (Sequence+Batch) Line Management Utility</h3>
		<div>
			<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> A satch line will first schedule any shortages to the desired buffer level, then build what is required for the parent sequenced line.</div>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="system_select" class="control-label col-sm-2">Select System:</label>
					<div class="col-sm-3">
						<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System"></select>
					</div>
				</div>
				<div class="form-group">
					<label for="line_select" class="control-label col-sm-2">Select Line:</label>
					<div class="col-sm-3">
						<select class="form-control input-sm" id="line_select" name="line_id" placeholder="Line"></select>
					</div>
				</div>
				<div>
					<button id="btn_run_report" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-circle-arrow-right"></span> Load Info</button>
				</div>
			</form>
		</div>
	</div>
	<div class="panel-body" id="div_content">
		<table id="tbl_part_setup" class="table table-condensed table-striped table-bordered">
			<thead>
				<th>WIP BOM ID</th>
				<th>Decription</th>
				<th>Buffer Level</th>
				<th>Main Line BOMs</th>
				<th>Current In-Build</th>
				<th>Current Built</th>
			</thead>
			<tbody></tbody>
		</table>
		<div id="as_of"></div>
	</div>
</div>

<!-- MODALS //-->
<div class="modal fade" id="div_view_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>WIP Parts</h4>
			</div>
			<div class="modal-body" style="max-height:600px;overflow:auto;">
				<table class="table table-bordered table-condensed table-striped">
					<thead>
						<tr>
							<th>Serial</th>
							<th>Sequenced or Batch</th>
							<th>Built Time</th>
							<th>Actions/Info</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_edit_buffer_level" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Edit WIP Part Buffer Level</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-info"><span class="glyphicon glyphicon-info-sign"></span> This is the number of WIP parts you would like to have built and ready for use at any given time.</div>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inp_buffer_level" class="control-label col-sm-2">Buffer Level:</label>
						<div class="col-sm-3">
							<input type="number" class="form-control input-sm" id="inp_buffer_level" name="inp_buffer_level" placeholder="Buffer Level" min="0">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-buffer-level"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>
{/block}