{extends file='app_shell_full.html'}

{block name=subthing}
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />

<style>
	.badge-left-spaced {
		margin-left: 5px;
	}

	.label-as-badge {
		font-size: 14px;
	}
</style>

<div class="page-header">
	<h1 class="page-header-title">Shipping Management</h1>
</div>

<div id="main_container" class="col-sm-12"></div>

{include file='snippets/modal_confirmation.html'}

<script type="text/javascript" src="./public/scripts/util.js"></script>
<script type="text/javascript" src="./public/scripts/manage/shipping.js"></script>
{/block}
