{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/manage/shipping_utility.js"></script>
<style>
	.modal-backdrop {
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1039;
	  background-color: #000000;
	}

	.modal-backdrop.fade {
	  opacity: 0;
	}

	.modal-backdrop, .modal-backdrop.fade.in {
	  opacity: 0.5;
	  filter: alpha(opacity=50);
	}

	.padded-right {
		margin-right: 3px;
	}
	.padded-left {
		margin-left: 3px;
	}

	.btn-circle {
	  width: 14px;
	  height: 14px;
	  text-align: center;
	  padding: 1px;
	  font-size: 8px;
	  line-height: 1.42;
	  border-radius: 7px;
	  margin-left: 3px;
	}
</style>
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h5>Shipping Utility</h5>
	</div>
	<div class="panel-body" id="div_content">

	</div>
</div>

<!-- MODALS //-->
<div class="modal fade" id="div_add_racks_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Add Racks</h4>
			</div>
			<div class="modal-body" style="overflow:auto;">
				Scan rack label to add to shipment: <input type="text" class="input-sm" id="inp_rack">
			</div>
			<div class="modal-footer" id="div_add_rack_msg" style="display:none;">
				<div class="alert"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Done Adding Racks</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_end_shipment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">End Shipment</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-end-shipment"><span class="glyphicon glyphicon-ok"></span> Yes, End Shipment</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_remove_rack_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Remove Rack</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove-rack"><span class="glyphicon glyphicon-ok"></span> Yes, Remove Rack</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<bgsound src="" id="sounder"></bgsound>
<audio src="" id="sounder_chrome" autoplay="1"></audio>
{/block}