{extends file='app_shell_no_nav.html'}


{block name=subthing}
	<style>
		BODY {
			padding-top: 0px;
		}
		DIV.bordered {
			border: 1px solid black;
			border-radius: 5px;
			padding: 10px;
		}
	</style>
	<style media="screen">

		.title {
			font-weight: bold;
			font-size: 12pt;
		}

		.indent {
			padding-left: 15px;
			font-size: 10pt;
		}

		.spacer {
			height: 20px;
		}

		TD.half {
			width: 50%;
		}
	</style>
	<style media="print">
		@page {
			margin: 0;
		}

		.title {
			font-weight: bold;
			font-size: 8pt;
		}

		.indent {
			padding-left: 15px;
			font-size: 8pt;
		}

		TH, TD {
			font-size: 8pt;
		}
	</style>
	<table class="table">
		<tbody>
			<tr>
				<td class="half">
					<h3>{$customer_name}</h3>
					<h6>{$from_addr_1}</h6>
					<h6>{$from_addr_2}</h6>
				</td>
				<td class="half">
					<h3 style="text-align:right;">Bill of Lading</h3>
					<div style="text-align:right;">Shipment {$shipment_ID}</div>
				</td>
			</tr>
		</tbody>
	</table>
		<hr>
	<table class="table">
		<tbody>
			<tr>
				<td class="half">
					<div class="bordered">
						<div class="title">Ship To</div>
						<div class="indent">{$shipto_name}</div>
						<div class="indent">{$shipto_addr_1}</div>
						<div class="indent">{$shipto_addr_2}</div>
						<div class="spacer"></div>
						<div class="title">Carrier Code</div>
						<div class="indent">{$carrier_code}</div>
						<div class="spacer"></div>
						<div class="title">Shipped Via</div>
						<div class="indent">{$shipped_via}</div>
						<div class="spacer"></div>
						<div class="title">Dock Code</div>
						<div class="indent">{$dock_code}</div>
					</div>
				</td>
				<td class="half">
					<div class="bordered">
						<table class="table table-condensed">
							<tr>
								<td class="title">Date</td>
								<td>{$date}</td>
							</tr>
							<tr>
								<td class="title">BOL Number</td>
								<td>{$shipment_ID}</td>
							</tr>
							<tr>
								<td class="title">PRO Number</td>
								<td>{$pro_number}</td>
							</tr>
							<tr>
								<td class="title">FOB</td>
								<td>{$fob}</td>
							</tr>
							<tr>
								<td class="title">Containers</td>
								<td>{$num_containers}</td>
							</tr>
							<tr>
								<td class="title">Trailer Number</td>
								<td>{$trailer_number}</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>Module Type</th>
				<th>Containers</th>
				<th>Starting Sequence</th>
				<th>Ending Sequence</th>
				<th>Container Weight</th>
				<th>Total Weight</th>
			</tr>
		</thead>
		<tbody>
			{assign var=net_weight value=0}
			{assign var=tare_weight value=0}
			{foreach from=$module_container_summary item=mt}
				<tr>
					<td>{$mt.module_code}: {$mt.line_code}</td>
					<td>{$mt.num_containers}</td>
					<td>{$mt.starting_seq}</td>
					<td>{$mt.ending_seq}</td>
					<td>{$mt.weight_per_rack}</td>
					<td>{$mt.num_containers * $mt.weight_per_rack}</td>
				</tr>
				{assign var=net_weight value=$net_weight+($mt.weight_per_FEM*$mt.num_modules)}
				{assign var=tare_weight value=$tare_weight+$mt.weight_per_rack}
			{/foreach}
		</tbody>
		<tfoot>
			<tr>
				<td align="right" colspan="8">
					<table class="table table-bordered table-condensed" style="width:300px;">
						<tr>
							<td class="title">Total Quantity:</td>
							<td align="right">{$num_containers}</td>
						</tr>
						<tr>
							<td class="title">Net Weight:</td>
							<td align="right">{$net_weight|string_format:"%.2f"}</td>
						</tr>
						<tr>
							<td class="title">Tare Weight:</td>
							<td align="right">{$tare_weight|string_format:"%.2f"}</td>
						</tr>
						<tr>
							<td class="title">Gross Weight:</td>
							<td align="right">{($tare_weight+$net_weight)|string_format:"%.2f"}</td>
						</tr>
					</table>
				</td>
			</tr>
		</tfoot>
	</table>

	<div class="row indent">
		<footer>
			Driver signature: _______________________________________________________
		</footer>
	</div>
	<script type="text/javascript">
		document.title = 'BOL for Shipment {$shipment_ID}';
		window.print();
	</script>
{/block}