{extends file='app_shell.html'} {block name=subthing}

<style>
.btn-passed {
	height: 100px;
}

.btn-failed {
	height: 100px;
}
</style>
<meta charset="UTF-8">
<div class="row">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3>MAHR MMQ Gauging</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="form-group col-sm-2">
					<label for="operator_badge" class="control-label">Operator
						Badge <span class="glyphicon glyphicon-question-sign"
						data-toggle="tooltip" title="Operator Badge"></span>
					</label>
					<div>
						<input id="inp_operator_badge" name="operator_badge" type="text"
							class="form-control input-sm" placeholder="Operator Badge" />
						<div id="operator_view"></div>
					</div>
				</div>
				<div class="form-group col-sm-6">
					<label for="serial_number" class="control-label">Serial
						Number <span class="glyphicon glyphicon-question-sign"
						data-toggle="tooltip" title="Serial Number"></span>
					</label>
					<div>
						<input id="inp_serial_number" name="serial_number"
							class="form-control input-sm" placeholder="Serial Number" />
						<div id="part_view"></div>	
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label for="file_upload" class="control-label">File Upload
						<span class="glyphicon glyphicon-question-sign"
						data-toggle="tooltip" title="MAHR MMQ File Upload"></span>
					</label>
					<div>
						<div id="upload_container">
							<div id="upload-file" class="btn btn-info">
								<h2>
									<span class="glyphicon glyphicon-file"></span>Upload File
								</h2>
							</div>
							<div id="uploader">
								<div id="filelist">Your browser doesn't have Flash,
									Silverlight or HTML5 support.</div>
								<br /> <a id="pickfiles" href="javascript:;">[Select files]</a><a
									id="uploadfiles" href="javascript:;">[Upload files]</a>
								<pre id="console"></pre>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-2 col-sm-3 btn btn-success btn-passed">
					<h2>
						<span class="glyphicon glyphicon-thumbs-up"></span>PASSED
					</h2>
				</div>
				<div class="col-md-offset-1 col-sm-3 btn btn-danger btn-failed">
					<h2>
						<span class="glyphicon glyphicon-thumbs-down"></span>FAILED
					</h2>
				</div>
			</div>
			<div id="upload_detail" class="row">
			</div>
		</div>
	</div>

</div>
<script type="text/javascript"
	src="{$globals.bootstrap_path}js/bootstrap-growl.min.js"></script>
<script type="text/javascript"
	src="../common/library/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript"
	src="./public/scripts/lib/NYSUS.COMMON.OPERATORS.js"></script>
<script type="text/javascript"
	src="./public/scripts/lib/NYSUS.REPETITIVE.MACHINES.js"></script>
<script type="text/javascript"
	src="./public/scripts/lib/NYSUS.REPETITIVE.GAUGES.js"></script>
<script type="text/javascript"
	src="./public/scripts/manage/custom/metaldyne_litchfield/mahrmmq_gauge.js"></script>
	

{/block}
