
<head>
    {block name=head}
	<title>{$globals.app_name|default:'Test Module'} - By {$globals.our_name}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">    
	<link rel="stylesheet" href="{$globals.bootstrap_path}css/bootstrap.flatly.min.css" type="text/css" />
	<link rel="stylesheet" href="./public/css/app_styles.css" type="text/css" />

	<script type="text/javascript" src="{$globals.jquery_path}jquery-1.9.1.js"></script>
	<script type="text/javascript" src="{$globals.bootstrap_path}js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{$globals.bootstrap_path}js/bootstrap-growl.min.js"></script>
    {/block}
</head>