{extends file='app_shell.html'}


{block name=subthing}
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3>Invalid Session</h3>
	</div>
	<div class="panel-body">
		<div class="alert alert-danger">
			You must be logged in and have proper permissions to use this utility.  Please log in and try again.
		</div>
	</div>
</div>
{/block}