<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.php"><img src="{$globals.our_logo_path}" height="20"> {$globals.app_name}</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Setup <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation" class="dropdown-header">System Setup</li>
						<li class="disabled"><a href="options.php?type=stations"><span class="glyphicon glyphicon-cog"></span> Station Options</a></li>
						<li><a href="options.php?type=printers"><span class="glyphicon glyphicon-print"></span> Printer Setup</a></li>
						<li><a href="options.php?type=shift_times"><span class="glyphicon glyphicon-time"></span> Define Shift Times</a></li>
						<li class="divider"></li>
						<li role="presentation" class="dropdown-header">MESAAS Editing</li>
						<li><a href="options.php?type=instructions"><span class="glyphicon glyphicon-cog"></span> Instruction Editor</a></li>
						<li class="divider"></li>
						<li><a href="options.php?type=parts"><span class="glyphicon glyphicon-cog"></span> Part Setup</a></li>
						<li class="divider"></li>
						<li><a href="options.php?type=departments"><span class="glyphicon glyphicon-cog"></span> Departments/Areas</a></li>
						<li class="divider"></li>
						<li role="presentation" class="dropdown-header">Andon</li>
						<li><a href="options.php?type=andon_station_parts"><span class="glyphicon glyphicon-cog"></span> ANDON Station Parts</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation" class="dropdown-header">Production</li>
							<li><a href="reports.php?type=system_setup"><span class="glyphicon glyphicon-list"></span> View System Setup</a></li>
							<li><a href="reports.php?type=prod_counts"><span class="glyphicon glyphicon-stats"></span> Production Counts</a></li>
							<li><a href="reports.php?type=cycle_times"><span class="glyphicon glyphicon-time"></span> Cycle Times</a></li>
							<li><a href="reports.php?type=downtime"><span class="glyphicon glyphicon-sort-by-attributes"></span> Downtime</a></li>
							<li><a href="reports.php?type=defects"><span class="glyphicon glyphicon-th"></span> Defects</a></li>
						<li class="divider"></li>
						<li role="presentation" class="dropdown-header">Birth Certificate</li>
							<li><a href="reports.php?type=module_lookup"><span class="glyphicon glyphicon-search"></span> Module Lookup</a></li>
						<li class="divider"></li>
						<li role="presentation" class="dropdown-header">Training/Quality Alerts</li>
							<li><a href="reports.php?type=ojt_quals"><span class="glyphicon glyphicon-saved"></span> OJT Qualifications</a></li>
							<li><a href="reports.php?type=ojt_attainment"><span class="glyphicon glyphicon-saved"></span> OJT Attainment</a></li>
							<li><a href="reports.php?type=qa_attainment"><span class="glyphicon glyphicon-saved"></span> Quality Alert Attainment</a></li>
						<li class="divider"></li>
						<li><a href="reports.php?type=process_parameters"><span class="glyphicon glyphicon-list-alt"></span> Process Parameter History</a></li>
						<li class="divider"></li>
						<li><a href="reports.php?type=andon_history"><span class="glyphicon glyphicon-list-alt"></span> ANDON Request History</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Management <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="manage.php?type=print_queue"><span class="glyphicon glyphicon-barcode"></span> Print Queue (Relabeler)</a></li>
						<li><a href="manage.php?type=operators"><span class="glyphicon glyphicon-user"></span> Manage Operators/Roles</a></li>
						<li class="divider"></li>
						<li><a href="manage.php?type=modules"><span class="glyphicon glyphicon-pencil"></span> Module Editing</a></li>
						<li><a href="manage.php?type=shipments"><span class="glyphicon glyphicon-folder-close"></span> Manage Shipments</a></li>
						<li><a href="manage.php?type=containers"><span class="glyphicon glyphicon-folder-close"></span> Manage Containers</a></li>
						<li class="divider"></li>
						<li><a href="manage.php?type=ojt_requirements"><span class="glyphicon glyphicon-cog"></span> OJT Requirements</a></li>
						<li><a href="manage.php?type=qa_requirements"><span class="glyphicon glyphicon-cog"></span> Quality Alert Requirements</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-right form-horizontal" role="login" style="margin-right:10px;">
				<div class="form-group" id="div_login_info">
					<div class="form-control">Loading session info...</div>
				</div>
				<div class="form-group" id="div_login_form" style="display:none;">
					<input type="text" name="email" id="email" class="form-control " placeholder="Email">
					<input type="password" id="password" class="form-control" placeholder="Password">
					<button type="button" class="btn btn-default form-control" id="btn_login">Log In</button>
				</div>
			</form>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<script type="text/javascript" src="public/scripts/login.js"></script>
<script type="text/javascript">
	$(document).ready(
		function() {
			LOGIN.checkSession();
		}
	);
</script>