<nav class="navbar navbar-default navbar-fixed-top " role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.php"><img src="{$globals.our_logo_path}" height="20"> {$globals.app_name}</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav"></ul>
			<form class="navbar-form navbar-right form-horizontal" role="login" style="margin-right:10px;">
				<div class="form-group" id="div_login_info">
					<div class="form-control" id="div_login_status">Loading session info...</div>
				</div>
				<div class="form-group" id="div_login_form" style="display:none;">
					<input type="text" name="email" id="email" class="form-control " placeholder="Email">
					<input type="password" id="password" class="form-control" placeholder="Password">
					<button type="button" class="btn btn-default form-control" id="btn_login">Log In</button>
				</div>
			</form>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
<script type="text/javascript" src="public/scripts/login.js"></script>
<script type="text/javascript" src="public/scripts/nav_bar.js"></script>