{extends file='app_shell.html'}

{block name=head append}
	<style>
	  /* Icon when the collapsible content is shown */
	  .panel-heading .btn:after {
	    font-family: "Glyphicons Halflings";
	    content: "\e114";
	    float: right;
	    margin-left: 15px;
	  }
	  /* Icon when the collapsible content is hidden */
	  .panel-heading .btn.collapsed:after {
	    content: "\e080";
	  }
	</style>
{/block}

{block name=subthing}
	
	<div class="panel panel-primary">
		<div class="panel-heading"><b style="font-size:2em">{block name=report_title}Report Title{/block}</b>
		</div>
		<div class="panel-body">
			<div class="panel-filter panel panel-primary">
				<div class="panel-heading"><span>Report Filters</span>
					<button type="button" class="btn btn-xs btn-info pull-right" data-toggle="collapse" data-target=".panel-filter .panel-body">Collapse</button>
				</div>	
				<div class="panel-body collapse in">
					{block name=report_filters}
						<div class="form-group col-sm-2">
							<label for="start_date" class="control-label">Start Date
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
							</label>
							<div class="">
								<input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
							</div>
						</div>
						<div class="form-group col-sm-2">
							<label for="end_date" class="control-label">End Date
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
							</label>
							<div class="">
								<input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
							</div>
						</div>
						<div class="form-group col-sm-2">
							<label for="station_select" class="control-label">Station
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Station"></span>
							</label>
							<div class="">
								<select class="form-control input-sm" id="station_select" placeholder="Station"></select>
							</div>
						</div>
						<div class="form-group col-sm-2">
							<label for="inpShift" class="control-label">Shift
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Shift"></span>
							</label>
							<div class="">
								<select class="form-control input-sm" id="inpShift" placeholder="Shift"></select>
							</div>
						</div>
						<div class="form-group col-sm-2">
							<label for="operator_select" class="control-label">Operator
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operator"></span>
							</label>
							<div class="">
								<select class="form-control input-sm" id="operator_select" placeholder="Operator"></select>
							</div>
						</div>
						<div class="form-group col-sm-2">
							<label for="inpGroupBy" class="control-label">Group By
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Group By"></span>
							</label>
							<div class="">
								<select class="form-control input-sm" id="inpGroupBy" placeholder="Group By"></select>
							</div>
						</div>
					{/block}
				</div>
				<div class="panel-footer collapse in">
					<button class="btn-run-report btn btn-xs btn-success">
						<span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;<b>Run Report</b>
					</button>
				</div>
			</div>
			<div class="panel-charts panel panel-primary">
				<div class="panel-heading"><span>Report Charts</span>
					<button type="button" class="btn btn-xs btn-info pull-right" data-toggle="collapse" data-target=".panel-charts .panel-body">Collapse</button>
				</div>	
				<div class="panel-body collapse in">
					{block name=report_charts}Some Charts{/block}
				</div>
				<div class="panel-footer"></div>
			</div>
			<div class="panel-results panel panel-primary">
				<div class="panel-heading"><span>Report Results</span>
					<button type="button" class="btn btn-xs btn-info pull-right" data-toggle="collapse" data-target=".panel-results .panel-body">Collapse</button>
				</div>
				<div class="panel-body collapse in">
					{block name=report_results}<table class="table table-striped table-condensed"><th>Report results Table</th></table>{/block}
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>			
		<div class="panel-footer">{block name=report_footer}Report Footer{/block}</div>
	</div>
		
{/block}