{extends file='app_shell.html'}


{block name=subthing}
	<div style="background-color: pink;" class="panel">
		This is a loaded div! {$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}


		<h1>{$globals.app_name|default:'Test Module'}</h1>

		<div>Hi {$globals.language}, {$welcome} {$globals.our_name}</div>

		<!-- sample table //-->
		{html_table table_attr="id=myTable" loop=$data cols="first,second,third,fourth" tr_attr=$tr}

		<!-- sample select //-->
		{html_options name=foo options=$myOptions selected=$mySelect}
	</div>
{/block}