{extends file='app_shell.html'}


{block name=subthing}
	<div style="background-color: pink;">
		This is a loaded div! {$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}
	</div>


	<h1>{$app_name|default:'Test Module'}</h1>

	<div>Hi {$name}, {$welcome} {$our_name}</div>

	<!-- sample table //-->
	{html_table table_attr="id=myTable" loop=$data cols="first,second,third,fourth" tr_attr=$tr}

	<!-- sample select //-->
	{html_options name=foo options=$myOptions selected=$mySelect}
{/block}