{extends file='app_shell.html'}


{block name=subthing}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>{$globals.our_name} - {$globals.app_name} for {$globals.company_name}</h3>
	</div>
	<div class="panel-body">
		<div class="jumbotron">
			<h1><img src="{$globals.our_logo_path}" height="50"> {$strings.welcome_title}</h1>
			<p> {$strings.welcome_body}</p>
		</div>
	</div>
</div>
{/block}