<div class="modal fade" id="div_ojt_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close btn_ojt_close" data-dismiss="modal"><span
						aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">OJT System</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div id="div_ojt_modal_left" class="col-md-2">
						</div>
						<div id="div_ojt_modal_right" class="col-md-10">
							<div class="caption"></div>
							<div class="media"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm btn_ojt_close" data-dismiss="modal"><span
						class="glyphicon glyphicon-remove"></span> Close
				</button>
			</div>
		</div>
	</div>
</div>

<div id="div_ojt">
	<div id="container-ojt">
		<div class="btn-group" role="group" aria-label="OJT Categories">
			<button DISABLED class="btn-ojt-requirements btn btn-disabled btn-documents bigger"
			        onclick="OJT.display(all_data.ojt_requirements);">
				<span>TRAINING</span>
				<!--span class="badge">0</span-->
			</button>
			<button DISABLED class="btn-ojt-alerts btn btn-warning btn-documents bigger"
			        onclick="OJT.display(all_data.ojt_alerts);">
				<span>ALERTS</span>
				<span class="badge">0</span>
			</button>
			<button DISABLED class="btn-references btn btn-primary btn-documents bigger"
			        onclick="OJT.display(all_data.references);">
				<span>REFERENCES</span>
			</button>
		</div>
	</div>
	<div class=""
	     style="text-align:center;border-radius:5px;border:1px solid black;background-color:#333333;color:#EEEEEE;padding:10px 0px 2px 0px;line-height:normal;position:absolute;top:0px;bottom:0px;width:296px;right:0px;">
		<small style="font-size:10pt;line-height:.75;margin:0px;">Cycle Timer</small>
		<h1 id="h_cycle_timer" style="margin:0px;font-size:400%;">0:00</h1>
	</div>
</div>