DIV.queue-item {
	font-size: 36pt;
	border-top: 1px solid #111111;
	position: relative;
	height: 110px;
}

DIV.cat-name {
	position: absolute;
	top:0px;
	left:0px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-bottom-right-radius: 15px;
	padding: 0px 10px;
	background-color: white;
}

DIV.station-desc {
	margin-left: 400px;
}

DIV.time-ago {
	position: absolute;
	bottom:0px;
	right:0px;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-top-left-radius: 15px;
	padding: 0px 10px;
	background-color: white;
}

DIV.warning {
	background-color: orange;
}

DIV.critical {
	background-color: red;
	color: white;
}

FOOTER {
	border-top: 1px solid #111111;
}