{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/reports/andon_history.js"></script>
<script type="text/javascript" src="/common/library/js/jsDate.js"></script>
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>ANDON History Report</h4>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Report Parameters
			</div>
			<div class="panel-body">
				<form class="form-horizontal params" role="form">
					<div class="form-group">
						<label for="selCategory" class="col-sm-2 control-label">ANDON Category</label>
						<div class="col-sm-3">
							<select class="form-control input-sm" id="selCategory"></select>
						</div>
						<label for="inpStart" class="col-sm-1 control-label">Start</label>
						<div class="col-sm-2">
							<input type="date" class="form-control input-sm" id="inpStart">
						</div>
						<label for="inpEnd" class="col-sm-1 control-label">End</label>
						<div class="col-sm-2">
							<input type="date" class="form-control input-sm" id="inpEnd">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Run Report</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="panel panel-primary result" style="display:none;">
			<div class="panel-heading">
				Report Summary
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-2 text-right">Number of items:</div>
					<div class="col-sm-1 well well-sm text-center" id="div_num_items"></div>
					<div class="col-sm-2 text-right">Average time to acknowledge:</div>
					<div class="col-sm-1 well well-sm text-center" id="div_avg_ack"></div>
					<div class="col-sm-2 text-right">Average time to closure:</div>
					<div class="col-sm-1 well well-sm text-center" id="div_avg_close"></div>
				</div>
			</div>
		</div>

		<div class="panel panel-primary result" style="display:none;">
			<div class="panel-heading clearfix">
				<span class="pull-left">Report Detail</span>
				<button class="btn btn-primary btn-xs pull-right export"><span class="glyphicon glyphicon-export"></span> Export to CSV (Excel)</button>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="tbl_detail">
					<thead><tr></tr></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<form class="export" action="export.php" target="_BLANK">
	<input type="hidden" id="inpExport" name="inpExport">
</form>
{/block}