{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/reports/carrier_status.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading"></span></h2>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Carrier Status
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-carriers">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>				
				</table>
			</div>
		</div>
	</div>
</div>
{/block}