{extends file='app_shell.html'}

{block name=head append}
       
{/block}

{block name=subthing}
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading">Cycle Time Report</span></h2>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Filter By
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-2">
					<label for="start_date" class="control-label">Start Date
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
					</label>
					<div class="">
						<input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="end_date" class="control-label">End Date
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
					</label>
					<div class="">
						<input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label for="system_select" class="control-label">System
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
						</select>
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label for="machine_select" class="control-label">Machine
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Machine"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="machine_select" name="machine_id" placeholder="Machine" disabled></select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="line_select" class="control-label">Line
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Line"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="line_select" placeholder="Line" name="line_id" ></select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="station_select" class="control-label">Station
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Station"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="station_select" placeholder="Station"></select>
					</div>
				</div>				
				<div class="form-group col-sm-2">
					<label for="inpShift" class="control-label">Shift
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Shift"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="inpShift" placeholder="Shift"></select>
					</div>
				</div>				
				<div class="form-group col-sm-2">
					<label for="operator_select" class="control-label">Operator
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operator"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="operator_select" placeholder="Operator"></select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="inpGroupBy" class="control-label">Group By
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Group By"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="inpGroupBy" placeholder="Group By"></select>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
			</div>
		</div>
	</div>
	<div class="panel-body" style="display:none;">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Cycle Time Summary Overview
			</div>
			<div class="panel-body panel-body-overview">
				<!-- <div class="loading" style="display:none;">Loading...</div> -->
				<table class="table table-condensed table-bordered table-striped" id="table-cycle-sumary">
					<thead class="thead"></thead>
					<tbody class="tbody">						
						<tr><td>Report Date</td><td></td><td>Total Cycle Time</td><td></td></tr>
						<tr><td>Report Timeframe</td><td></td><td>Total Std Time</td><td></td></tr>
						<tr><td>Line</td><td></td><td>Total Over Std</td><td></td></tr>
						<tr><td>criteria</td><td></td><td>Total Idle Time</td><td></td></tr>
						<tr><td>criteria</td><td></td><td>Total Stop Time</td><td></td></tr>						
					</tbody>				
				</table>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Cycle Time
			</div>
			<div class="panel-body panel-body-chart">
				<div class="loading" style="display:none;">Loading...</div>
				<div class="panel panel-report-date"></div>	
				<div class="panel panel-cycle-chart"></div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Cycle Time Summary Report
			</div>
			<div class="panel-body">
				<!-- <div class="loading" style="display:none;">Loading...</div> -->
				<div class="panel panel-report-date"></div>
				<table class="table table-condensed table-bordered table-striped table-cycle-report">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>				
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
<!-- <script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script> -->
<!-- <script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script> -->
<!-- <script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script> -->
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
	<link type="text/css" rel="stylesheet" href="/common/library/js/dataTables/extensions/TableTools/css/buttons.dataTables.min.css" />
	<!-- <script type="text/javascript" src="./public/scripts/lib/NYSUS.COMMON.REPORT.JS"></script> -->
	<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.minNew.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/buttons.html5.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/jszip/dist/jszip.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/pdfmake.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/vfs_fonts.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="./public/scripts/jquery.nysus-labeled-control.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-date-input.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/reports/cycle_times.js"></script>

{/block}