{extends file='app_shell.html'}

{block name=subthing}
<link rel="stylesheet" href="../../common/library/css/select2.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2><span id="heading">Cycle Parts Report</span></h2>
    </div>
    <div class="panel-body">
        <div id="filter_panel" class="panel panel-primary">
            <div class="panel-heading">
                Filter By
            </div>
            <div class="panel-body">
                <div class="form-group col-md-4">
                    <label for="system_select" class="control-label">System
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
                    </label>
                    <div>
                        <select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="machine_select" class="control-label">Machine
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Machine"></span>
                    </label>
                    <div>
                        <select class="form-control input-sm" id="machine_select" name="machine_id" placeholder="Machine" disabled></select>
                    </div>
                </div>
				<!-- <div class="form-group col-md-6"> -->
					<!-- <div id="params_combo"></div> -->
				<!-- </div> -->
                <div class="form-group col-md-6">
                    <label for="start_date" class="control-label">Start Date
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
                    </label>
                    <div>
                        <input type="datetime-local" class="form-control input-sm" id="start_date" placeholder="Start Date">
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="end_date" class="control-label">End Date
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
                    </label>
                    <div>
                        <input type="datetime-local" class="form-control input-sm" id="end_date" placeholder="End Date">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
            </div>
        </div>
		
			<div class="panel panel-primary">
				<div class="panel-heading">Parts</div>
				<div class="panel-body table-responsive">
					<table class="table table-hover" id="tbl_parts">
						<thead>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
    </div>
</div>

<script type="text/javascript" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
<!-- <script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script> -->
<!-- <script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script> -->
<!-- <script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script> -->
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
	<link type="text/css" rel="stylesheet" href="/common/library/js/dataTables/extensions/TableTools/css/buttons.dataTables.min.css" />
	<!-- <script type="text/javascript" src="./public/scripts/lib/NYSUS.COMMON.REPORT.JS"></script> -->
	<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.minNew.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/buttons.html5.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/jszip/dist/jszip.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/pdfmake.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/vfs_fonts.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="./public/scripts/jquery.nysus-labeled-control.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-date-input.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/reports/cycle_parts.js"></script>

{/block}