{extends file='app_shell.html'}

{block name=subthing}

<style>
	.btn.active, .btn:active {
		background-color: #18bc9c;
	}
</style>
<link rel="stylesheet" href="../../common/library/css/select2.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />

<div class="panel panel-primary" id="nys">
	<div class="panel-heading">
		<h4>Defect Report</h4>
	</div>
	<div class="panel-body">
		<div class="report-parameters"></div>
		<div class="report-results"></div>
		<div class="grid-view"></div>		
	</div>
	
</div>


<script type="text/javascript" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
<!-- <script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script> -->
<!-- <script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script> -->
<!-- <script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script> -->
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
	<link type="text/css" rel="stylesheet" href="/common/library/js/dataTables/extensions/TableTools/css/buttons.dataTables.min.css" />
	<!-- <script type="text/javascript" src="./public/scripts/lib/NYSUS.COMMON.REPORT.JS"></script> -->
	<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.minNew.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/buttons.html5.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/jszip/dist/jszip.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/pdfmake.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/vfs_fonts.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="./public/scripts/jquery.nysus-labeled-control.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-date-input.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/reports/defects.js"></script>

{/block}
