{extends file='app_shell.html'}

{block name=head append}
    <link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
{/block}

{block name=subthing}
<script type="text/javascript" src="./public/scripts/module_lookup.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading"></span></h2>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Broadcast Status
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-broadcasts">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>				
				</table>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				Production
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-production">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>				
				</table>
			</div>
		</div>		
		<div class="panel panel-primary">
			<div class="panel-heading">
				Station Activity
			</div>
			<div class="panel-body">
			</div>
			<div>
				<table class="table table-condensed table-bordered table-striped" id="table-stations" style="display:;">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				Sequenced Sub-Assembly WIP Parts
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-wipparts">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>				
				</table>
			</div>
		</div>
	</div>
	<!-- Rebuild Modal -->
	<div class="modal fade" id="div_rebuild_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="">REBUILD - Sub Assembly</h4>
				</div>
				<div class="modal-body">
					<p>Rebuild Sub Assembly</p>
					<div class="well well-info">
						<h4>Are you sure you want to REBUILD Sub Assembly?</h4>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> REBUILD</button>
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- mobe back Modal -->
	<div class="modal fade" id="div_move_back_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Move Module Back</h4>
				</div>
				<div class="modal-body">
					<p>Move Module Back</p>
					<div class="well well-info">
						<h4>Are you sure you want to MOVE MODULE BACK?</h4>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm btn-confirm"><span class="glyphicon glyphicon-ok"></span> MOVE BACK</button>
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>	
</div>
{/block}