{extends file='app_shell.html'}

{block name=subthing}
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_oee.css" type="text/css" />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2><span id="heading">OEE Report</span></h2>
    </div>
    <div class="panel-body">
        <div id="filter_panel" class="panel panel-primary">
            <div class="panel-heading">
                Filter By
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-2">
                    <label for="system_select" class="control-label">System
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
                    </label>
                    <div>
                        <select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="machine_select" class="control-label">Machine
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Machine"></span>
                    </label>
                    <div>
                        <select class="form-control input-sm" id="machine_select" name="machine_id" placeholder="Machine" disabled></select>
                    </div>
                </div>
				  <div class="form-group col-sm-2">
						<label for="tool_select" class="control-label">Tool
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Select to filter by a tool"></span>
						</label>
						<div>
							<select class="form-control input-sm" id="tool_select" name="tool_id" placeholder="Tool" disabled><option value="-1">All</option></select>
						</div>
				  </div>
                <div class="form-group col-sm-2">
                    <label for="shift_select" class="control-label">Shift
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Shift"></span>
                    </label>
                    <div>
                        <select class="form-control input-sm" id="shift_select" name="shift" placeholder="Shift">
                            <option name="shift" id="shift_0" value="-1">All</option>
                            <option name="shift" id="shift_1" value="1">1</option>
                            <option name="shift" id="shift_2" value="2">2</option>
                            <!--option name="shift" id="shift_3" value="3">3</option-->
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="start_date" class="control-label">Start Date
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
                    </label>
                    <div>
                        <input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="end_date" class="control-label">End Date
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
                    </label>
                    <div>
                        <input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
            </div>
        </div>

    <div id="production_panel" class="panel panel-primary" hidden>
        <div class="panel-heading">
            <h3 class="panel-title">Production Data</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="gauge-panel col-md-12" class="text-center">
                  <div class="col-sm-3 text-center gauge-container">
                    <div><span class="gauge-label">OEE</span></div>
                    <div class="gauge oee-gauge"></div>
                  </div>
                  <div class="col-sm-3 text-center gauge-container">
                    <div><span class="gauge-label">Availability</span></div>
                    <div class="gauge availability-gauge"></div>
                  </div>
                  <div class="col-sm-3 text-center gauge-container">
                    <div><span class="gauge-label">Quality</span></div>
                    <div class="gauge quality-gauge"></div>
                  </div>
                  <div class="col-sm-3 text-center gauge-container">
                    <div><span class="gauge-label">Performance</span></div>
                    <div class="gauge performance-gauge"></div>
                  </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover oee-table">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
<!-- 
            <div class="table-responsive">
                <table id="oee_table" class="table table-striped table-hover"></table>
            </div> -->

        </div>
    </div>

    </div>
</div>

<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/solid-gauge.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-date-input.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/reports/oee.js"></script>

{/block}