{extends file='app_shell.html'}

{block name=subthing}
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading">Operator Report Card</span></h2>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Filter By
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-2">
					<label for="start_date" class="control-label">Start Date
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
					</label>
					<div class="">
						<input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="end_date" class="control-label">End Date
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
					</label>
					<div class="">
						<input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
					</div>
				</div>
				<div class="form-group col-sm-3">
					<label for="operator_select" class="control-label">Operator
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operator"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="operator_select" placeholder="Operator"></select>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/lib/NYSUS.COMMON.UTILITY.js"></script>
<script type="text/javascript" src="./public/scripts/lib/NYSUS.UI.INPUT.js"></script>
<script type="text/javascript" src="./public/scripts/reports/operator_report_card_selection.js"></script>

{/block}