{extends file='app_shell_full.html'}

{block name=head append}
    <link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
    <link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
{/block}

{block name=subthing}
  <div class="col-md-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        Filter By
      </div>
      <div class="panel-body">

        <div class="form-group col-sm-2">
          <label for="pick_rack_select" class="control-label">Rack
            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Rack"></span>
          </label>
          <div class="">
            <select class="form-control input-sm" id="pick_rack_select" name="pick_rack_number" placeholder="Rack">
            </select>
          </div>
        </div>

      </div>

      <div class="panel-footer">
        <button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Load Data</button>
      </div>

    </div>


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Pick Rack Contents</h3>
      </div>
      <div class="panel-body">

        <div class="table-responsive">
          <table id="pick_rack_contents_table" class="table table-striped table-clickable table-hover"></table>
        </div>

      </div>
    </div>

  </div>


  <script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
  <script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

  <script type="text/javascript" src="./public/scripts/util.js"></script>
  <script type="text/javascript" src="./public/scripts/reports/pick_rack_contents.js"></script>
{/block}
