{extends file='app_shell_full.html'}

{block name=subthing}
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
    
<div id="main_panel" class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading">Production Summary Report</span></h2>
	</div>	
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Filter By
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="form-group col-sm-2">
						<label for="system_select" class="control-label">System
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
							</select>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="line_select" class="control-label">Line
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Line"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="line_select" name="line_id" placeholder="Line" disabled></select>
						</div>
					</div>				
					<div class="form-group col-sm-2">
						<label for="start_date" class="control-label">Start Date
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
						</label>
						<div class="">
							<input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="end_date" class="control-label">End Date
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
						</label>
						<div class="">
							<input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-2">
						<label for="machine_select" class="control-label">Machine
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Machine"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="machine_select" name="machine_id" placeholder="Machine" disabled></select>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="tool_select" class="control-label">Tools
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Tools"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="tool_select" name="tool_id" placeholder="Tools" disabled></select>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="part_select" class="control-label">Part
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="part_select" name="part_id" placeholder="Parts" disabled></select>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="operator_select" class="control-label">Operator
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operators"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="operator_select" name="tool_id" placeholder="Operators" disabled></select>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="shift_select" class="control-label">Shift
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Shift"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="shift_select" name="shift_id" placeholder="Shift">
								<option value="">All</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Daily Production Quantities
			</div>
			<div class="panel-body">
				<div class="panel-daily-chart"></div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Hourly Production
			</div>
			<div class="panel-body">
				<div class="panel-hourly-chart"></div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Production Summary Report
			</div>
			<div class="panel-body">
				<div class="panel panel-report-date"></div>
				<table class="table table-condensed table-bordered table-striped table-prod-report">
 					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>			
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
<!-- <script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script> -->
<!-- <script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script> -->
<!-- <script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script> -->
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
	<link type="text/css" rel="stylesheet" href="/common/library/js/dataTables/extensions/TableTools/css/buttons.dataTables.min.css" />
	<!-- <script type="text/javascript" src="./public/scripts/lib/NYSUS.COMMON.REPORT.JS"></script> -->
	<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.minNew.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/buttons.html5.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/jszip/dist/jszip.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/pdfmake.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/vfs_fonts.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

<script type="text/javascript" src="./public/scripts/jquery.nysus-labeled-control.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-date-input.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/reports/production_summary.js"></script>
{/block}