<div id="filter-common" class="row">
	<div class="form-group col-md-2" id="systems-group">
		<label for="sel_systems" class="control-label">Systems
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_systems">
			</select>
		</div>
	</div>
	<div class="form-group col-md-2" id="start-date-group">
		<label for="inp_start_date" class="control-label">Start Date
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
		</label>

		<div class="">
			<input type="date" class="form-control input-sm" id="inp_start_date">
		</div>
	</div>
	<div class="form-group col-md-2" id="end-date-group">
		<label for="inp_end_date" class="control-label">End Date
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
		</label>

		<div class="">
			<input type="date" class="form-control input-sm" id="inp_end_date">
		</div>
	</div>
	<div class="form-group col-md-2" id="operators-group">
		<label for="sel_operators" class="control-label">Operators
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operators"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_operators" multiple="multiple"><option></option></select>
		</div>
	</div>
	<div class="form-group col-md-2" id="shifts-group">
		<label for="sel_shifts" class="control-label">Shifts
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Shift"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_shifts" multiple="multiple"><option></option></select>
		</div>
	</div>
</div>
<div id="filter-repetitive" class="row">
	<div class="form-group col-md-4" id="machines-group">
		<label for="sel_machines" class="control-label">Machines
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Machine"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_machines" multiple="multiple"><option></option></select>
		</div>
	</div>
	<div class="form-group col-md-4" id="tools-group">
		<label for="sel_tools" class="control-label">Tools
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Models"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_tools" multiple="multiple"><option></option></select>
		</div>
	</div>
	<div class="form-group col-md-4" id="parts-group">
		<label for="sel_parts" class="control-label">Parts
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_parts" multiple="multiple"><option></option></select>
		</div>
	</div>
	<div class="form-group col-md-4" id="plcs-group" style="display:none">
		<label for="sel_plcs" class="control-label">PLC's
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="PLC's"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_plcs" multiple="multiple"><option></option></select>
		</div>
	</div>
	<div class="form-group col-md-4" id="fault-codes-group" style="display:none">
		<label for="sel_fault_codes" class="control-label">Fault Code's
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Fault Code's"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_fault_codes" multiple="multiple"><option></option></select>
		</div>
	</div>
</div>
<div id="filter-sequenced" class="row">
	<div class="form-group col-md-4" id="lines-group">
		<label for="sel_lines" class="control-label">Lines
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Lines"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_lines" multiple="multiple"><option></option></select>
		</div>
	</div>
	<div class="form-group col-md-4" id="line_stations-group">
		<label for="sel_line_stations" class="control-label">Stations
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Stations"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_line_stations" multiple="multiple"><option></option></select>
		</div>
	</div>
</div>
<div id="filter-batch" class="row">
	<h3>Batch Filter: todo</h3>
</div>

<div id="filter-misc" class="row">
	<div class="form-group col-md-2" id="group-by-group">
		<label for="sel_group_bys" class="control-label">Group By
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Group By"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_group_bys" multiple="multiple"><option></option></select>
		</div>
	</div>
	<div class="form-group col-md-2" id="top-group">
		<label for="sel_top" class="control-label">Top
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Show Top"></span>
		</label>

		<div class="">
			<select class="form-control input-sm" id="sel_top"><option></option></select>
		</div>
	</div>
</div>