{extends file='app_shell_full.html'}

{block name=head append}
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
{/block}

{block name=subthing}
<style>
	#div_report_data TABLE THEAD TR TH, #div_report_data TABLE TBODY TR TD {
		text-align: center;
	}

	#tr_instance_numbers TH, #parts_body TR TD {
		text-align: center;
	}

	.over_tol {	background-color:#FF9966; }
	.under_tol { background-color:#6666FF; }
	.over_xbar_ucl { background-color:pink; }
	.under_xbar_lcl { background-color:yellow; }
	.over_range_ucl { background-color:red; }
	.under_range_lcl { background-color:#CC00FF; }

	.modal-backdrop {
		bottom: 0px;
	}

	SPAN.tt {
		margin-left: 5px;
	}

	BUTTON.starting-instance {
		background-color: limegreen !important;
	}

	BUTTON.middle-instance {
		background-color: #CCCCCC !important;
	}
	BUTTON.ending-instance {
		background-color:red !important;
	}

	TABLE#spc_table TR TD, TABLE#spc_table TR TH {
		font-size: 10pt;
	}

	DIV.has-comment {
		background-color: limegreen;
		color: black;
	}

	DIV.no-comment {
		background-color: #CCCCCC;
		color: white;
	}
</style>
<div class="col-md-12">

	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
			<span class="glyphicon glyphicon-cog"></span> SPC Report
		</div>
		<div class="panel-body">
			<div class="form-group col-sm-2">
				<label for="system_select" class="control-label">System
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
					</select>
				</div>
			</div>
			<div class="form-group col-sm-3">
				<label for="machine_select" class="control-label">Machine
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Machine"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="machine_select" name="machine_ID" placeholder="Machine" disabled></select>
				</div>
			</div>
			<div class="form-group col-sm-3">
				<label for="start_date" class="control-label">Start Date
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
				</label>
				<div class="">
					<input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date" value="{$smarty.now|date_format:"%Y-%m-%d"}">
				</div>
			</div>
			<div class="form-group col-sm-3">
				<label for="end_date" class="control-label">End Date
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
				</label>
				<div class="">
					<input type="date" class="form-control input-sm" id="end_date" placeholder="End Date" value="{$smarty.now|date_format:"%Y-%m-%d"}">
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="form-group col-sm-2">
				<label for="tool_select" class="control-label">Model
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Model"></span>
				<div class="">
					<select class="form-control input-sm" id="tool_select" name="" placeholder="Model" disabled></select>
				</div>
			</div>
			<div class="form-group col-sm-3">
				<label for="subtool_select" class="control-label">Part
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="subtool_select" name="" placeholder="Part" disabled></select>
				</div>
			</div>
			<div class="form-group col-sm-3">
				<label for="datapoint_select" class="control-label">Data Point
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Data Point"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="datapoint_select" name="" placeholder="Data Point" disabled></select>
				</div>
			</div>
		<!--	<div class="form-group col-sm-3">
				<label for="origin_select" class="control-label">Part Origin
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part Origin"></span>
				</label>
				<div class="">
					<select class="form-control input-sm" id="origin_select" name="" placeholder="Part Origin" disabled></select>
				</div>
			</div>-->
			<div class="form-group col-sm-3">
				<button class="btn btn-success btn-sm btn-run"><span class="glyphicon glyphicon-hand-right"></span> Run Report</button>
			</div>
		</div>
	</div>

	<div class="panel panel-primary" style="display:none;" id="div_report_data">
		<div class="panel-heading">
			<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
			<span class="pull-right" style="margin-right:10px;"><button class="btn btn-xs btn-success btn-set-limits"><span class="glyphicon glyphicon-indent-right"></span> Set Control Limits</button></span>
			<span class="pull-right" style="margin-right:10px;"><button class="btn btn-xs btn-success btn-export-data"><span class="glyphicon glyphicon-export"></span> Export Data</button></span>
			<h3 class="panel-title"><span class="glyphicon glyphicon-th"></span> Report Data</h3>
		</div>
		<div class="panel-body">
			<div class="alert alert-info" style="padding:5px;">
				<span class="pull-right"><button class="btn btn-primary btn-xs btn-set-target"><span class="glyphicon glyphicon-pushpin"></span> Set Target</button></span>
				<span class="glyphicon glyphicon-record"></span> Target: <span id="sp_target"></span> &plusmn; <span id="sp_delta"></span> <span id="sp_target_range"></span>
			</div>
			<div class="table-responsive">
				<table id="spc_table" class="table table-striped table-clickable table-hover table-bordered table-condensed">
					<thead>
						<tr>
							<th rowspan="2">Part</th>
							<th colspan="10" class="span_all">Instances</th>
						</tr>
						<tr id="tr_instance_numbers"></tr>
					</thead>
					<tbody id="parts_body"></tbody>
					<thead>
						<tr>
							<th>Legend</th>
							<th colspan="10" class="span_all">
								<span class="over_tol" style="padding:1px 4px;margin:0px 10px;">Over Tolerance</span>
								<span class="under_tol" style="padding:1px 4px;margin:0px 10px;">Under Tolerance</span>
								<span class="over_xbar_ucl" style="padding:1px 4px;margin:0px 10px;">Over xBar UCL</span>
								<span class="under_xbar_lcl" style="padding:1px 4px;margin:0px 10px;">Under xBar LCL</span>
								<span class="over_range_ucl" style="padding:1px 4px;margin:0px 10px;">Over Range UCL</span>
								<span class="under_range_lcl" style="padding:1px 4px;margin:0px 10px;">Under Range LCL</span>
							</th>
						</tr>
					</thead>
					<tbody>
				<!--		<tr id="tr_max"><td>MAX</td></tr>
						<tr id="tr_min"><td>MIN</td></tr>-->
						<tr id="tr_range"></tr>
						<tr id="tr_xbar"></tr>
						<!--<tr id="tr_stddev"><td>&sigma;</td></tr>-->
						<tr>
							<td><b style="font-size:7pt;">Saved <br>Control <br> Limits </b></td>
							<td colspan="11" class="span_all" id="td_process_capability"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-primary" style="display:none;" id="div_report_chart">
		<div class="panel-heading">
			<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
			<h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> Report Charts</h3>
		</div>
		<div class="panel-body">
			<div class="" id="div_charts">
				<div id="div_chart_xbar" style=""></div>
				<div id="div_chart_range"></div>
			</div>
		</div>
	</div>

	<form style="display:none;" action="export.php" id="frm_export" target="_blank" method="POST">
		<input type="hidden" id="inpExport" name="inpExport">
	</form>
</div>

<div class="modal fade" id="div_modal_set_limits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Set Control Limits</h4>
			</div>
			<div class="modal-body">
				<div>
					<span class="label label-info pull-right"><span class="glyphicon glyphicon-info-sign"></span> Click on starting instance, then click on ending instance.</span>
					<b>Select Instances:</b>
				</div>
				<div class="panel panel-default">
					<div id="div_instance_instructions"></div>
					<div class="panel-body" id="div_sel_instances"></div>
				</div>
				<div><b>Calculated Values for Current Range:</b></div>
				<div id="div_calculated_values"></div>
				<div id="div_process_capability"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-limits" DISABLED><span class="glyphicon glyphicon-floppy-disk"></span> Save Control Limits</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_modal_comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Add Data Point Comment</h4>
			</div>
			<div class="modal-body">
				<form class="form form-horizontal" role="form">
					<div class="form-group">
						<label for="inp_comment" class="col-sm-4 control-label">
							Comment:
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control input-sm" id="inp_comment" name="inp_field"/>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-comment"><span class="glyphicon glyphicon-floppy-disk"></span> Save Comment</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_modal_target" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Set Data Point Target</h4>
			</div>
			<div class="modal-body">
				<form class="form form-horizontal" role="form">
					<div class="form-group">
						<label for="inp_target" class="col-sm-4 control-label">
							Target:
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control input-sm" id="inp_target" name="inp_target"/>
						</div>
					</div>
					<div class="form-group">
						<label for="inp_tolerance" class="col-sm-4 control-label">
							Tolerance (&plusmn;):
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control input-sm" id="inp_tolerance" name="inp_tolerance"/>
						</div>
					</div>
					<div class="form-group">
						<label for="inp_xbar_ucl" class="col-sm-4 control-label">
							Xbar UCL:
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control input-sm" id="inp_xbar_ucl" name="inp_xbar_ucl"/>
						</div>
					</div>
					<div class="form-group">
						<label for="inp_xbar_lcl" class="col-sm-4 control-label">
							Xbar LCL:
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control input-sm" id="inp_xbar_lcl" name="inp_xbar_lcl"/>
						</div>
					</div>
					<div class="form-group">
						<label for="inp_range_ucl" class="col-sm-4 control-label">
							Range UCL:
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control input-sm" id="inp_range_ucl" name="inp_range_ucl"/>
						</div>
					</div>
					<div class="form-group">
						<label for="inp_range_lcl" class="col-sm-4 control-label">
							Range LCL:
						</label>
						<div class="col-sm-4">
							<input type="text" class="form-control input-sm" id="inp_range_lcl" name="inp_range_lcl"/>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-target"><span class="glyphicon glyphicon-floppy-disk"></span> Save Target</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>

<script type="text/javascript" src="./public/scripts/util.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/reports/spc.js"></script>
<script type="text/javascript" src="./public/scripts/reports/spc_charts.js"></script>
<script type="text/javascript" src="./public/scripts/reports/spc_math.js"></script>
{/block}
