{extends file='app_shell.html'}


{block name=subthing}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>System Setup Report</h4>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Report Parameters
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="selLine" class="col-sm-2 control-label">System/Line</label>
						<div class="col-sm-10">
							<select class="form-control" id="selLine"></select>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Run Report</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				Report Results
			</div>
			<div class="panel-body">
				Please enter report parameters and select 'Run Report' to continue...
			</div>
		</div>
	</div>
</div>
{/block}