{extends file='app_shell.html'}

{block name=subthing}
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
    
<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading">Tester History Report</span></h2>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Filter By
			</div>
			<div class="panel-body">
				<div class="form-group col-sm-2">
					<label for="start_date" class="control-label">Start Date
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
					</label>
					<div class="">
						<input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="end_date" class="control-label">End Date
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
					</label>
					<div class="">
						<input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="system_select" class="control-label">System
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
						</select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="line_select" class="control-label">Line
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Line"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="line_select" placeholder="Line" name="line_id" ></select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="model_select" class="control-label">Model
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Model"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="line_model_select" placeholder="Model" name="line_model" ></select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="station_select" class="control-label">Station
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Station"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="station_select" placeholder="Station"></select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="inpShift" class="control-label">Shift
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Shift"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="inpShift" placeholder="Shift"></select>
					</div>
				</div>				
				<div class="form-group col-sm-2">
					<label for="operator_select" class="control-label">Operator
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operator"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="operator_select" placeholder="Operator"></select>
					</div>
				</div>
				<div class="form-group col-sm-2">
					<label for="inpGroupBy" class="control-label">Group By
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Group By"></span>
					</label>
					<div class="">
						<select class="form-control input-sm" id="inpGroupBy" placeholder="Group By"></select>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Summaries
			</div>
			<div class="panel-body panel-body-chart">
				<div class="loading" style="display:none;">Loading...</div>
				<div class="panel panel-report-date"></div>	
				<div class="panel panel-top-failures"></div>
				<div class="panel panel-tester-cycles"></div>
			</div>
		</div>		
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Tester History
			</div>
			<div class="panel-body">
				<!-- <div class="loading" style="display:none;">Loading...</div> -->
				<div class="panel panel-report-date"></div>
				<table class="table table-condensed table-bordered table-striped table-tester-history">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>				
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/reports/tester_history.js"></script>

{/block}