{extends file='app_shell.html'}

{block name=head append}
    <link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
    <link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
    <link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
{/block}

{block name=subthing}


  <div class="col-md-12">
  <div class="table-responsive">
    <table id="rack_table" class="table table-striped table-clickable table-hover">
      <thead>
        <tr>
          <th class="clock_number">Rack ID</th>
          <th class="first_name">Start Time</th>
          <th class="last_name">Status</th>
          <th class="shift">Rack Number</th>
        </tr>
      </thead>

      <tfoot>
        
      </tfoot>
   </table>
  </div>
  </div>

  <script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
  <script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

  <script type="text/javascript" src="./public/scripts/reports/wire_harness_kitting.js"></script>
{/block}
