{extends file="app_shell.html"}

{block name=subthing}

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading"><b></b></div>
		<div class="panel-body"><p></p>
			<table id="report_results" class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th rowspan="2">Operator</th>
						<th colspan="" class="text-center">Jobs</th>
						<th rowspan="2" class="level-1 text-center">Level 1</th>
						<th rowspan="2" class="level-2 text-center">Level 2</th>
						<th rowspan="2" class="level-3 text-center">Level 3</th>
						<th rowspan="2" class="level-4 text-center">Level 4</th>
					</tr>
					<tr>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>

{/block}