{extends file="app_shell.html"}

{block name="subthing"}
	<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
	<link rel="stylesheet" href="./public/css/ojt_qual_sheet.css" type="text/css" />

	<div class="row">
	<div class="panel panel-primary" id="main_panel">
		<div class="panel-heading">
			<h4>OJT/Alerts - Qualification Sheet</h4>
		</div>
		<div class="panel-body">

			<div class="panel panel-primary">
				<div class="panel-heading">
					Filter By
				</div>
				<div class="panel-body">

<!-- 					<div class="form-group col-sm-2">
						<label for="department_select" class="control-label">Department
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Department"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="department_select" name="department_ID" placeholder="Department" disabled>
							</select>
						</div>
					</div> -->

					<div class="form-group col-sm-2">
						<label for="area_select" class="control-label">Area
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Area"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="area_select" name="area_ID" placeholder="Area" disabled>
							</select>
						</div>
					</div>

					<div class="form-group col-sm-2">
						<label for="sub_area_select" class="control-label">Group
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Group"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="sub_area_select" name="sub_area_ID" placeholder="Group" disabled>
							</select>
						</div>
					</div>

				</div>

				<div class="panel-footer">
					<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
				</div>

			</div>

			<div id="plant_wide_panel"></div>
			<div id="department_wide_panel"></div>
			<div id="area_wide_panel"></div>
			<div id="sub_area_wide_panel"></div>


		</div>

	</div>

	<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
	<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
	<script type="text/javascript" src="./public/scripts/filter.js"></script>
	<script type="text/javascript" src="./public/scripts/reports/ojt/ojt_qual_sheet.js"></script>
{/block}
