{extends file='app_shell_full.html'}

{block name=subthing}

<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="./public/css/DataTables/datatables.min.css"/>
<link type="text/css" rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css"/>
<style>
	.table tbody tr > td.success {
		color: black;
	}

	.table tbody tr > td.danger {
		color: black;
	}

	.table tbody tr > td.warning {
		color: black;
	}

	colgroup col:nth-child(even) {
		background-color: whitesmoke;
	}

	.panel-heading .btn {
		margin-left: 10px;
	}

	.table a:not(.btn),
	.table a:not(.btn) {
		color: black;
		text-decoration: none
	}

	div.dataTables_wrapper div.dataTables_filter {
		text-align: left
	}

	.modal-xlg {
		width: 50%
	}

</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="btn-group pull-right" role="group" aria-label="...">
						<button type="button" class="btn btn-danger btn-xs btn-groups-show-active"><span
								class="glyphicon glyphicon-remove"></span> Show Inactive
						</button>
					</div>
					<b>OJT Groups</b>
				</div>
				<div class="panel-body">
					<div id="ojt_group_tree"></div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="panel panel-primary panel-options">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Show Options</h4></div>
					<div class="panel-body">
						<span>Show additional data: </span>
						<div class="btn-group" role="group" aria-label="...">
							<button class="btn btn-xs btn-danger btn-option" value="signoff_level"><span
									class="glyphicon glyphicon-remove"></span> Signoff Level
							</button>
							<button class="btn btn-xs btn-danger btn-option" value="signoff_operator"><span
									class="glyphicon glyphicon-remove"></span> Signoff Operator
							</button>
							<button class="btn btn-xs btn-danger btn-option" value="signoff_role"><span
									class="glyphicon glyphicon-remove"></span> Signoff Role
							</button>
							<button class="btn btn-xs btn-danger btn-option" value="signoff_date"><span
									class="glyphicon glyphicon-remove"></span> Signoff Date
							</button>
							<button class="btn btn-xs btn-danger btn-option" value="signoff_expires"><span
									class="glyphicon glyphicon-remove"></span> Signoff Expires
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-primary panel-signoffs">
					<!-- Default panel contents -->
					<div class="panel-heading">
						OJT Operator Review
						<button class="btn btn-xs btn-danger btn-show-alerts pull-right"><span
								class="glyphicon glyphicon-remove"></span> Show Alerts
						</button>
					</div>
					<div class="panel-body">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- DETAIL VIEWER MODAL //-->
<div class="modal fade modal-detail" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<div class="btn-group pull-right" role="group" aria-label="...">
					<button type="button" class="btn btn-danger btn-xs btn-signoffs-show-expired"><span
							class="glyphicon glyphicon-remove"></span> Show Expired
					</button>
				</div>
				<b>Signoff Detail</b>
			</div>
			<div class="modal-body">
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/bootstrap-treeview.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/manage/ojt/ojt.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/reports/ojt/ojt_operator_signoffs.js"></script>
{/block}
