{extends file='app_shell_full.html'}

{block name=subthing}

<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="./public/css/DataTables/datatables.min.css"/>
<link type="text/css" rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" />
<style>
	.table tbody tr > td.success {
		color: black;
	}

	.table tbody tr > td.danger {
		color: black;
	}

	.table tbody tr > td.warning {
		color: black;
	}

	.panel-heading .btn {
		margin-left: 10px;
	}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="btn-group pull-right" role="group" aria-label="...">
						<button type="button" class="btn btn-danger btn-xs btn-groups-show-active"><span
								class="glyphicon glyphicon-remove"></span> Show Inactive
						</button>
					</div>
					<b>OJT Groups</b>
				</div>
				<div class="panel-body">
					<div id="ojt_group_tree"></div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="panel panel-primary panel-signoffs">
				<!-- Default panel contents -->
				<div class="panel-heading">
					OJT Group Review
					<button class="btn btn-xs btn-danger btn-show-alerts pull-right"><span
							class="glyphicon glyphicon-remove"></span> Show Alerts
					</button>
					<button class="btn btn-xs btn-danger btn-show-percent pull-right"><span
							class="glyphicon glyphicon-remove"></span> Show Percent
					</button>
				</div>
				<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/datatables.min.js"></script>
<script type="text/javascript" src="./public/scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/bootstrap-treeview.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/manage/ojt/ojt.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/reports/ojt/ojt_group_signoffs.js"></script>
{/block}
