{extends file="app_shell.html"}


{block name=subthing}

<link rel="stylesheet" href="./public/css/ojt_top_trainees.css" type="text/css" />

<div class="row">
	<div class="panel panel-primary">
	    <div class="panel-heading">
	        <h2><span id="heading">OJT/Alerts - Top Trainees Report</span></h2>
	    </div>

		<div class="panel-body">
			<h4>This report shows operators that are trained with the most and fewest jobs.</h4>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Filter By
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-2">
                    <label for="area_select" class="control-label">Area
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Area"></span>
                    </label>
                    <div>
                        <select class="form-control input-sm" id="area_select" name="area_id" placeholder="Area">
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Most Trained
            </div>
            <div class="panel-body">

	            <div class="table-responsive">
					<table id="report_results" class="table table-bordered table-striped table-condensed">
						<thead id="most_th">

						</thead>
						<tbody id="most">

						</tbody>
					</table>
				</div>

			</div>
		</div>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Least Trained
            </div>
            <div class="panel-body">
	
			<div class="table-responsive">
				<table id="report_results" class="table table-bordered table-striped table-condensed">
					<thead id="least_th">

					</thead>
					<tbody id="least">

					</tbody>
				</table>
			</div>

			</div>
		</div>

	</div>
</div>

<script type="text/javascript" src="./public/scripts/reports/ojt/ojt_top_trainees.js"></script>

{/block}