{extends file="app_shell.html"}

{block name="subthing"}

<link rel="stylesheet" href="./public/css/ojt_operator_skillsheet.css" type="text/css" />

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span class="heading">OJT/Alerts - Operator Skill Sheet</span></h2>
	</div>
	<div class="panel-body">
		<h4>This report shows full operator training history.</h4>
		<div class="panel panel-primary">
			<div class="panel-heading">
				Filter By
			</div>
			<div class="panel-body">
                <div class="form-group col-sm-3">
                    <label for="area_select" class="control-label">Area
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Area"></span>
                    </label>
					<span id="area_select">
						<select name="area_select_" id="area_select_" class="form-control area_select"></select>
					</span>
                </div>
                <div class="form-group col-sm-3">
                    <label for="operator_select" class="control-label">Operator
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operator"></span>
                    </label>
					<span id="operator_select">
						<select name="operator_select_" id="operator_select_" class="form-control operator_select" disabled="disabled"></select>
					</span>
                </div>
            </div>

			<div class="panel-footer">
                <button class="btn btn-success btn-xs" href="#" id="btn_run_report"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
            </div>
        </div>			
    <div class="panel panel-primary">
    	<div class="panel-heading">
        	<h3 class="panel-title">Training History</h3>
        </div>
	        <div class="panel-body">
	        	<div class="row">
	        		<div class="col-md-12">
	        			<div class="table-responsive">
							<table id="report_results" class="table table-bordered table-striped table-condensed">
								<thead>

								</thead>
								<tbody>

								</tbody>
							</table>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div><!-- end panel-body-->
</div><!-- end panel-primary-->

<script type="text/javascript" src="./public/scripts/reports/ojt/ojt_operator_skillsheet.js"></script>

{/block}