{extends file="app_shell.html"}

{block name="subthing"}

<link rel="stylesheet" href="./public/css/ojt_recent_qual.css" type="text/css" />

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span class="heading">OJT/Alerts - Recent Qualifications Report</span></h2>
	</div>
	<div class="panel-body">
		<h4>This report shows recent job qualifications.</h4>
		<div class="panel panel-primary">
			<div class="panel-heading">
				Filter By
			</div>
			<div class="panel-body">
                <div class="form-group col-sm-4">
                    <label for="area_select" class="control-label">Area
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Area"></span>
                    </label>
					<span id="area_select">
						<select name="area_select_" id="area_select_" class=" form-control area_select"></select>
					</span>
                </div>
                <div class="form-group col-sm-4">
                    <label for="system_select" class="control-label">Date
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Date"></span>
                    </label>
					<span id="date_select">
						<input type="date" class="form-control datepicker date center up_to_date" title="Date" name="up_to_date" id="up_to_date" />
					</span>
                </div>
            </div>

			<div class="panel-footer">
                <button class="btn btn-success btn-xs" href="#" id="btn_run_report"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
            </div>
        </div>	
    <div class="panel panel-primary" id="results">
    	<div class="panel-heading">
        	<h3 class="panel-title">Job Qualification History</h3>
        </div>
	        <div class="panel-body">
	        	<div class="row">
	        		<div class="col-md-12">
	        			<div class="table-responsive">
							<table id="report_results" class="table table-bordered table-striped table-condensed">
								<thead>

								</thead>
								<tbody>

								</tbody>
							</table>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div><!-- end panel-body-->
</div><!-- end panel-primary-->
<script type="text/javascript" src="./public/scripts/reports/ojt/ojt_recent_qual.js"></script>

{/block}