{extends file='app_shell_full.html'}

{block name=subthing}

<link rel="stylesheet" type="text/css" href="./public/css/manage_styles.css"/>
<link rel="stylesheet" type="text/css" href="./public/css/DataTables/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css"/>
<div class="container-fluid">
	<div class="row">

		<div class="col-md-12">
			<div class="row">
				<div class="panel panel-primary panel-options">
					<!-- Default panel contents -->
					<div class="panel-heading"><h4>Operator Skillsheet</h4></div>
					<div class="panel-body">
						<div class="row">

							<div class="form-group col-sm-5">
								<label for="operator_search_bar" class="control-label">Operator Select</label>
								<select name="operator_search_bar" id="operator_search_bar"
								        class="form-control operator_select">
									<option>Select an Operator...</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<span>Choose data to be shown: </span>

								<div class="btn-group" role="group" aria-label="...">
									<button class="btn btn-xs btn-success btn-option" value="signoff_operator"><span
											class="glyphicon glyphicon-ok"></span> Signoff Operator
									</button>
									<button class="btn btn-xs btn-danger btn-option" value="signoff_date"><span
											class="glyphicon glyphicon-remove"></span> Signoff Date
									</button>
									<button class="btn btn-xs btn-danger btn-option" value="signoff_expires"><span
											class="glyphicon glyphicon-remove"></span> Signoff Expires
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-primary panel-signoffs">
					<!-- Default panel contents -->
					<div class="panel-heading alert-button">OJT Operator Review
						<button class="btn btn-xs btn-danger btn-option pull-right" value="0"><span
								class="glyphicon glyphicon-remove"></span> Show Alerts
						</button>
					</div>
					<div class="panel-body">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/bootstrap-treeview.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/manage/ojt/ojt.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/reports/ojt/ojt_operator_skill.js"></script>
{/block}
