{extends file='app_shell_full.html'}

{block name=subthing}
<link type="text/css" rel="stylesheet" href="../common/library/js/select2-4.0.2/css/select2.min.css">
<link type="text/css" rel="stylesheet" href="./public/css/DataTables/dataTables.min.css">
<link type="text/css" rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" />
<link type="text/css" rel="stylesheet" href="./public/css/report_styles.css"/>
<style>
    .glyphicon {
        padding-right: 10px;
    }
    /* Icon when the collapsible content is shown */
    .panel-heading .btn:after {
        font-family: "Glyphicons Halflings";
        content: "\e114";
        float: right;
        margin-left: 15px;
    }
    /* Icon when the collapsible content is hidden */
    .panel-heading .btn.collapsed:after {
        content: "\e080";
    }
    .dataTables_filter {
        float: left;
    }
    button[data-toggle="collapse"] {
        display: none;
    }
</style>

<div id="main_panel" class="panel panel-primary">
    <div class="panel-heading">
        <h2><span id="heading">Autogauge Report</span></h2>
    </div>
    <div class="panel-body">
        <div class="panel panel-primary" id="panel-filter">
            <div class="panel-heading"><span>Report Filters</span>
                <button type="button" class="btn btn-xs btn-info pull-right" data-toggle="collapse"
                        data-target="#panel-filter .panel-body">Collapse
                </button>
            </div>
            <div class="panel-body collapse in">
            </div>
            <div class="panel-footer">
                <button class="btn-run-report btn btn-xs btn-success">
                    <span class="glyphicon glyphicon-play-circle"></span><b>Run Report</b>
                </button>
            </div>
        </div>
    </div>
    <div class="panel-body" id="panel-data">
        <div class="panel panel-primary">
            <div class="panel-heading"><span>Gauging Data</span>
                <button type="button" class="btn btn-xs btn-info pull-right" data-toggle="collapse"
                        data-target="#panel-data .panel-body">Collapse
                </button>
            </div>
            <div class="panel-body collapse in">
                <table id="result-table" class="table table-striped table-condensed table-responsive">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="./public/scripts/DataTables/dataTables.min.js"></script>
<script type="text/javascript" src="./public/scripts/DataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/select2-4.0.2/js/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/reports/report_filter.js"></script>
<script type="text/javascript" src="./custom/meb/reports/gauging/autogauge.js"></script>
{/block}