{extends file='app_shell.html'}

{block name=subthing}
	<link rel="stylesheet" href="../../../../public/css/report_styles.css" type="text/css" />

	<style>
		#div_plex_jobs TABLE TR TH, #div_plex_jobs TABLE TR TD {
			text-align: center;
		}
	</style>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="pull-right">
				<button class="btn btn-info btn-xs btn-confirm-pull-jobs-from-plex"><span class="glyphicon glyphicon-download"></span> Pull Current Jobs from Plex</button>
				<button class="btn btn-info btn-xs btn-refresh-jobs"><span class="glyphicon glyphicon-refresh"></span> Refresh Jobs</button>
			</span>
			Recent Plex Jobs
		</div>
		<div class="panel-body">
			<div id="div_plex_jobs">
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th>Job No</th>
							<th>Job Key</th>
							<th>Part No</th>
							<th>Quantity</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="./custom/genze/reports/plex_jobs/plex_jobs.js"></script>


	<!-- MODALS: //-->
	<!-- Modules Dialog //-->
	<div class="modal fade" id="div_modules_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id=""></h4>
				</div>
				<div class="modal-body">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th>VIN</th>
								<th>Build Order</th>
								<th>Loaded Time</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
				</div>
			</div>
		</div>
	</div>


	<!-- BOM Dialog //-->
	<div class="modal fade" id="div_BOM_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id=""></h4>
				</div>
				<div class="modal-body" style="max-height: 600px;overflow-y:scroll;">
					<table class="table table-bordered table-striped table-condensed">
						<thead>
							<tr>
								<th>Part Number</th>
								<th>Part Description</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Pull Confirm Dialog //-->
	<div class="modal fade" id="div_pull_confirm_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="">Pull Current Jobs From Plex</h4>
				</div>
				<div class="modal-body">
					<div class="well">Are you sure you would like to pull the current jobs from Plex?</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm btn-pull-jobs-from-plex">Yes, Pull Current Jobs from Plex</button>
					<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>

{/block}

