{extends file='app_shell.html'} {block name=subthing}

<style>
	.btn-passed, .btn-failed {
		height: 100px;
		font-weight: bold;
		font-size: x-large;
	}
</style>
<link rel="stylesheet" href="../common/library/plupload-2.1.2/js/jquery.plupload.queue/css/jquery.plupload.queue.css">
<meta charset="UTF-8">
<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3>MAHR MMQ Gauging</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="form-group col-sm-6">
					<label for="inp_serial_number" class="control-label">Serial
						Number <span class="glyphicon glyphicon-question-sign"
						             data-toggle="tooltip" title="Serial Number"></span>
					</label>

					<div>
						<input id="inp_serial_number" name="serial_number"
						       class="form-control input-sm" placeholder="Serial Number"/>

						<div id="part_view"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div id="uploader">
						<p></p>
					</div>
				</div>
			</div>
			<div class="row">
				<button class="col-md-offset-2 col-sm-3 btn btn-success btn-passed">
					<span class="glyphicon glyphicon-thumbs-up"></span> PASSED
				</button>
				<button class="col-md-offset-1 col-sm-3 btn btn-danger btn-failed">
					<span class="glyphicon glyphicon-thumbs-down"></span> FAILED
				</button>
			</div>
			<div id="upload_detail" class="row">
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="{$globals.bootstrap_path}js/bootstrap-growl.min.js"></script>
<script type="text/javascript" src="../common/library/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="../common/library/plupload-2.1.2/js/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
<script type="text/javascript" src="./public/scripts/lib/NYSUS.COMMON.OPERATORS.js"></script>
<script type="text/javascript" src="./public/scripts/lib/NYSUS.REPETITIVE.MACHINES.js"></script>
<script type="text/javascript" src="./public/scripts/lib/NYSUS.REPETITIVE.GAUGES.js"></script>
<script type="text/javascript" src="./custom/metaldyne_litchf/manage/gauge_mahrmmq/gauge_mahrmmq.js"></script>

{/block}
