<!-- LOGIN MODAL //-->
<div class="modal fade" id="div_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id=""><img src="./public/images/nysus_icon_30_by_30.png" height="30"> Nysus Machine MES v<span id="sp_version"></span> - Operator Login</h4>
			</div>
			<div class="modal-body">
				<span class="pull-right" id="sp_login_keys"></span>
				<div><img src="{$globals.company_logo_path}" height="50"></div>
				<h4>Welcome to the {$globals.company_name} Machine MES</h4>
			</div>
			<div class="modal-footer" id="div_login_via_scan">
				<div id="div_login_instr">
					<h3>Please scan your operator badge to log in</h3>
				</div>
				<div id="div_login_result" class="" style="display: none;"></div>
			</div>
			<div class="modal-footer" id="div_login_via_master" style="display: none;">
				<div id="div_login_instr_from_master">
					<h3>Waiting for master station to log in...</h3>
				</div>
			</div>
			<div class="modal-footer" id="div_OJT" style="display: none;">
				<div id="div_OJT_detail">
					<div>
						<h3 class="label label-danger" style="font-size: 24pt;"></h3>
					</div>
					<div class="clearfix" style="margin-top:20px;"></div>
					<div>
						<button onclick="doLogout();" class="btn btn-info">Log Out</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- ERROR MODAL //-->
<div class="modal fade" id="div_network_error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="">MAJOR NETWORK ERROR - RELOADING</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger"><h2>THE SYSTEM ENCOUNTERED A MAJOR NETWORK ERROR AND WILL TRY TO RELOAD THE DATA.</h2></div>
			</div>
		</div>
	</div>
</div>

<!-- LOADING DATA MODAL //-->
<div class="modal fade" id="div_loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id=""><img src="./public/images/nysus_icon_30_by_30.png" height="30"> Nysus Machine MES v2.0.24 - Loading All Data</h4>
			</div>
			<div class="modal-body">
				<div><img src="{$globals.company_logo_path}" height="50"></div>
				<h4>{$globals.company_name} Machine MES - <span id="sp_loading_status">Loading all data...</span></h4>
			</div>
		</div>
	</div>
</div>

<!-- SELECT MACHINE MODAL //-->
<div class="modal fade" id="div_select_machine_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="">Select Machine</h4>
			</div>
			<div class="modal-body">
				<p>Please select the machine:</p>
				<ul id="ul_select_machines"></ul>
			</div>
		</div>
	</div>
</div>

<!-- TOOL CHANGE SELECT MODAL //-->
<div class="modal fade" id="div_tool_change_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="tool_change_header">Begin/End Tool Change</h4>
			</div>
			<div class="modal-body">
				<p>Please select an option:</p>
				<div id="div_tool_change_options"></div>
			</div>
			<div class="modal-footer">
				<div id="div_tool_change_footer"></div>
			</div>
		</div>
	</div>
</div>

<!-- SELECT TOOL MODAL //-->
<div class="modal fade" id="div_select_tool_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="tool_header">Select Tool</h4>
			</div>
			<div class="modal-body">
				<p>Please select the current running tool:</p>
				<ul id="ul_select_tools"></ul>
			</div>
			<div class="modal-footer">
				<i>Previously selected tool is highlighted in <span style="background-color: yellow;padding: 1px 3px;">yellow</span>.</i>
			</div>
		</div>
	</div>
</div>

<!-- group selector -->
<div class="modal fade" id="div_select_group_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="group_header">Select Group</h4>
			</div>
			<div class="modal-body">
				<div class="row">
				<div class="col-md-12">
				<p>Please select the Group:</p>
				<ul id="ul_select_groups"></ul>
				</div>
				<div class="col-md-12">
				<div class="pull-right">
					<button class="btn btn-danger btn-sm btn-space restart_tcp" style="align:right;"><span class="glyphicon glyphicon-remove"></span> Restart</button>
				</div>
				</div>
				</div>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

<!-- part selector -->
<div class="modal fade" id="div_select_part_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="parts_header">Select Part</h4>
			</div>
			<div class="modal-body">
				<div class="row">
				<div class="col-md-12">
				<p>Please De-select inactive Parts:</p>
				<ul id="ul_select_parts"></ul>
				</div>
				<div class="col-md-12">
				<div class="pull-left"><button class="btn btn-success btn-sm btn-space" id="submit_partlist"><span class="glyphicon glyphicon-ok"></span> Submit Parts</button></div>
				<div class="pull-right">
					<button class="btn btn-danger btn-sm btn-space restart_tcp" style="align:right;"><span class="glyphicon glyphicon-remove"></span> Restart</button>
				</div>
				</div>
				</div>
			</div>
			<div class="modal-footer">
				<i>Currently selected parts are highlighted in <span style="background-color: yellow;padding: 1px 3px;">yellow</span>.</i>
			</div>
		</div>
	</div>
</div>


<!-- work instruction modal //-->
<div class="modal fade" id="div_work_instruction_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xxlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Work Instructions</h4>
			</div>
			<div class="modal-body">
				<div id="div_instructions_carousel" class="slide" data-ride="">
					<!-- Indicators -->
					<ol class="carousel-indicators"></ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox" id="div_work_instruction_images"></div>

					<!-- Controls -->
					<a class="left carousel-control" href="#div_instructions_carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#div_instructions_carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<!-- ALERT MODAL //-->
<div class="modal fade" id="div_alerts_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" style="background-color: yellow;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">ALERT TYPE Alerts</h4>
			</div>
			<div class="modal-body">
				<div id="div_alerts_carousel" class="slide" data-ride="">
					<!-- Indicators -->
					<ol class="carousel-indicators"></ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox" id="div_alert_images"></div>

					<!-- Controls -->
					<a class="left carousel-control" href="#div_alerts_carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#div_alerts_carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<!-- SPC MODAL //-->
<div class="modal fade" id="div_spc_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xxlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">SPC Data Analysis - Select Data Point</h4>
			</div>
			<div class="modal-body spc-modal"></div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<!-- PARAMETER MODAL //-->
<div class="modal fade" id="div_parameter_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xxlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Machine Parameter Data</h4>
			</div>
			<div class="modal-body">
				<h4>Select Parameter:</h4>
				<div id="div_parameters">Loading...</div>
				<div id="div_parameter_chart"></div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>


<!-- END DOWNTIME MODAL //-->
<div class="modal fade" id="div_end_downtime_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">End Downtime?</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning"> <span class="glyphicon glyphicon-warning-sign"></span> Warning! This action will end the current downtime and create a new open record of downtime.</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-xlg" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
				<button type="button" class="btn btn-xlg btn-warning btn-confirm-end-downtime"><span class="glyphicon glyphicon-step-forward"></span> Yes, End Downtime</button>
			</div>
		</div>
	</div>
</div>

<!-- DOWNTIME MODAL //-->
<div class="modal fade" id="div_modal_downtime">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Record Downtime</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading"><b>Downtime Details</b></div>
					<div class="panel-body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<div class="col-sm-3 control-label"><b>Machine:</b></div>
								<div class="col-sm-9 control-label lefty" id="div_dt_machine"></div>
							</div>
							<div class="form-group">
								<div class="col-sm-3 control-label"><b>Start Time:</b></div>
								<div class="col-sm-9 control-label lefty" id="div_dt_start_time"></div>
							</div>
							<div class="form-group">
								<div class="col-sm-3 control-label"><b>Duration:</b></div>
								<div class="col-sm-9 control-label lefty" id="div_dt_duration"></div>
							</div>
							<div class="form-group">
								<div class="col-sm-3 control-label"><b>Select Reason:</b></div>
								<div id="div_cur_chain"></div>
								<div class="col-sm-9 btn-group" id="div_dt_reason"></div>
							</div>
							<!--
							<div class="form-group">
							<div class="col-sm-3 control-label"><b>Comment:</b></div>
							<div class="col-sm-9">
							<input type="text" id="txt_dt_reason" class="form-control">
							</div>
							</div>
							//-->
							<input type="hidden" id="txt_dt_reason" value="">
						</form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<span class="pull-left"><span class="glyphicon glyphicon-lock"></span> - indicates team leader required</span>
				<button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>
				<button type="button" class="btn btn-success" id="div_downtime_save"><span class="glyphicon glyphicon-floppy-disk"></span> Save Downtime Reason</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- DEFECT MODAL //-->
<div class="modal fade" id="div_defect_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Record Defect</h4>
			</div>
			<div class="modal-body">
				<div class="panel-group" id="div_defect_accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="div_defect_part_heading">
							<h4 class="panel-title">
								Step 1 of 5: Select Part <span id="sp_selected_part"></span>
							</h4>
						</div>
						<div id="div_defect_part" class="panel-collapse collapse" role="tabpanel" aria-labelledby="div_defect_part_heading">
							<div class="panel-body">
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="div_defect_disp_heading">
							<h4 class="panel-title">
								Step 2 of 5: Select Disposition <span id="sp_selected_disp"></span>
								<span class="pull-right"><button id="btn_back_to_part" class="btn btn-xs btn-warning" style="display:none;">Go Back</button></span>
							</h4>
						</div>
						<div id="div_defect_disposition" class="panel-collapse collapse" role="tabpanel" aria-labelledby="div_defect_disp_heading">
							<div class="panel-body">
								<button class="btn btn-primary btn-lg btn-defect-disp" data-disp="SCRAP">
									Scrap
								</button>
								<!--button class="btn btn-primary btn-lg btn-defect-disp" data-disp="REPAIR">
									Repair
								</button-->
								<button class="btn btn-primary btn-lg btn-defect-disp" data-disp="REWORK">
									Rework
								</button>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="div_defect_type_heading">
							<h4 class="panel-title">
								Step 3 of 5: Select Defect Type <span id="sp_selected_type"></span>
								<span class="pull-right"><button id="btn_back_to_disp" class="btn btn-xs btn-warning" style="display:none;">Go Back</button></span>
							</h4>
						</div>
						<div id="div_defect_type" class="panel-collapse collapse" role="tabpanel" aria-labelledby="div_defect_type_heading">
							<div class="panel-body">
								<div id="div_defect_chain"></div>
								<div id="div_defect_type_buttons"></div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="div_defect_origin_heading">
							<h4 class="panel-title">
								Step 4 of 5: Select Defect Origin <span id="sp_selected_origin"></span>
								<span class="pull-right"><button id="btn_back_to_type" class="btn btn-xs btn-warning" style="display:none;">Go Back</button></span>
							</h4>
						</div>
						<div id="div_defect_origin" class="panel-collapse collapse" role="tabpanel" aria-labelledby="div_defect_origin_heading">
							<div class="panel-body">
								<div id="div_defect_origin_chain"></div>
								<div id="div_defect_origin_buttons"></div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="div_defect_loc_heading">
							<h4 class="panel-title">
								Step 5 of 5: Select Defect Locations <span id="sp_selected_locations"></span>
								<span class="pull-right"><button id="btn_back_to_origin" class="btn btn-xs btn-warning" style="display:none;">Go Back</button></span>
							</h4>
						</div>
						<div id="div_defect_location" class="panel-collapse collapse" role="tabpanel" aria-labelledby="div_defect_loc_heading">
							<div class="panel-body">
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="div_defect_location_container" height="600" width="600" style="display:none;"></svg>
							</div>
							<div class="panel-footer">
								<button class="btn btn-success btn-md btn-save-defect">Save Defect</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- DOCUMENT VIEWER MODAL //-->
<div class="modal fade" id="div_documents_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xxlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Documents</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div id="div_documents" class="col-md-2">
						<ul>
							<li>Root node 1
								<ul>
									<li id="child_node_1">Child node 1</li>
									<li>Child node 2</li>
								</ul>
							</li>
							<li>Root node 2</li>
						</ul>
					</div>
					<div id="div_documents_view" class="col-md-10">
						<a id="media" class="media" href=""></a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Supervisor Auth -->
<div class="modal fade" id="div_auth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="">Supervisor Login</h4>
			</div>
			<div class="modal-body">
				<div id="div_login_instr">
					<h3>Please scan your badge to verify permission to: <span id="sp_auth_desc"></span></h3>
				</div>
				<div class="key_input">
					<div id="div_auth_keys"></div>
					<input type="text" id="role_level" style="display: none;"/>
				</div>
				<div id="div_auth_result" style="font-size: 30px; text-style: Bold;"></div>
			</div>
			<div class="modal-footer" id="div_login_via_scan">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-cancel"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- RESUME PARTIAL RACK MODAL //-->
<div class="modal fade" id="div_resume_partial_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xxlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Select or scan partial rack label</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div id="div_select_partial" class="col-md-10">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>