<div class="panel panel-primary col-md-10">
	<div class="panel-body">
		{$globals.our_name} - {$globals.app_name} for {$globals.company_name}
	</div>
	<div class="panel-body">
		<div class="col-md-6"><button class="btn btn-warning col-md-12">Safety Alerts - NONE</button></div>
		<div class="col-md-6"><button class="btn btn-success col-md-12">Quality Alerts - NONE</button></div>
	</div>
</div>
<div class="panel panel-primary col-md-2">
	<div class="panel-body">Login Info</div>
</div>