{extends file='app_shell.html'}

{block name=subthing}
<script type="text/javascript" src="/common/library/js/jsDate.js"></script>
<script type="text/javascript" src="./public/scripts/manage/ojt/alert_signoffs.js"></script>
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
		
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Record Alert Signoffs</h4>
		</div>
		<div class="panel-body">
			<p>This utility is used to record alert signoffs.  First select the department/area:</p>
			<form role="form" class="form-horizontal">
				<div class="form-group">
					<label class="col-md-2 control-label" for="sel_operator">Area:</label>
					<div class="col-sm-2">
						<select class="form-control input-sm" title="area" id="selArea" DISABLED>
							<option>Select Area...</option>
						</select>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<div class="panel panel-primary" id="div_alert_signoffs" style="display:none;">
		<div class="panel-heading">
			<h4 class="pull-left">Operator Alerts</h4>
			<span class="pull-right outlined" id="sp_load_alert_status"><span class="glyphicon glyphicon-refresh"></span> Loading alert sign-offs...</span>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
			<div class="col-md-3">Scan operator badge to log in:</div>
			<div class="col-md-2"><input type="password" class="form-control input-sm" id="inp_badge_scan"></div>
		</div>
		<table class="table table-bordered table-striped" id="tbl_alerts">
			<thead>
				<tr>
					<th rowspan="2">Operator</th>
					<!-- each alert title //-->
					<th rowspan="2" class="text-center" id="th_logged_in_header">Logged In?</th>
				</tr>
				<tr id="tr_alert_headers">					
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				<tr>
					<td class="text-right" colspan="40" id="td_ops_logged_in">0 operators logged in.</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="modal fade" id="div_record_alert" tabindex="-1" role="dialog" aria-labelledby="h_record_alert" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="h_record_alert"><span class="glyphicon glyphicon-pencil"></span> Record Alert Sign-off</h4>
				</div>
				<div class="modal-body">
					<div class="panel panel-default">
						<div class="panel-heading" id="div_record_head">Loading alert...</div>
						<div class="panel-body" id="div_record_body">Loading alert...</div>
					</div>
					<div class="panel panel-footer">
						<button class="btn btn-primary" id="btn_record">Record Sign-offs</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{/block}
