{extends file='app_shell.html'}

{block name=subthing}
<script type="text/javascript" src="/common/library/js/jsDate.js"></script>
<script type="text/javascript" src="./public/scripts/manage/ojt/ojt_signoffs.js"></script>
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
		
	<div class="panel panel-primary">
		<!-- Default panel contents -->
		<div class="panel-heading"><h4>Record OJT Signoffs</h4></div>
		<div class="panel-body">
			<p>This utility is used to record OJT.  First select the department/area, then the operator:</p>
			<form role="form" class="form-horizontal">
				<div class="form-group">
					<label class="col-md-2 control-label" for="sel_operator">Area:</label>
					<div class="col-sm-2">
						<select class="form-control input-sm" title="area" id="selArea" DISABLED>
							<option>Select Area...</option>
						</select>
					</div>
					<label class="col-md-2 control-label" for="sel_operator">Operator:</label>
					<div class="col-sm-2">
						<select class="form-control input-sm" title="area" id="sel_operator" DISABLED>
							<option>Select Area...</option>
						</select>
					</div>
				</div>
				<div class="container">
					<a class="btn btn-primary btn-xs" href="#" id="btn_load" disabled><span class="glyphicon glyphicon-refresh"></span> Load OJT For Selected Operator</a>
				</div>
			</form>
		</div>
	</div>
	<div class="well" id="div_cont_pb" style="display:none;">
		<div class="progress progress-striped active">
			<div id="div_pb" class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				<span class="sr-only">0% Complete</span>
			</div>
		</div>
	</div>
	<!-- Table -->
	<div class="panel panel-primary" id="div_qual_container" style="display:none;">
		<div class="panel-heading">Operator OJT Qualifications</div>
		<div class="panel-body">
			<p id="p_quals_info">Select the operator to see their training qualifications.</p>
		</div>
		<table class="table table-bordered table-condensed" id="tbl_main"></table>
	</div>

		<div class="modal fade" id="div_modal_record" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Record OJT for <strong><span id="sp_opname"></span></strong></h4>
					</div>
					<div class="modal-body">
						<div class="panel panel-default">
							<div class="panel-body">
								Selected Job: <strong><span id="sp_jobname"></span></strong>
							</div>
						</div>
						<div><p id="p_instr">Please scan operator badge to certify training was recieved:</p><input type="password" class="input-sm" id="txt_badge_scan"></div>
						<div class="panel">
							<div class="panel-body">
								<div class="alert" id="div_recording_info" style="display:none;"></div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-xs" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
{/block}
