{extends file='app_shell.html'}

{block name=subthing}

<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="./public/css/DataTables/datatables.min.css"/>
<link type="text/css" rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css"/>
<link type="text/css" rel="stylesheet" href="../common/library/js/select2-4.0.2/css/select2.min.css">
<style>
	/*table.table-bordered.dataTable {*/
		/*border-collapse: collapse !important;*/
	/*}*/
	/*.inbound {*/
		/*/!*border-left: 2px solid black;*!/*/
		/*background-color: whitesmoke;*/
	/*}*/
	colgroup col:nth-child(even) {
		background-color: whitesmoke;
	}
	/*.table-condensed>tbody>tr>td,*/
	/*.table-condensed>tbody>tr>th,*/
	/*.table-condensed>tfoot>tr>td,*/
	/*.table-condensed>tfoot>tr>th,*/
	/*.table-condensed>thead>tr>td,*/
	/*.table-condensed>thead>tr>th {*/
		/*padding: 2px*/
	/*}*/
	td label {
		display: block;
		text-align: center;
		horiz-align: center;
		margin: 0 auto;
		width: 100%
	}
	.modal-xlg {
		width: 90%
	}
	.panel-heading .btn {
		margin-left: 10px;
	}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<!-- Default panel contents -->
				<div class="panel-heading"><h4>OJT Signoffs</h4></div>
				<div class="panel-body">
					<label class="control-label pull-left">Operators</label>

					<div class="col-md-4">
						<select class="form-control input-sm sel_operators" title="Operators">
							<options></options>
						</select>
					</div>
				</div>
			</div>

			<div class="panel panel-primary panel-signoffs">
				<!-- Default panel contents -->
				<div class="panel-heading">
					<button class="btn btn-xs btn-danger btn-show-alerts pull-right"><span
							class="glyphicon glyphicon-remove"></span> Show Alerts
					</button>
					<button type="button" class="btn btn-success btn-xs btn-refresh pull-right"><span
							class="glyphicon glyphicon-refresh"></span> Refresh
					</button>
					Record OJT Signoffs
				</div>
				<div class="panel-body">

				</div>
			</div>
		</div>
	</div>
</div>
<!-- DOCUMENT VIEWER MODAL //-->
<div class="modal fade modal-preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Requirement Document</h4>
			</div>
			<div class="modal-body">
				<div class="requirement_preview">
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../common/library/js/select2-4.0.2/js/select2.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/manage/ojt/ojt.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/manage/ojt/ojt_operator_signoffs.js"></script>
{/block}
