<!-- LOGIN MODAL //-->
<div class="modal fade" id="div_login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id=""><img src="../public/images/nysus_icon_30_by_30.png" height="30"> Nysus Machine MES v<span id="sp_version"></span> - Operator Login</h4>
			</div>
			<div class="modal-body">
				<span class="pull-right" id="sp_login_keys"></span>
				<div><img src=".{$globals.company_logo_path}" height="50"></div>
				<h4>Welcome to the {$globals.company_name} Machine MES</h4>
			</div>
			<div class="modal-footer" id="div_login_via_scan">
				<div id="div_login_instr">
					<h3>Please scan your operator badge to log in</h3>
				</div>
				<div id="div_login_result" class="" style="display: none;"></div>
			</div>
			<div class="modal-footer" id="div_login_via_master" style="display: none;">
				<div id="div_login_instr_from_master">
					<h3>Waiting for master station to log in...</h3>
				</div>
			</div>
			<div class="modal-footer" id="div_OJT" style="display: none;">
				<div id="div_OJT_detail">
					<div>
						<h3 class="label label-danger" style="font-size: 24pt;"></h3>
					</div>
					<div class="clearfix" style="margin-top:20px;"></div>
					<div>
						<button onclick="doLogout();" class="btn btn-info">Log Out</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- ERROR MODAL //-->
<div class="modal fade" id="div_network_error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="">MAJOR NETWORK ERROR - RELOADING</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-danger"><h2>THE SYSTEM ENCOUNTERED A MAJOR NETWORK ERROR AND WILL TRY TO RELOAD THE DATA.</h2></div>
			</div>
		</div>
	</div>
</div>

<!-- LOADING DATA MODAL //-->
<div class="modal fade" id="div_loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id=""><img src="../public/images/nysus_icon_30_by_30.png" height="30"> Nysus Machine MES v2.0.24 - Loading All Data</h4>
			</div>
			<div class="modal-body">
				<div><img src=".{$globals.company_logo_path}" height="50"></div>
				<h4>{$globals.company_name} Machine MES - <span id="sp_loading_status">Loading all data...</span></h4>
			</div>
		</div>
	</div>
</div>

<!-- SELECT MACHINE MODAL //-->
<div class="modal fade" id="div_select_machine_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="">Select Machine</h4>
			</div>
			<div class="modal-body">
				<p>Please select the machine:</p>
				<ul id="ul_select_machines"></ul>
			</div>
		</div>
	</div>
</div>

<!-- DOCUMENT VIEWER MODAL //-->
<div class="modal fade" id="div_documents_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xxlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Documents</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div id="div_documents" class="col-md-2">
						<ul>
							<li>Root node 1
								<ul>
									<li id="child_node_1">Child node 1</li>
									<li>Child node 2</li>
								</ul>
							</li>
							<li>Root node 2</li>
						</ul>
					</div>
					<div id="div_documents_view" class="col-md-10">
						<a id="media" class="media" href=""></a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>