{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/options/alias_parts.js"></script>
<link rel="stylesheet" href="./public/css/option_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Alias Part Setup</h3>
		<p class="alert alert-info"><span class="glyphicon glyphicon-question-sign"></span> Alias parts are used to reduce the number of instructions you may need in the MESAAS Instruction Editor.<br>When the broadcast is received, if a component part matches a part in this list, the alias part will also be added.  More than one broadcasted part can produce the same alias component.</p>
	</div>
	<div class="panel-body" id="div_content">
		<div class="alert alert-danger alert-sm">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			WARNING: misuse of this utility will cause downtime.  Please be sure of the options you are changing prior to changing them.
		</div>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="selLine" class="col-sm-2 control-label">Line</label>
				<div class="col-sm-10">
					<select class="form-control input-sm" id="selLine"></select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default btn-xs disabled" id="btn-load">Load Configuration</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default" id="div_parts" style="display:none;">
	<div class="panel-heading">
		Alias Parts <button class="btn btn-xs btn-success pull-right" id="btn_add_part"><span class="glyphicon glyphicon-plus"></span> Add Alias Part</button>
	</div>
	<div class="panel-body overflowed">
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Broadcasted Part <span title="The part that is received on the broadcast.  An underscore _ can be used as a wildcard character." class="glyphicon glyphicon-question-sign"></span></th>
					<th>Alias Part <span title="The part that will be added to the broadcast.  This can be used in the instruction editor." class="glyphicon glyphicon-question-sign"></span></th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="div_edit_modal">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add/Edit Part</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="frm_edit_part">
					<div class="form-group">
						<label for="inpBroadcastedPartNumber" class="col-sm-2 control-label">Broadcasted Part Number</label>
						<div class="col-sm-2">
							<input type="text" class="input-sm form-control" id="inpBroadcastedPartNumber" title="Use _ to match any character">
						</div>
						<label for="inpAliasPart" class="col-sm-2 control-label">Alias</label>
						<div class="col-sm-2">
							<input type="text" class="input-sm form-control" id="inpAliasPart">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Delete Dialog //-->
<div class="modal fade" id="div_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Confirm Delete Alias Part</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete"><span class="glyphicon glyphicon-ok"></span> OK, Delete It</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>
{/block}