{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/options/andon_station_parts.js"></script>
<link rel="stylesheet" href="./public/css/option_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>ANDON Station Part Editor</h3>
	</div>
	<div class="panel-body" id="div_content">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="selLine" class="col-sm-2 control-label">Line</label>
				<div class="col-sm-10">
					<select class="form-control input-sm" id="selLine"></select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default btn-xs disabled" id="btn-load">Load Configuration</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default" id="div_parts" style="display:none;">
	<div class="panel-heading">
		Parts <button class="btn btn-xs btn-success pull-right" id="btn_add_part"><span class="glyphicon glyphicon-plus"></span> Add Part</button>
	</div>
	<div class="panel-body overflowed">
		<table class="table table-condensed table-striped">
			<thead></thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="div_edit_modal">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add/Edit Part</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="frm_edit_part">
					<div class="form-group">
						<label for="inpPartNumber" class="col-sm-2 control-label">Part Number</label>
						<div class="col-sm-2">
							<input type="text" id="inpPartNumber">
						</div>
						<label for="inpPartScan" class="col-sm-2 control-label">Part Scan</label>
						<div class="col-sm-2">
							<input type="text" id="inpPartScan" title="Use _ to match any character">
						</div>
						<label for="inpPartDesc" class="col-sm-2 control-label">Part Desc</label>
						<div class="col-sm-2">
							<input type="text" id="inpPartDesc">
						</div>
					</div>
					<div class="form-group">
						<label for="inpPickLoc" class="col-sm-2 control-label">Pick Location</label>
						<div class="col-sm-2">
							<input type="text" id="inpPickLoc">
						</div>
						<label for="inpDestLoc" class="col-sm-2 control-label">Destination Location</label>
						<div class="col-sm-2">
							<input type="text" id="inpDestLoc">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Delete Dialog //-->
<div class="modal fade" id="div_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Confirm Delete Part</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete"><span class="glyphicon glyphicon-ok"></span> OK, Delete It</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>
{/block}