{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/options/andon_reasons.js"></script>
<link rel="stylesheet" href="./public/css/option_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>ANDON Reason Code Editor</h3>
	</div>
	<div class="panel-body" id="div_content">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="selCategory" class="col-sm-2 control-label">Category</label>
				<div class="col-sm-10">
					<select class="form-control input-sm" id="selCategory"></select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default btn-xs" id="btn-load">Load Reasons</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-primary" id="div_reasons" style="display:none;">
	<div class="panel-heading">
		Reasons
		<button class="btn btn-primary btn-xs pull-right btn-add" data-parent="0"><span class="glyphicon glyphicon-plus"></span> Add Parent Reason Code</button>
	</div>
	<div class="panel-body overflowed">
		<ul class="list" id="ul_reasons">
		</ul>
	</div>
</div>

<div class="modal fade" id="div_edit_modal">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add/Edit Reason</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="frm_edit_part">
					<div class="form-group">
						<label for="inpDesc" class="col-sm-2 control-label">Reason Description</label>
						<div class="col-sm-2">
							<input type="text" id="inpDesc">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Delete Dialog //-->
<div class="modal fade" id="div_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Confirm Delete Reason</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete"><span class="glyphicon glyphicon-ok"></span> OK, Delete It</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>
{/block}