{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/options/component_categories.js"></script>
<link rel="stylesheet" href="./public/css/option_styles.css" type="text/css" />
<style>
	.pointer {
		cursor: pointer;
	}

	.pad-right {
		margin-right: 3px;
	}

	.pad-both {
		margin-right: 3px;
		margin-left: 3px;
	}

	.modal-backdrop {
		bottom: 0px;
	}
</style>
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Component Category and Component Part Setup</h3>
		<p class="alert alert-info">
			<span class="glyphicon glyphicon-question-sign"></span>
			Component categories are used to audit incoming build requirements to validate that all expected components are present.  Each category represents a group of possible incoming parts.
		</p>
	</div>
	<div class="panel-body" id="div_content">
		<div class="alert alert-warning alert-sm">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			WARNING: misuse of this utility can cause downtime.  Please be sure of the options you are changing prior to changing them.
		</div>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="system_select" class="col-sm-2 control-label">System:</label>
				<div class="col-sm-10">
					<select class="form-control input-sm" id="system_select"></select>
				</div>
			</div>
			<div class="form-group">
				<label for="line_select" class="col-sm-2 control-label">Line:</label>
				<div class="col-sm-10">
					<select class="form-control input-sm" id="line_select"></select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="button" class="btn btn-default btn-xs" id="btn-load">Load Configuration</button>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default" id="div_parts" style="display:none;">
	<div class="panel-heading">
		Component Categories <button class="btn btn-xs btn-success pull-right btn-add-category"><span class="glyphicon glyphicon-plus"></span> Add Category</button>
	</div>
	<div class="panel-body overflowed">
		<table class="table table-condensed table-striped table-bordered">
			<thead>
				<tr>
					<th>Category</th>
					<th>Possible Parts</th>
					<th>Min Qty</th>
					<th>Max Qty</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<!-- BOBBY GENERIC MODAL FOR ADDING AND EDITING //-->
<div class="modal fade" id="div_add_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="frm_edit_part">
					<div class="form-group">
						<label for="inpField" class="col-sm-2 control-label"></label>
						<div class="col-sm-6">
							<input type="text" class="input-sm form-control" id="inpField" title="">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Delete Dialog //-->
<div class="modal fade" id="div_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id=""></h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete"><span class="glyphicon glyphicon-ok"></span> OK, Delete It</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>
{/block}