{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/options/defect_codes.js"></script>
<link rel="stylesheet" href="./public/css/option_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h3>Defect Code Editor</h3>
		<div style="margin-bottom: 10px;">		
			<button id="btn_export" class="btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-share"></span> Export</button>
			<button id="btn_add_parent" class="btn btn-xs btn-success btn-add-code pull-right" data-parent_ID="0"><span class="glyphicon glyphicon-plus"></span> Add Parent Code</button>
			<!--<button id="btn_clone_from" class="btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-share"></span> Clone From</button>-->
		</div>
	</div>
	<div class="panel-body">
		<div id="div_status"></div>
		
		<div id="div_codes"></div>
	</div>
</div>
<form style="display:none;" method="POST" target="_blank" action="export.php" id="frmExport">
	<input type="hidden" name="inpExport" id="inpExport" value="">
</form>


<!-- Add/Edit Dialog //-->
<div class="modal fade" id="div_add_edit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Add/Edit Code</h4>
			</div>
			<div class="modal-body">
				<div class="form-horizontal" role="">
					<!--
					<div class="form-group">
						<label for="inpDesc" class="col-sm-4 control-label">Series
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A reference number for the Defect Reason"></span>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm" id="inpSeries" placeholder="Enter the Series Number if Needed">
						</div>
					</div>
					-->
					<div class="form-group">
						<label for="inpDesc" class="col-sm-4 control-label">Defect Description
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The description of the defect reason"></span>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm" id="inpDesc" placeholder="Enter the Defect Description">
						</div>
					</div>					
					<div class="form-group" >
						<label for="inpActive" class="col-sm-4 control-label">Active?
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Show the code as a current selection to the operator"></span>
						</label>
						<div class="col-sm-8">
							<input type="checkbox" class="form-control input-sm" id="inpActive" >
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>
<!-- Clone Dialog //-->
<div class="modal fade" id="div_clone_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Clone Codes</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inpDesc" class="col-sm-8 control-label">Clone Codes From Existing Machine Type
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Clone Codes From Existing Machine Type"></span>
							<select class="from-machine-type"></select>
						</label>						
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-clone"><span class="glyphicon glyphicon-ok"></span> Clone Codes</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>
{/block}