{extends file='app_shell.html'}


{block name=subthing}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Department Editor</h3>
	</div>
	<div class="panel-body">
		<div class="alert alert-danger">
			WARNING: misuse of this utility will cause downtime.  Please be sure of the options you are changing prior to changing them.
		</div>

	</div>
</div>
{/block}