{extends file='app_shell.html'}

{block name=subthing}

<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<div class="container col-md-12">
	<div class="groups"></div>
	<span>Turn reasons on and off by clicking +/-  Click the name to edit the description</span>
	<div class="reasons"></div>
</div>

<!-- edit modal -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Manage Downtime</h4>
			</div>
			<div class="modal-body col-md-12">
				<div class="form-group">
					<label for="inpDesc" class="control-label">Downtime Description
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The description of the downtime" />
					</label>
					<div class="">
						<input type="text" class="form-control input-sm" id="inpDesc" placeholder="Description" />
					</div>
				</div>
				<div class="form-group col-md-6">
					<label for="inpCountAgainst" class="control-label col-md-4">Count Against
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Count against downtime" />
					</label>
					<div class="col-md-2">
						<input type="checkbox" class="form-control input-sm" id="inpCountAgainst" placeholder="Count Against" />
					</div>
				</div>	
				<div class="form-group col-md-6">
					<label for="inpIgnoreToolChange" class="control-label col-md-4">Ignore Tool Change
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Ignore tool change" />
					</label>
					<div class="col-md-2">
						<input type="checkbox" class="form-control input-sm" id="inpToolChangeIgnore" placeholder="Ignore Tool Change" />
					</div>
				</div>					
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/options/downtime.js"></script>
{/block}