{extends file='app_shell.html'}


{block name=subthing}
<link rel="stylesheet" href="../../common/library/css/select2.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />

<div id="content">

	<h2 class="page-header">Setup Email Alerts</h2>

	<div id="email_alert_panel" class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h4 class="panel-title pull-left">Alerts</h4>
			<div class="btn btn-info btn-xs btn-add-email-alert pull-right" data-action="insert_email_alert"><span class="glyphicon glyphicon-plus"></span> Add Alert</div>
		</div>
		<div class="panel-body">

			<div class="table-responsive">
			  <table id="email_alert_table" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>Type</th>
						<th>Name</th>
						<th>Threshold</th>
						<th>Active</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			  </table>
			</div>

		</div>
	</div>

</div>


<div class="modal fade" id="edit_email_alert_modal" tabindex="-1" role="dialog" aria-labelledby="edit_email_alert_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">


			<form role="form">
				<div class="form-group col-md-4">
					<label for="description_input" class="control-label">Name
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Name the alert."></span>
					</label>
					<div>
						<input type="text" class="form-control input-sm" id="description_input" name="description" placeholder="Name" required/>
					</div>
				</div>

				<div class="form-group col-md-4">
					<label for="alert_type_select" class="control-label">Alert Type
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Choose an alert type."></span>
					</label>
					<div>
						<select class="form-control input-sm" id="alert_type_select" name="alert_type_ID" placeholder="Alert Type" required></select>
					</div>
				</div>

				<div class="form-group col-md-4">
					<label for="max_threshold_input" class="control-label">Threshold
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Alerts will be sent when the threshold is exceeded."></span>
					</label>
					<div>
						<input type="number" class="form-control input-sm" id="max_threshold_input" name="max_threshold" placeholder="Threshold" required/>
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="form-group col-md-6">
					<label for="machine_select" class="control-label">Machines
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Alert events on the chosen machines."></span>
					</label>
					<div>
						<select class="form-control input-sm" id="machine_select" name="machines" multiple="multiple" style="width:100%;" required></select>
					</div>
				</div> 

				<div class="form-group col-md-6">
					<label for="operator_select" class="control-label">People
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Alerts will be sent to the chosen employees."></span>
					</label>
					<div>
						<select class="form-control input-sm" id="operator_select" name="operators" multiple="multiple" style="width:100%;" required></select>
					</div>
				</div>

				<div class="form-group col-md-12">
					<label class="control-label">Shift
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Alerts will be sent only for events occuring during the selected shifts."></span>
					</label>
					<div>
						<label class="checkbox-inline"><input type="checkbox" id="select_all_shifts_checkbox" value="all">Select All</label>
						<label class="checkbox-inline"><input type="checkbox" class="shift-checkbox" name="the_shift" value="1">First</label>
						<label class="checkbox-inline"><input type="checkbox" class="shift-checkbox" name="the_shift" value="2">Second</label>
						<label class="checkbox-inline"><input type="checkbox" class="shift-checkbox" name="the_shift" value="3">Third</label>
					</div>
				</div>

				<div class="form-group col-md-12">
					<label class="control-label">Schedule
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Alerts will be sent only on the selected days."></span>
					</label>
					<div>
						<label class="checkbox-inline"><input type="checkbox" id="select_all_days_checkbox" value="all">Select All</label>
						<label class="checkbox-inline"><input type="checkbox" class="day-checkbox" name="the_day" value="1">Sunday</label>
						<label class="checkbox-inline"><input type="checkbox" class="day-checkbox" name="the_day" value="2">Monday</label>
						<label class="checkbox-inline"><input type="checkbox" class="day-checkbox" name="the_day" value="3">Tuesday</label>
						<label class="checkbox-inline"><input type="checkbox" class="day-checkbox" name="the_day" value="4">Wednesday</label>
						<label class="checkbox-inline"><input type="checkbox" class="day-checkbox" name="the_day" value="5">Thursday</label>
						<label class="checkbox-inline"><input type="checkbox" class="day-checkbox" name="the_day" value="6">Friday</label>
						<label class="checkbox-inline"><input type="checkbox" class="day-checkbox" name="the_day" value="7">Saturday</label>
					</div>
				</div>

				<div class="form-group col-md-12">
					<label for="slide_order_input" class="control-label">Active
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Activate or deactivate this alert."></span>
					</label>
					<div>
						<label class="checkbox-inline"><input type="checkbox" id="active_checkbox" name="active">Active</label>
					</div>
				</div>

			</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="remove_email_alert_modal" tabindex="-1" role="dialog" aria-labelledby="remove_email_alert_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Remove Email Alert</h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Remove the selected email alert?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/common/library/bootstrap/js/bootstrap-growl.min.js"></script>
<script type="text/javascript" src="./public/scripts/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/options/email_alerts.js"></script>

{/block}