{extends file='app_shell.html'}

{block name=subthing}

<style>
	.btn.active, .btn:active {
		background-color: #18bc9c;
	}
	
	.danger{
		background-color: red;
	}
</style>

<div class="panel panel-primary" id="nys">
	<div class="panel-heading">
		<div class="btn-group pull-right">
			<button class="btn btn-sm btn-success btn-add-group"><span class="glyphicon glyphicon-plus"></span> Add New Group</button>
		</div>
		<h4>Part Groups</h4>
	</div>
	<div class="panel-body">
				<div id="div_group">
					<div class="content">
						<div id="div_downtime_content">
							<div id="div_group_info">
							<div class="btn-group pull-right">
								<label for="hide_group"><b>Hide Deactived:</b></label>
								<input type="checkbox" id="hide_group"/>
							</div>
								<table id="tbl_groups" class="table table-striped table-bordered">
									<thead>
										<tr>
											<th>Part Group</th>
											<th>Is Active</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>		
	</div>
	
</div>

<!-- // Add Group MODAL // -->
<div class="modal fade" id="div_modal_add_group">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Add Part Group</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-info">
					<div class="panel-heading">Group:
					</div>
					<div class="panel-body">
						<div id="main_info">
							<div class="col-sm-12">
								<div class="form-group">
								<label for="p_group_name"><b>Group Name:</b></label>
								<input type="text" id="p_group_name"/>
								</div>
								<div class="form-group">
								<label for="p_group_active"><b>Is Active:</b></label>
								<input type="checkbox" id="p_group_active" checked />
								</div>
							<div class="col-md-12 form-group">
								<button class="btn btn-success btn-sm pull-right" id="add_group"><span class="glyphicon glyphicon-record"></span>&nbsp; Add</button>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
					
<script type="text/javascript" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
<script type="text/javascript" src="./public/scripts/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-labeled-control.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-date-input.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./public/scripts/options/group_manager.js"></script>

{/block}
