{extends file='app_shell_full.html'}


{block name=subthing}

<link rel="stylesheet" href="./public/css/option_styles.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="/mesaas/css/interactions.css" />

<script type="text/javascript" src="/common/library/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="/common/library/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="./public/scripts/options/instructions_common.js"></script>
<script type="text/javascript" src="./public/scripts/options/instructions_batch.js"></script>
<script type="text/javascript" src="./public/scripts/options/instructions_sequence.js"></script>
<script type="text/javascript" src="./public/scripts/options/instructions_ojt.js"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>MESAAS Instruction Editor</h4>
	</div>
	<div class="panel-body">
		<div class="alert alert-danger alert-sm">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			WARNING: misuse of this utility will cause downtime.  Please be sure of the options you are changing prior to changing them.
		</div>
		<div class="panel-body" id="div_content">
			<div class="col-sm-2">
				<div class="panel panel-primary" id="">
					<div class="panel-heading" id="">Select System/Line</div>
					<div class="panel-body" id="div_instr_body">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="selSystem" class="col-sm-4 control-label">System:</label>
								<div class="col-sm-8">
									<select class="form-control input-sm" id="selSystem"></select>
								</div>
							</div>
							<div class="form-group">
								<label for="selLine" class="col-sm-4 control-label">Station:</label>
								<div class="col-sm-8">
									<select class="form-control input-sm" id="selStation"></select>
								</div>
							</div>
						</form>
						<div id="div_loading_instructions">Loading instructions...</div>
					</div>
				</div>


				<div class="panel panel-primary" id="div_station_info" style="display:none;">
					<div class="panel-heading" id="">Station Info <button class="btn btn-xs btn-success pull-right btn-station-options margin-left"><span class="glyphicon glyphicon-wrench"></span> Options</button></div>
					<div class="panel-body" id="">
						<div>IP Address(es): </div>
						<ul id="ul_station_IPs" class="list-group"></ul>
						<div>Options: </div>
						<div id="div_station_options" class="tiny"></div>
						<div style="margin-top: 20px;display:none;" id="div_wip_parts_button"><button class="btn btn-xs btn-primary col-sm-12" id="btn_manage_wip_parts">WIP Part Setup</button></div>
						<div style="margin-top: 20px;"><button class="btn btn-xs btn-primary col-sm-12" id="btn_manage_ojt">Manage OJT<br>Requirements<br>&amp;<br>Quality Alerts</button></div>
					</div>
				</div>
			</div>
			<div class="col-sm-10">
				<div class="panel panel-primary" id="div_instructions" style="display:none;">
					<div class="panel-heading" id="div_instr_heading"></div>
					<div class="panel-body" id="div_instr_body">
						<table class="table table-condensed table-striped table-instructions" id="tbl_instructions_BATCH" style="display:none;">
							<thead>
								<tr>
									<th style="text-align:center;">Move</th>
									<th style="text-align:center;">Step Order</th>
									<th style="text-align:center;">Applicable Part</th>
									<th>Title</th>
									<th style="text-align:center;">Image</th>
									<th style="text-align:center;">Test Type</th>
									<th style="text-align:center;">Active</th>
									<th style="text-align:center;">Actions</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<table class="table table-condensed table-instructions" id="tbl_instructions_SEQUENCED" style="display:none;">
							<thead>
								<tr>
									<th style="text-align:center;">Move</th>
									<th style="text-align:center;">Part Order</th>
									<th style="text-align:center;">Part Number</th>
									<th style="text-align:center;">Rev. Level</th>
									<th style="text-align:center;">Part Description</th>
									<th style="text-align:center;"># Steps</th>
									<th style="text-align:center;">Actions</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>

<!-- 				<div class="panel panel-primary" id="div_target_cycle_time" style="display:none;">
					<div class="panel-heading" id="div_target_cycle_time_heading">Target Cycle Time</div>
					<div class="panel-body" id="div_target_cycle_time_body">
						<div class="col-sm-4">
							<input type="text" class="form-control input-sm"/>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-default btn-sm btn-save">Save</button>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>


<!-- Add/Edit Dialog //-->
<div class="modal fade" id="div_instr_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="div_modal_title"></h4>
			</div>
			<div class="modal-body">
				<div id="div_mes_layout">
					<a href="./public/images/MES_sample.png" target="_blank"><img src="./public/images/MES_sample.png" height="150"></a>
				</div>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inpOrder" class="col-sm-2 control-label">Step Order
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The order in which the step will show up to the operator"></span>
						</label>
						<div class="col-sm-2">
							<input type="number" class="form-control input-sm" id="inpOrder" placeholder="">
						</div>

						<label for="selPart" class="col-sm-2 control-label applicable-part">Applicable Part
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="&quot;All Parts&quot; will show no matter which part is currently being built"></span>
						</label>
						<div class="col-sm-3 applicable-part">
							<select class="form-control input-sm" id="selPart" ></select>
						</div>
					</div>
					<div class="form-group">
						<label for="inpTitle" class="col-sm-2 control-label">Step Title
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The title of the step shown in the list on the left"></span>
						</label>
						<div class="col-sm-3">
							<input type="text" class="form-control input-sm" id="inpTitle" placeholder="Title of step on left side of operator screen">
						</div>
						<div class="checkbox col-sm-3">
							<label>
								<input type="checkbox" id="inpActive"> Step Active?
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="inpImage" class="col-sm-2 control-label">Instruction Image
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The image that will be displayed to the operator.  For best results, use a 600x600 resolution image."></span>
						</label>
						<div class="col-sm-4">
							<div id="div_upload_container">
								<button class="btn btn-xs btn-primary" id="btn_select_image">Select Image File</button>
								<button class="btn btn-xs btn-primary" id="btn_clear_image">Clear Image</button>
								<span id="sp_file_selected"></span>
								<input type="hidden" id="inpImageFile" value="">
							</div>
						</div>
						<div class="col-sm-4">
							<a href="" target="_blank" id="aInstrImage"><img src="" id="imgInstrImage" height="60" width="60"></a>
							<div id="div_no_image">No image file.</div>
						</div>
					</div>
					<div class="form-group">
						<label for="inpPrompt" class="col-sm-2 control-label">Step Prompt
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A one-line description of what the operator needs to do to complete the step."></span>
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control input-sm" id="inpPrompt" placeholder="One-line summary for what needs to be done to complete step.">
						</div>
					</div>
					<div class="form-group">
						<label for="inpText" class="col-sm-2 control-label">Step Detail
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Detailed instructions for step-by-step completion of the current operation."></span>
						</label>
						<div class="col-sm-10">
							<textarea class="form-control input-sm" id="inpText" rows="6"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="selTestType" class="col-sm-2 control-label">Test Type
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The interaction that will complete the instruction."></span>
						</label>
						<div class="col-sm-3">
							<select class="form-control input-sm" id="selTestType" ></select>
						</div>
						<div class="col-sm-7">
							<span class="pull-right step-back" id="sp_max_seconds">
								Jump back <input type="text" class="form-control input-sm" size="2" id="inpJumpBacksteps" style="width:auto;display:inline-block;">
								steps after <input type="text" class="form-control input-sm" size="2" id="inpMaxSeconds" style="width:auto;display:inline-block;"> seconds.
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="If specified, the interaction must complete within the number of seconds specified.  Otherwise it jump back the number of steps specified."></span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="col-sm-2 control-label">Test Type Options
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Any applicable options for the selected test type.  This list will change based on the test type selected."></span>
						</label>
						<div class="col-sm-10" style="">
							<table class="table table-condensed table-striped" id="tbl_test_type_options"></table>
						</div>
					</div>
					<div class="form-group dependent-parts">
						<label for="inpDependent" class="col-sm-2 control-label">Dependent Parts
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Any parts that must also be present on the broadcast in order for the instruction to appear."></span>
						</label>
						<div class="col-sm-10">
							<span id="sp_dependent_parts"></span> <span class="input-wrap"><input type="text" size="10" id="inpAddDependent" placeholder="Type here"> <button class="btn btn-xs btn-success btn-add-dependent"><span class="glyphicon glyphicon-plus"></span> Add </button></span>
						</div>
					</div>
					<div class="form-group subtractive-parts">
						<label for="inpSubtractive" class="col-sm-2 control-label">Subtractive Parts
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Any parts that, if present, will cause the step to NOT be displayed."></span>
						</label>
						<div class="col-sm-10">
							<span id="sp_subtractive_parts"></span> <span class="input-wrap"><input type="text" size="10" id="inpAddSubtractive" placeholder="Type here"> <button class="btn btn-xs btn-success btn-add-subtractive"><span class="glyphicon glyphicon-plus"></span> Add </button></span>
						</div>
					</div>
					<div class="form-group">
						<label for="inpReason" class="col-sm-2 control-label">Reason for Edit
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Manditory explanation of why the instruction is changing..."></span>
						</label>
						<div class="col-sm-10">
							<input type="text" class="form-control input-sm" id="inpReason" placeholder="Manditory explanation of why the instruction is changing...">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm btn-validate-save"><span class="glyphicon glyphicon-floppy-disk"></span> Save Instruction</button>
				<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Move Step Dialog //-->
<div class="modal fade" id="div_move_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Confirm Move Instruction</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-move"><span class="glyphicon glyphicon-ok"></span> OK, Move It</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Move Part Dialog //-->
<div class="modal fade" id="div_move_part_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Confirm Move Part</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-move-part"><span class="glyphicon glyphicon-ok"></span> OK, Move It</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<!-- Delete Dialog //-->
<div class="modal fade" id="div_delete_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Confirm Delete Instruction</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete"><span class="glyphicon glyphicon-ok"></span> OK, Delete It</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Clone Dialog //-->
<div class="modal fade" id="div_clone_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Clone Instruction</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inpCloneOrder" class="col-sm-4 control-label">Clone to Step Order
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The order in which the step will show up to the operator"></span>
						</label>
						<div class="col-sm-8">
							<input type="number" class="form-control input-sm" id="inpCloneOrder" placeholder="">
						</div>
					</div>
					<div class="form-group applicable-part" >
						<label for="selClonePart" class="col-sm-4 control-label">Applicable Part
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="&quot;All Parts&quot; will show no matter which part is currently being built"></span>
						</label>
						<div class="col-sm-8">
							<select class="form-control input-sm" id="selClonePart" ></select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-clone"><span class="glyphicon glyphicon-ok"></span> Clone Instruction</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<!-- Revision Dialog //-->
<div class="modal fade" id="div_revision_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Instruction Revision History</h4>
			</div>
			<div class="modal-body" style="overflow:auto;">
				<table id="tblRevisions_BATCH" class="table table-condensed table-striped" style="font-size:8pt;display:none;">
					<thead>
						<tr>
							<th>Revised At</th>
							<th>Revised By</th>
							<th>Action</th>
							<th style="text-align:center;">Step Order</th>
							<th style="text-align:center;">Applicable Part</th>
							<th>Title</th>
							<th style="text-align:center;">Image</th>
							<th style="text-align:center;">Test Type</th>
							<th style="text-align:center;">Active</th>
							<th style="text-align:center;">Options</th>
							<th style="text-align:center;">Comment</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
				<table id="tblRevisions_SEQUENCED" class="table table-condensed table-striped" style="font-size:8pt;display:none;">
					<thead>
						<tr>
							<th>Revised At</th>
							<th>Revised By</th>
							<th>Action</th>
							<th style="text-align:center;">Part Order</th>
							<th style="text-align:center;">Step Order</th>
							<th style="text-align:center;">Part Number</th>
							<th>Title</th>
							<th style="text-align:center;">Image</th>
							<th style="text-align:center;">Test Type</th>
							<th style="text-align:center;">Active</th>
							<th style="text-align:center;">Options</th>
							<th style="text-align:center;">Comment</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Add/Edit Part Dialog //-->
<div class="modal fade" id="div_add_edit_part_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Add/Edit Part</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inpAddEditPartOrder" class="col-sm-4 control-label">Part Order
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The order in which the part will show up to the operator"></span>
						</label>
						<div class="col-sm-8">
							<input type="number" class="form-control input-sm" id="inpAddEditPartOrder" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="inpAddEditPartNumber" class="col-sm-4 control-label">Part Number
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The part number from the broadcast that will make the steps be shown."></span>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm" id="inpAddEditPartNumber" placeholder="">
							<input type="checkbox" class="form-control input-sm" id="inpPartCommon" placeholder=""> Part is common to all modules?
						</div>
					</div>
					<div class="form-group">
						<label for="inpAddEditRevLevel" class="col-sm-4 control-label">Revision Level
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The revision level of the part on the broadcast."></span>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm" id="inpAddEditRevLevel" placeholder="" size="4">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-add-edit-part"><span class="glyphicon glyphicon-ok"></span> Save Part</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<!-- Delete Part Dialog //-->
<div class="modal fade" id="div_delete_part_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Confirm Delete Part</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete-part"><span class="glyphicon glyphicon-ok"></span> OK, Delete Part</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Clone Part Dialog //-->
<div class="modal fade" id="div_clone_part_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Clone Part</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="selCloneStation" class="col-sm-4 control-label">Clone to Station
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Optionally clone the part to another station"></span>
						</label>
						<div class="col-sm-8">
							<select class="form-control input-sm" id="selCloneStation" ></select>
						</div>
					</div>
					<div class="form-group">
						<label for="inpClonePartOrder" class="col-sm-4 control-label">Clone to Part Order
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The order in which the step will show up to the operator"></span>
						</label>
						<div class="col-sm-8">
							<input type="number" class="form-control input-sm" id="inpClonePartOrder" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="inpClonePartNumber" class="col-sm-4 control-label">Clone to Part Number
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The part number that the part will be copied to"></span>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm" id="inpClonePartNumber" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="inpCloneCurrentRevLevel" class="col-sm-4 control-label">Clone to Revision Level
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The revision level that the part will be copied to"></span>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm" id="inpCloneCurrentRevLevel" placeholder="">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-clone-part"><span class="glyphicon glyphicon-ok"></span> Clone Part</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Instruction Preview Dialog //-->
<div class="modal fade" id="div_preview_modal" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Instruction Preview</h4>
			</div>
			<div class="modal-body" style="height:800px;">Loading...</div>
		</div>
	</div>
</div>


<!-- OJT Dialog //-->
<div class="modal fade" id="div_ojt_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Manage OJT Requirements &amp; Quality Alerts for <span id="sp_ojt_line_desc"></span> <span id="sp_ojt_station_desc"></span></h4>
			</div>
			<div class="modal-body" style="overflow:auto;">
				<div class="panel panel-default">
					<div class="panel-heading">
						OJT Requirements
						<button class="btn btn-xs btn-success pull-right btn-add-ojt pad-left"><span class="glyphicon glyphicon-plus-sign"></span> Add OJT Requirement</button>
					</div>
					<div class="panel-body">
						<table id="tblOJT" class="table table-condensed table-striped">
							<thead>
								<tr>
									<th>Job Title</th>
									<th>Number Signed Off</th>
									<th>Allow MES Signoff?</th>
									<th>View</th>
									<th style="text-align:center;">Delete</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">
						Quality Alerts
						<button class="btn btn-xs btn-success pull-right btn-add-qa pad-left"><span class="glyphicon glyphicon-plus-sign"></span> Add Quality Alert</button>
					</div>
					<div class="panel-body">
						<table id="tblQA" class="table table-condensed table-striped">
							<thead>
								<tr>
									<th>QA Title</th>
									<th>Number Signed Off</th>
									<th>Allow MES Signoff?</th>
									<th>View</th>
									<th style="text-align:center;">Delete</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<p>NOTE...this is not functional yet.</p>
				<button class="btn btn-primary btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>


<!-- WIP Part Dialog //-->
<div class="modal fade" id="div_wip_part_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-xlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Manage WIP Parts for <span id="sp_wip_part_line_desc"></span> <span id="sp_wip_part_station_desc"></span></h4>
			</div>
			<div class="modal-body" style="overflow:auto;">
				<div class="panel panel-default">
					<div class="panel-heading">
						WIP Parts
						<button class="btn btn-xs btn-success pull-right btn-add-wip-part pad-left"><span class="glyphicon glyphicon-plus-sign"></span> Add WIP Part</button>
					</div>
					<div class="panel-body">
						<table id="tbl_wip_parts" class="table table-condensed table-striped" >
							<thead>
								<tr>
									<th>Part ID</th>
									<th>Part Number</th>
									<th>Part Description</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Add/Edit WIP Part Dialog //-->
<div class="modal fade" id="div_add_edit_wip_part_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add/Edit WIP Part</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inpAddEditWIPPartID" class="col-sm-4 control-label">Part ID
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The unique ID of the WIP part"></span>
						</label>
						<div class="col-sm-8">
							<input type="number" class="form-control input-sm" id="inpAddEditWIPPartID" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="inpAddEditWIPPartNumber" class="col-sm-4 control-label">Part Number
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The WIP part number for display and labeling purposes."></span>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm" id="inpAddEditWIPPartNumber" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="inpAddEditWIPPartDesc" class="col-sm-4 control-label">Part Description
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The description of the WIP part."></span>
						</label>
						<div class="col-sm-8">
							<input type="text" class="form-control input-sm" id="inpAddEditWIPPartDesc" placeholder="" size="50">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-add-edit-wip-part"><span class="glyphicon glyphicon-ok"></span> Save Part</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<!-- Delete WIP Part Dialog //-->
<div class="modal fade" id="div_delete_wip_part_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Confirm Delete WIP Part</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete-wip-part"><span class="glyphicon glyphicon-ok"></span> OK, Delete WIP Part</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Batch Part Dialog -->
<div class="modal fade" id="batch-parts-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width:80%">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close pull-right margin-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      	<button type="button" class="btn btn-xs btn-success pull-right btn-add-batch-part margin-left add-batch-part" 
      		data-toggle="modal" href="#edit-batch-parts-modal">
      		<span class="glyphicon glyphicon-plus-sign"></span>
      		New Part
      	</button>
        <h4 class="modal-title">Manage Batch Parts</h4>
      </div>
      <div class="modal-body">
      		<table class="tbl-batch-parts table table-condensed table-bordered table-striped">
				<thead>
					<tr>
			            <td>Part Number</td>
			            <td>Part Description</td>
			            <td>Part Rev.</td>
			            <td>Shipping Part Number</td>
			            <td>Actions</td>
			        </tr>
				</thead>
				<tbody></tbody>
			</table>			
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>        
      </div>
    </div>
  </div>
</div>
<!-- Delete Batch Part Dialog //-->
<div class="modal fade" id="delete-batch-parts-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" 
	aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Confirm Delete Batch Part</h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete-batch-part" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK, Delete Batch Part</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>
<!-- ADD/EDIT Batch Parts Modal -->
<div class="modal fade" id="edit-batch-parts-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">
                    Add/Edit Batch Part</h4>
            </div>
            <div class="col-sm-12 modal-body">
                <form class="form-horizontal" role="form">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inp_part_num" class="col-sm-4 control-label">
                            Part Number <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="The part number for display and labeling purposes."></span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_part_num" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_part_desc" class="col-sm-4 control-label">
                            Part Description <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="The description of the part."></span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_part_desc" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_part_rev" class="col-sm-4 control-label">
                            Part Rev. <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The revision of the part.">
                            </span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_part_rev" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_ship_part_num" class="col-sm-4 control-label">
                            Finished Part Num <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="Part number for the finished part."></span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_ship_part_num" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inp_bc_1" class="col-sm-4 control-label">
                            Blind Cats 1 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="Blind cats."></span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_bc_1" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_bc_2" class="col-sm-4 control-label">
                            Blind Cats 2 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="Blind cats 2."></span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_bc_2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_bc_3" class="col-sm-4 control-label">
                            Blind Cats 3 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="Blind cats."></span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_bc_3" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_bc_4" class="col-sm-4 control-label">
                            Blind Cats 4 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="Blind cats."></span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_bc_4" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_bc_5" class="col-sm-4 control-label">
                            Blind Cats 5 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="Blind cats."></span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_bc_5" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inp_bc_6" class="col-sm-4 control-label">
                            Blind Cats 6 <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="Blind cats."></span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-sm" id="inp_bc_6" />
                        </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-sm btn-confirm-edit-batch-part" data-dismiss="modal">
                    <span class="glyphicon glyphicon-ok"></span>Save Part</button>
                <button class="btn btn-danger btn-sm" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Target Cycle Time Dialog //-->
<div class="modal fade" id="station_options_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Station Options</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="target_cycle_time_input" class="col-sm-4 control-label">
                            Target Cycle Time <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="The target cycle time (in seconds) for this station."></span>
                        </label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control input-sm" id="target_cycle_time_input" name="target_cycle_time"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="transit_time_input" class="col-sm-4 control-label">
                            Transit Time <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                                title="The transit time (in seconds) for this station."></span>
                        </label>
                        <div class="col-sm-4">
                            <input type="number" class="form-control input-sm" id="transit_time_input" name="transit_time"/>
                        </div>
                    </div>
                </form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

{/block}