{extends file='app_shell.html'}


{block name=subthing}

<link rel="stylesheet" href="./public/css/upload.css" type="text/css" />
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />

<script type="text/javascript" src="/common/library/bootstrap/js/bootstrap-growl.min.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/options/label_editor.js"></script>

<STYLE>
	#preview_template_instruction_modal {
		width: 100%;
	}

	.modal-xxlg {
		width: 95%;
	}

	.carousel-control {
		width: 50px;
	}
	.modal-backdrop {
		top:0px;
		left:0px;
		right:0px;
		bottom: 0px;
		position: fixed;
	}

</STYLE>
<div id="content">

	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Label Template Editor</h3>
			<div class="btn-add-template btn btn-success btn-xs pull-right" data-action="insert_template">
				<span class="glyphicon glyphicon-plus"></span> Add Template
			</div>
		</div>
		<div class="panel-body" id="div_content">
			<div class="form-group col-sm-12">
					<div class="row">
						<div class=" form-group col-sm-6">
							<label for="label_select" class="control-label">Label Template</label>
							<select class="form-control input-sm" id="template_select" name="template_ID" placeholder="Template"></select>
						</div>
						<div class="form-group col-sm-1 pull-right">
							<label for="checkbox1" class="control-label">View History</label> 
						</div>
						<div class="form-group col-sm-1 pull-right">
							<input type="checkbox" class="input-sm form-control" id="checkbox1" disabled>	
						</div>
					</div>
			</div>
		</div>
	</div>

	<div id="template_detail_panel" class="panel panel-primary" hidden>
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Template Detail</h3>
			<div class="btn-edit-template btn btn-info btn-xs pull-right" data-action="edit_template">
				<span class="glyphicon glyphicon-edit"></span> Edit Template
			</div>
			<div class="btn-archive-template btn btn-danger btn-xs pull-right" data-action="archive_template">
				<span class="glyphicon glyphicon-remove"></span> Archive Template
			</div>
		</div>
		<div class="panel-body" id="div_content">

			<div class="form-group col-sm-3">
				<label class="control-label">Template Name
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A human-readable name for the template."></span>
				</label>
				<div>
					<span class="template-name"></span>
				</div>
			</div>

			<div class="form-group col-sm-5">
				<label class="control-label">Template Text
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The text of the template."></span>
				</label>
				<div>
					<pre><code class="template-text"></code></pre>
				</div>
			</div>
			
			<div class="form-group col-sm-2">
				<label class="control-label">Active
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Is this label template available for selection."></span>
				</label>
				<div>
					<span class="template-active"></span>
				</div>
			</div>
			
			<div class="form-group col-sm-2">
				<label class="control-label">Revision
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The revision number of this template."></span>
				</label>
				<div>
					<span class="template-revision"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div id="template_rev_panel" class="panel panel-info" hidden>
		<div class="panel-heading clearfix">
			<h3 class="penel-title pull-left">Template Revision History</h3>
		</div>
		<div class="panel-body" id="div_content">
			<table class="table hist_table">
				<thead>
					<th>Template Name</th>
					<th>Template Text</th>
					<th>Template Active</th>
					<th>Template Revision</th>
					<th>Archived Date</th>
					<th>Last Modified By</th>
				</thead>
				<tbody></tbody>
			</table>
		</div>
	</div>

</div>


<!-- edit modal -->
<div class="modal fade" id="edit_template_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="edit_template_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">
				<form id='edit_template_form'>
					<div class="form-group col-sm-3">
						<label for="template_name_input" class="control-label">Template Name
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A human-readable name for the template."></span>
						</label>
						<div>
							<input class="form-control input-sm text-input" id="template_name_input" name="template_name" type="text" placeholder="Template Name">
						</div>
					</div>

					<div class="form-group col-sm-7">
						<label for="template_text_select" class="control-label">Template Text
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The text of the template."></span>
						</label>
						<div>
							<textarea class="form-control" id="template_text_input" name="template_text" rows="10" cols="25" placeholder="The text for the template."></textarea>
						</div>
					</div>

					<div class="form-group col-sm-2">
						<label for="template_active" class="control-label">Active
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Should this template be available for selection."></span>
						</label>
						<div>
							<input class="form-control input-sm" id="template_active_cb" name="template_active" type="checkbox" value="">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="archive_template_modal" tabindex="-1" role="dialog" aria-labelledby="remove_template_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Archive Template</h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Archive the selected template?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-archive" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


{/block}