{extends file='app_shell.html'}

{block name=subthing}

<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<link rel="stylesheet" href="../common/library/css/select2.css" type="text/css" />
<link rel="stylesheet" href="../common/library/css/select2-bootstrap.min.css" type="text/css" />
<div class="container col-md-12">
	<div class="groups"></div>
	<div class="reasons"></div>
</div>


<!-- add type modal -->
<div class="modal fade" id="modalAddType" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Add Machine Type</h4>
			</div>
			<div class="modal-body col-md-12">
				<div class="form-group">
					<label for="inpDesc" class="control-label">Type Description
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The description of the type" />
					</label>
					<div class="">
						<input type="text" class="form-control input-sm" id="inpDesc" placeholder="Description" />
					</div>
				</div>									
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-add-type" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- edit modal -->
<div class="modal fade" id="modalAddReason" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Add Downtime Reason</h4>
			</div>
			<div class="modal-body col-md-12">
				<div class="form-group">
					<label for="inpReasons" class="control-label">Downtime Reasons
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Downtime Reasons" />
					</label>
					<div class="">
						<input type='hidden' id="inpReasons" class="col-md-6" />
					</div>
				</div>									
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-add-reason" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="../common/library/js/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/options/machine_types.js"></script>
{/block}