{extends file='app_shell.html'}


{block name=subthing}

<link rel="stylesheet" href="./public/css/upload.css" type="text/css" />
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<STYLE>
	#preview_machine_instruction_modal {
		width: 100%;
	}

	.modal-xxlg {
		width: 95%;
	}

	.carousel-control {
		width: 50px;
	}
	.modal-backdrop {
		top:0px;
		left:0px;
		right:0px;
		bottom: 0px;
		position: fixed;
	}
	#Pencil{
		size:15px;
	
	
	}

</STYLE>
<div id="content">

	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Machines</h3>
			<!-- <div class="btn-add-machine btn btn-info btn-xs pull-right" data-action="insert_machine">
				<span class="glyphicon glyphicon-plus"></span> Add Machine
			</div> -->
		</div>
		<div class="panel-body" id="div_content">

			<div class="form-group col-sm-6">
				<label for="machine_select" class="control-label">Machine</label>
				<div>
					<select class="form-control input-sm" id="machine_select" name="machine_ID" placeholder="Machine"></select>
				</div>
			</div>

		</div>
	</div>

	<div id="machine_detail_panel" class="panel panel-primary" hidden>
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Machine Detail</h3>
			<div class="btn-edit-machine btn btn-info btn-xs pull-right" data-action="edit_machine">
				<span class="glyphicon glyphicon-edit"></span> Edit Machine
			</div>
		</div>
		<div class="panel-body" id="div_content">

			<div class="form-group col-sm-4">
				<label class="control-label">Machine Number
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A unique identification code for the machine."></span>
				</label>
				<div>
					<span class="machine-number"></span>
				</div>
			</div>

			<div class="form-group col-sm-4">
				<label class="control-label">Machine Name
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A human-readable name for the machine."></span>
				</label>
				<div>
					<span class="machine-name"></span>
				</div>
			</div>

			<div class="form-group col-sm-4">
				<label class="control-label">Machine Type
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The type of the machine."></span>
				</label>
				<div>
					<span class="machine-type"></span>
				</div>
			</div>

			<div class="form-group col-sm-4" hidden>
				<label class="control-label">DT Auto Disposition Time
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Downtime occurrances under this time, in seconds, are automatically dis-positioned as Over Cycle."></span>
				</label>
				<div>
					<span class="over-cycle-grace-period"></span>
				</div>
			</div>

			<div class="form-group col-sm-4">
				<label class="control-label">Machine Group
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Indicates the type of parts ran in machine."></span>
				</label>
				<div>
					<span class="machine-group"></span>
				</div>
			</div>

			<div class="form-group col-sm-4" hidden>
				<label class="control-label">Station IP
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The IP address of the MES station for the machine."></span>
				</label>
				<div>
					<span class="station-ip"></span>
				</div>
			</div>


			<div class="form-group col-sm-4" style="display:none">
				<label class="control-label">Primary PLC Tag
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The primary PLC tag for this machine."></span>
				</label>
				<div>
					<span class="primary-plc-tag"></span>
				</div>
			</div>

			<div class="form-group col-sm-4">
				<label class="control-label">Operation Order
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operation order for this machine."></span>
				</label>
				<div>
					<span class="operation-order"></span>
				</div>
			</div>
			
			<div class="form-group col-sm-4">
				<label class="control-label">Primary PLC IP
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The IP address of the primary PLC/IO block."></span>
				</label>
				<div>
					<span class="primary-plc-ip"></span>
				</div>
			</div>

		</div>

	</div>
<!--
	<div id="machine_tools_panel" class="panel panel-primary" hidden>
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Machine <span data-localize="tools.upper">Tools</span></h3>
			<div class="btn-add-machine-tool btn btn-info btn-xs pull-right" data-action="insert_machine_tool">
				<span class="glyphicon glyphicon-plus"></span> Add <span data-localize="tool.upper">Tool</span>
			</div>
		</div>
		<div class="panel-body" id="div_content">
			<div class="table-responsive">
			  <table id="machine_tools_table" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th><span data-localize="tool.upper">Tool</span></th>
						<th>Target Cycle Time</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			  </table>
			</div>
		</div>
	</div>
-->
	<div id="machine_printers_panel" class="panel panel-primary" hidden>
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Machine <span data-localize="">Printers</span></h3>
			<div class="btn-add-machine-tool btn btn-info btn-xs pull-right" data-action="machine_printers_panel">
				<span class="glyphicon glyphicon-plus"></span> Add <span data-localize="">Printer</span>
			</div>
		</div>
		<div class="panel-body" id="div_content">
			<div class="table-responsive">
			  <table id="machine_printers_table" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th><span data-localize="">Printer</br></span></th>
						<th>IP Address</br></th>
						<th>Part Order</br></th>
						<th>Label Type</br></th>
						<th>Actions </th>
					</tr>
				</thead>
				<tbody></tbody>
			  </table>
			</div>
		</div>
	</div>

	<div id="machine_ojt_jobs_panel" class="panel panel-primary" hidden>
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">OJT Jobs</h3>
			<div class="btn-add-machine-ojt-job btn btn-info btn-xs pull-right" data-action="insert_machine_ojt_job">
				<span class="glyphicon glyphicon-plus"></span> Add Job
			</div>
		</div>
		<div class="panel-body" id="div_content">
			<div class="table-responsive">
			  <table id="machine_ojt_jobs_table" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>Job</th>
						<th>Qualified</th>
						<th>Minimum Qualified</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			  </table>
			</div>
		</div>
	</div>

	<!--
	<div id="machine_instructions_panel" class="panel panel-primary" hidden>
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Work Instructions</h3>
			<div class="btn-add-machine-instruction btn btn-info btn-xs pull-right" data-action="insert_machine_instruction">
				<span class="glyphicon glyphicon-plus"></span> Add Instruction
			</div>
			<div class="btn-preview-machine-instructions btn btn-info btn-xs pull-right" data-action="insert_machine_instruction">
				<span class="glyphicon glyphicon-eye-open"></span> Preview Instructions
			</div>
		</div>
		<div class="panel-body" id="div_content">
			<div class="table-responsive">
			  <table id="machine_instructions_table" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>Order</th>
						<th>Title</th>
						<th>Text</th>
						<th>Image</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			  </table>
			</div>
		</div>
	</div>
-->

</div>


<!-- edit modal -->
<div class="modal fade" id="edit_machine_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="edit_machine_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">

				<form id='edit_machine_form'>

				<div class="form-group col-sm-4">
					<label for="machine_number_input" class="control-label">Machine Number
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A unique identification code for the machine."></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="machine_number_input" name="machine_number" type="text" placeholder="Machine Number" disabled>
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label for="machine_name_input" class="control-label">Machine Name
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A human-readable name for the machine."></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="machine_name_input" name="machine_name" type="text" placeholder="Machine Name">
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label for="machine_type_select" class="control-label">Machine Type
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The type of the machine."></span>
					</label>
					<div>
						<select class="form-control input-sm" id="machine_type_select" name="machine_type_ID" placeholder="Machine Type"></select>
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label for="machine_group_select" class="control-label">Machine Group
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Indicates the type of parts ran in the machine."></span>
					</label>
					<div>
						<select class="form-control input-sm" id="machine_group_select" name="machine_group_ID" placeholder="Machine Group"></select>
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label for="station_ip_input" class="control-label">Station IP
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Station IP"></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="station_ip_input" name="station_IP_address" type="text" placeholder="The IP address of the MES station for the machine.">
					</div>
				</div>

				<div class="form-group col-sm-4">
					<label for="op_order_input" class="control-label">Operation Order
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operation Order"></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="op_order_input" name="op_order" type="text" placeholder="Operation Order">
					</div>
				</div>

				<div class="form-group col-sm-4" hidden>
					<label for="over_cycle_grace_period_input" class="control-label">DT Auto Disposition Time
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Downtime occurrances under this time, in seconds, are automatically dis-positioned as Over Cycle."></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="over_cycle_grace_period_input" name="over_cycle_grace_period" type="text" placeholder="Seconds">
					</div>
				</div>

				<div class="form-group col-sm-4" style="display:none">
					<label for="primary_tag_ID_input" class="control-label">Primary PLC Tag
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Primary PLC Tag"></span>
					</label>
					<div>
						<div class="primary-plc-tag-group" role="group"></div>
					</div>
				</div>
				
				<div class="form-group col-sm-4" hidden>
					<label for="station_ip_input" class="control-label">Primary PLC IP
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="PLC/IO IP address"></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="primary_plc_ip_input" name="primary_plc_IP_address" type="text" placeholder="The IP address of the primary PLC/IO block.">
					</div>
				</div>

				<div class="clearfix"></div>

				</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="edit_machine_tool_modal" tabindex="-1" role="dialog" aria-labelledby="edit_machine_tool_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">

				<form>

					<div class="form-group col-sm-3">
						<label for="tool_select" class="control-label"><span data-localize="tool.upper">Printer</span>
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Associate a printer with this machine."></span>
						</label>
						<div>
							<input class="form-control input-sm text-input" id="printer_name" name="printer_name" type="text" placeholder="Printer">
						</div> 
					</div>
							<input class="form-control input-sm text-input" id="printer_ID" name="printer_ID" type="hidden">
					<div class="form-group col-sm-3">
						<label for="printer_IP" class="control-label">IP Address
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="what is the printer ip address"></span>
						</label>
						<div>
							<input class="form-control input-sm text-input" id="printer_IP" name="printer_IP" type="text" placeholder="IP Address">
						</div>
					</div>

					<div class="form-group col-sm-3">
						<label for="part_order" class="control-label" text = "number">Part Order
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="what is the part order number "></span>
						</label>
						<div>
							<input class="form-control input-sm text-input" id="part_order" name="part_order" placeholder="Part Order" type="number" min="10" max="300000" step="10" value ="10">
						</div>
					</div>
					
					<div class="form-group col-sm-3">
						<label for="label_type" class="control-label">Label Type
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="what is the label type for this printer."></span>

						</label>
						<div>
						<!--	<input class="form-control input-sm text-input" id="label_type" name="label_type" type="list" placeholder="Label Type"> -->
								<select class="form-control input-sm" id="label_type">
									<option value="RACK">RACK</option>
									<option value="PART">PART</option>
								</select>	
							
						</div>
					</div>
					
					
					
				</form>

			</div>
			<div class="modal-footer">
				<button id="btn_save" class="btn btn-success btn-sm " data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="edit_machine_ojt_job_modal" tabindex="-1" role="dialog" aria-labelledby="edit_machine_ojt_job_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">

				<form role="form">

					<div class="form-group col-sm-3">
						<label for="ojt_job_select" class="control-label">Job
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Associate an OJT job with this machine."></span>
						</label>
						<div>
							<select class="form-control input-sm" id="ojt_job_select" name="ojt_job_ID" placeholder="Tool"></select>
						</div>
					</div>

				</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="remove_machine_tool_modal" tabindex="-1" role="dialog" aria-labelledby="remove_machine_tool_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Remove Machine <span data-localize="tool.upper">Tool</span></h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Remove the selected <span data-localize="tool.lower">tool</span> from this machine?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="remove_machine_ojt_job_modal" tabindex="-1" role="dialog" aria-labelledby="remove_machine_ojt_job_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Remove OJT Job</h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Remove the selected OJT job from this machine?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>




<div class="modal fade" id="edit_machine_instruction_modal" tabindex="-1" role="dialog" aria-labelledby="edit_machine_instruction_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">

				<form name="frm_image_upload" id="frm_image_upload" action="./ajax_processors/options/machines.php" method="POST" enctype="multipart/form-data" target="if_image_upload">
					<div>
						<div class="form-group col-sm-3">
							<label for="instr_order" class="control-label"><span data-localize="title.upper">Instruction Order</span>
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The order of the instruction."></span>
							</label>
							<div>
								<input type="text" class="form-control input-sm" id="instr_order" name="instr_order" placeholder="Order">
							</div>
						</div>

						<div class="form-group col-sm-9">
							<label for="title" class="control-label"><span data-localize="title.upper">Title</span>
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Title that will show at the top of the instruction."></span>
							</label>
							<div>
								<input type="text" class="form-control input-sm" id="title" name="title" placeholder="Title">
							</div>
						</div>
					</div>

					<div>
						<div class="form-group col-sm-12">
							<label for="instr_text" class="control-label">Instruction Text
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Text of the instruction that will show on the right-hand side."></span>
							</label>
							<div>
								<textarea class="form-control input-sm text-input" id="instr_text" name="instr_text" type="text" placeholder=""></textarea>
							</div>
						</div>
					</div>

					<div>
						<div class="form-group col-sm-6">
							<label for="instr_image" class="control-label"><span data-localize="title.upper">Instruction Image</span>
								<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="The image for the instruction."></span>
							</label>
							<div>
								<input type="file" class="form-control input-sm" id="instr_image" name="instr_image" placeholder="">
								<input type="hidden" name="image_upload_machine_ID" id="image_upload_machine_ID" value="">
								<input type="hidden" name="action" id="action" value="upload_instruction_image">
								<!-- hidden iframe for image upload //-->
								<iframe id="if_image_upload" name="if_image_upload" style="height:1px; width:1px; visibility: hidden;" src=""></iframe>
							</div>
						</div>
						<div class="col-sm-3">
							<img src="" id="img_instr_image" style="height:100px;width:100px;border:1px solid #DDDDDD;">
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-printer" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="remove_machine_instruction_modal" tabindex="-1" role="dialog" aria-labelledby="remove_instruction_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Remove Machine <span data-localize="tool.upper">Instruction</span></h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Remove the selected <span data-localize="tool.lower">instruction</span> from this machine?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="preview_machine_instruction_modal" tabindex="-1" role="dialog" aria-labelledby="preview_instruction_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-xxlg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Preview Machine Instructions</h4>
			</div>
			<div class="modal-body">
				<div id="div_preview_carousel" class="slide" data-ride="">
					<!-- Indicators -->
					<ol class="carousel-indicators">
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#div_preview_carousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#div_preview_carousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger btn-sm btn-cancel" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/common/library/bootstrap/js/bootstrap-growl.min.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/options/machines.js"></script>

{/block}