{extends file='app_shell.html'}


{block name=subthing}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>
			<span class="pull-right"><button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span> Add Audit Requirement</button></span>
			Module Audit
		</h3>
	</div>
	<div class="panel-body">
		<div class="alert alert-danger">
			WARNING: misuse of this utility will cause downtime.  Please be sure of the options you are changing prior to changing them.
		</div>
		<table class="table table-condensed table-bordered table-striped">
			<thead>
				<th>Part Type</th>
				<th>Min. Quantity</th>
				<th>Max. Quantity</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<tr>
					<td>Wire Harness</td>
					<td>1</td>
					<td>1</td>
					<td><button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button></td>
				</tr>
				<tr>
					<td>Fascia Skin</td>
					<td>1</td>
					<td>1</td>
					<td><button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{/block}