{extends file='app_shell.html'}


{block name=subthing}
<link rel="stylesheet" href="../../common/library/css/select2.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />

<div id="content">

	<h2 class="page-header">Setup Email Alerts</h2>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2><span id="heading">Machine Tool Control Limit Email Alert</span></h2>
		</div>
		<div class="panel-body">
			<div id="filter_panel" class="panel panel-primary">
				<div class="panel-heading">
					Filter By
				</div>
				<div class="panel-body">
					<div class="form-group col-md-3">
						<label for="system_select" class="control-label">System
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
						</label>
						<div>
							<select class="form-control input-sm" id="system_select" name="system_id" placeholder="System">
							</select>
						</div>
					</div>
					<div class="form-group col-md-3">
						<label for="machine_select" class="control-label">Machine
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Machine"></span>
						</label>
						<div>
							<select class="form-control input-sm" id="machine_select" name="machine_id" placeholder="Machine" disabled></select>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Show Email Lists</button>
				</div>
			</div>
			
			<div id="machine_tool_panel" class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Machine Tool Table</h3>
				</div>
				<div class="panel-body">
					<div id="machine_tool_div"></div>
				</div>
			</div>
		</div>
	</div>

</div>


<div class="modal fade" id="edit_email_alert_modal" tabindex="-1" role="dialog" aria-labelledby="edit_email_alert_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">


			<form role="form">
				<div class="form-group col-md-6">
					<label for="operator_select" class="control-label">People
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Alerts will be sent to the chosen employees."></span>
					</label>
					<div>
						<select class="form-control input-sm" id="operator_select" name="operators" multiple="multiple" style="width:100%;" required></select>
					</div>
				</div>
			</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="remove_email_alert_modal" tabindex="-1" role="dialog" aria-labelledby="remove_email_alert_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Remove Email Alert</h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Remove the selected email alert?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../common/library/bootstrap/js/bootstrap-notify.min.js"></script>
	<link type="text/css" rel="stylesheet" href="/common/library/js/dataTables/extensions/TableTools/css/buttons.dataTables.min.css" />
	<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.minNew.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/buttons.html5.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/jszip/dist/jszip.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/pdfmake.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/pdfmake-master/build/vfs_fonts.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-labeled-control.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-date-input.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>

<script type="text/javascript" src="/common/library/bootstrap/js/bootstrap-growl.min.js"></script>
<script type="text/javascript" src="./public/scripts/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/options/monitor_email_config.js"></script>

{/block}