{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/options/printers.js"></script>
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="btn-group pull-right">
			<button class="btn btn-success btn-sm btn-add-printer" ><span class="glyphicon glyphicon-plus"></span> Add Printer</button>
			<button class="btn btn-sm btn-default btn-load-printers"><span class="glyphicon glyphicon-refresh"></span> Reload</button>
		<span class="pull-right">
		</span>
		<h3>Printer Setup</h3>
	</div>
	<div class="panel-body">
		<div class="alert alert-danger">
			WARNING: misuse of this utility will cause downtime and possibly customer label compliance issues.  Please be sure of the options you are changing prior to changing them.
		</div>

		<table class="table table-condensed table-bordered table-striped" id="tb_printers">
			<thead>
				<tr>
					<th>Printer Name</th>
					<th>Printer IP</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
{/block}