{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/options/shifts.js"></script>
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">Setup Shift Goals</h3>
	</div>
	<div class="panel-body" id="div_content">

		<div class="panel panel-primary">
			<div class="panel-heading">
				Shift Production Goals
			</div>
			<div class="panel-body">
				<div class="modal-header">
					<h4 class="modal-title">Set Shift Goals</h4>
				</div>
				<div class="modal-body">
					<div class="form-group col-sm-2">
						<label for="inpFirstShiftGoal" class="control-label">First
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="First Shift"></span>
						</label>
						<div class="">
							<input class="form-control input-sm" id="inpFirstShiftGoal" placeholder="First Shift"></input>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="inpSecondShiftGoal" class="control-label">Second
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Second Shift"></span>
						</label>
						<div class="">
							<input class="form-control input-sm" id="inpSecondShiftGoal" placeholder="Second Shift"></input>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="inpThirdShiftGoal" class="control-label">Third
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Third Shift"></span>
						</label>
						<div class="">
							<input class="form-control input-sm" id="inpThirdShiftGoal" placeholder="Third Shift"></input>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success btn-sm btn-confirm-shift-goal"><span class="glyphicon glyphicon-ok"></span> Set</button>
					<button class="btn btn-danger btn-sm btn-cancel-shift-goal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODALS //-->

{/block}