{extends file='app_shell_full.html'}

{block name=subthing}
<style>
    .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
        background-color: transparent;
    }
</style>
<link rel="stylesheet" href="public/css/manage_styles.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="public/css/DataTables/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="public/css/DataTables/editor.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/css/DataTables/select2.min.css">


<div class="panel panel-primary">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Manage Parts</h3>
    </div>
    <div class="panel-body">
        <div class="panel-body">
            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="parts"
                   width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>Part Description</th>
                    <th>Part Number</th>
                    <th>MRP Part Num</th>
                    <th>Part Image</th>
                    <th>Std Pack Qty</th>
                    <th>Part Wgt</th>
                    <th>Box Wgt</th>
                    <th>MRP Co. Code</th>
                    <th>FG Part ID</th>
                    <th>Active</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/dataTables.editor.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/editor.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/select2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="./public/scripts/DataTables/editor.select2.js"></script>
<script type="text/javascript" src="./public/scripts/options/table.parts.js"></script>
{/block}