{extends file='app_shell.html'}


{block name=subthing}
<link rel="stylesheet" href="./public/css/upload.css" type="text/css" />
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />

<div id="content">

	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left"><span data-localize="tool.upper">Tool</span></h3>
			<div class="btn-add-tool btn btn-info btn-xs pull-right" data-action="insert_tool">
				<span class="glyphicon glyphicon-plus"></span> Add <span data-localize="tool.upper">Tool</span>
			</div>
		</div>
		<div class="panel-body" id="div_content">

			<div class="form-group col-sm-6">
				<label for="tool_select" class="control-label"><span data-localize="tool.upper">Tool</span></label>
				<div>
					<select class="form-control input-sm" id="tool_select" name="tool_ID" placeholder="Tool"></select>
				</div>
			</div>

		</div>
	</div>

	<div id="tool_detail_panel" class="panel panel-primary" hidden>
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left"><span data-localize="tool.upper">Tool</span> Detail</h3>
			<div class="btn-edit-tool btn btn-info btn-xs pull-right" data-action="edit_tool">
				<span class="glyphicon glyphicon-edit"></span> Edit <span data-localize="tool.upper">Tool</span>
			</div>
		</div>
		<div class="panel-body" id="div_content">

			<div class="form-group col-sm-3">
				<label class="control-label">Name
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A description of the tool."></span>
				</label>
				<div>
					<span class="short-description"></span>
				</div>
			</div>

			<div class="form-group col-sm-3">
				<label class="control-label">Description
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A more detailed description of the tool."></span>
				</label>
				<div>
					<span class="description"></span>
				</div>
			</div>
			
			<!--
			<div class="form-group col-sm-3">
				<label class="control-label">Parent <span data-localize="tool.upper">Tool</span>
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Associate this tool with a parent tool."></span>
				</label>
				<div>
					<span class="parent-tool-description"></span>
				</div>
			</div>
			-->

			<div class="form-group col-sm-3">
				<label class="control-label">Active
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Activate or deactivate the tool."></span>
				</label>
				<div>
					<span class="tool-active"></span>
				</div>
			</div>

		</div>

	</div>

	<div id="tool_parts_panel" class="panel panel-primary" hidden>
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left"><span data-localize="tool.upper">Tool</span> Parts</h3>
			<div class="btn-add-tool-part btn btn-info btn-xs pull-right" data-action="insert_tool_part">
				<span class="glyphicon glyphicon-plus"></span> Add Part
			</div>
		</div>
		<div class="panel-body" id="div_content">
			<div class="table-responsive">
			  <table id="tool_parts_table" class="table table-condensed table-striped">
				<thead>
					<tr>
						<!--
						<th>Operation</th>
						<th>Sub-<span data-localize="tool.upper">Tool</span> Order</th>
						-->
						<th>Part Number</th>
						<th>MRP Part Number</th>
						<th>Description</th>
						<th>Parts Per <span data-localize="tool.upper">Tool</span></th>
						<th>Active</th>
						<th>Last Update</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			  </table>
			</div>
		</div>
	</div>

<!-- 	<div id="tool_defect_reasons_panel" class="panel panel-primary" hidden>
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Tool Defect Codes</h3>
			<div class="btn-add-tool-defect-reason btn btn-info btn-xs pull-right" data-action="insert_tool_defect_reason">
				<span class="glyphicon glyphicon-plus"></span> Add Defect Code
			</div>
		</div>
		<div class="panel-body" id="div_content">
			<div class="table-responsive">
			  <table id="tool_defect_reasons_table" class="table table-condensed table-striped">
				<thead>
					<tr>
						<th>Defect Type</th>
						<th>Description</th>
						<th>Active</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody></tbody>
			  </table>
			</div>
		</div>
	</div> -->

</div>


<!-- edit modal -->
<div class="modal fade" id="edit_tool_modal" tabindex="-1" role="dialog" aria-labelledby="edit_tool_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">

				<form>

				<div class="form-group col-sm-3">
					<label for="short_description_input" class="control-label">Name
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A description of the tool."></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="short_description_input" name="short_description" type="text" placeholder="Short Description">
					</div>
				</div>

				<div class="form-group col-sm-3">
					<label for="tool_description_input" class="control-label">Description
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A more detailed description of the tool."></span>
					</label>
					<div>
						<textarea id="tool_description_input" class="form-control input-sm text-input" name="tool_description" placeholder="Description" rows="1"></textarea>
					</div>
				</div>

				<!--
				<div class="form-group col-sm-3">
					<label for="parent_tool_select" class="control-label">Parent <span data-localize="tool.upper">Tool</span>
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Associate this tool with a parent tool."></span>
					</label>
					<div>
						<select class="form-control input-sm" id="parent_tool_select" name="parent_tool_ID" placeholder="Parent Tool"></select>
					</div>
				</div>
				-->

				<div class="form-group col-sm-3">
					<label for="active_checkbox" class="control-label">Active
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Activate or deactivate the tool."></span>
					</label>
					<div>
						<div class="checkbox">
							<label>
								<input id="active_checkbox" type="checkbox" name="active"> <span data-localize="tool.upper">Tool</span> Active
							</label>
						</div>
					</div>
				</div>

			</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="edit_tool_part_modal" tabindex="-1" role="dialog" aria-labelledby="edit_tool_part_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">

			<form>

				<div class="form-group col-sm-8">
					<label for="sel-part" class="control-label">Part
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part"></span>
					</label>
					<div>
						<select class="form-control input-sm" id="part_select" name="part_ID" placeholder="Select Part"></select>
					</div>
				</div>
				
				<!--
				<div class="form-group col-sm-3">
					<label for="operation_input" class="control-label">Operation
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operation"></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="operation_input" name="operation" type="text" placeholder="Operation" value="10">
					</div>
				</div>

				<div class="form-group col-sm-3">
					<label for="sub_tool_order_input" class="control-label">Sub-<span data-localize="tool.upper">Tool</span> Order
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Sub-Tool Order"></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="sub_tool_order_input" name="sub_tool_order" type="text" placeholder="Sub-Tool Order" value="10">
					</div>
				</div>
				-->
				
				<div class="form-group col-sm-3">
					<label for="parts_per_tool_input" class="control-label">Parts Per <span data-localize="tool.upper">Tool</span>
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Parts Per Tool"></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="parts_per_tool_input" name="parts_per_tool" type="text" placeholder="Parts Per Tool">
					</div>
				</div>

				<!--
				<div class="form-group col-sm-3">
					<label for="scrap_cost_input" class="control-label">Scrap Cost
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Scrap Cost"></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="scrap_cost_input" name="scrap_cost" type="text" placeholder="Scrap Cost">
					</div>
				</div>
				-->

				<div class="form-group col-sm-3">
					<label for="active_checkbox" class="control-label">Active
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Active"></span>
					</label>
					<div>
						<div class="checkbox">
							<label>
								<input id="active_checkbox" type="checkbox" name="active"> Active
							</label>
						</div>
					</div>
				</div>

				<div class="form-group col-sm-3">
					<label for="serialized_checkbox" class="control-label">Serialized
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Serialized"></span>
					</label>
					<div>
						<div class="checkbox">
							<label>
								<input id="serialized_checkbox" type="checkbox" name="serialized"> Serialized
							</label>
						</div>
					</div>
				</div>

				<!--
				<div class="form-group col-sm-3">
					<label for="zoned_checkbox" class="control-label">Zoned
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Zoned"></span>
					</label>
					<div>
						<div class="checkbox">
							<label>
								<input id="zoned_checkbox" type="checkbox" name="zoned"> Zoned
							</label>
						</div>
					</div>
				</div>
				-->

				<div class="clearfix"></div>

			</form>
			<!--
			<form id="tool_part_image_form" class="upload-form">

				<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 upload-group">
                    <div class="col-md-12">
                        <label class="control-label"> Part Image
                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Part Image"></span>
                        </label>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file btn-sm">
                                    Browse <input name="file" type="file" multiple placeholder="Part Image">
                                </span>
                            </span>
                            <input type="text" class="form-control input-sm" readonly>
                        </div>
                        <progress value="0" max="100" style="display:none; width: 100%;"></progress>
                    </div>
                    <div class="col-md-12">
                        <div class="image-preview" style="display: none;"><img src="#" alt="image preview" width="100%" /></div>
                    </div>
                </div>
            </form>
			-->
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="remove_tool_part_modal" tabindex="-1" role="dialog" aria-labelledby="remove_tool_part_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Remove Part</h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Remove the selected part from this <span data-localize="tool.lower">tool</span>?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="edit_tool_defect_reason_modal" tabindex="-1" role="dialog" aria-labelledby="edit_tool_defect_reason_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">

			<form>

				<div class="form-group col-sm-3">
					<label for="parent_defect_select" class="control-label">Defect Code Type
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Defect Code Type"></span>
					</label>
					<div>
						<select class="form-control input-sm" id="parent_defect_select" name="parent_ID" placeholder="Defect Code Type"></select>
					</div>
				</div>

				<div class="form-group col-sm-3">
					<label for="tool_defect_select" class="control-label">Defect Code
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Defect Code"></span>
					</label>
					<div>
						<select class="form-control input-sm" id="tool_defect_select" name="defect_reason_ID" placeholder="Defect Code" disabled></select>
					</div>
				</div>

			</form>

			</div>

			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="remove_tool_defect_reason_modal" tabindex="-1" role="dialog" aria-labelledby="remove_tool_defect_reason_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Remove Defect Code</h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Remove the selected defect code from this <span data-localize="tool.lower">tool</span>?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/options/tools.js"></script>

{/block}