{extends file='app_shell_full.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/options/tool_manager.js"></script>
<link rel="stylesheet" type="text/css" href="/common/library/bootstrap/css/bootstrap-slider.css" />
<style>
	.modal-backdrop {
		top:0px;
		left:0px;
		right:0px;
		bottom: 0px;
		position: fixed;
	}

	.left-margin {
		margin-left: 10px;
	}

	B.legend {
		font-size: 12pt;
	}

	fieldset.scheduler-border {
		border: 1px solid #ddd !important;
		padding: 0 1.4em 1.4em 1.4em !important;
		margin: 0 0 1.5em 0 !important;
		-webkit-box-shadow:  0px 0px 0px 0px #000;
		   box-shadow:  0px 0px 0px 0px #000;
		border-radius: 5px;
	}

	legend.scheduler-border {
		font-size: 1.2em !important;
		font-weight: bold !important;
		text-align: left !important;
		width:auto;
		padding:0 10px;
		border-bottom:none;
	}
</style>
<div class="alert alert-danger">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	WARNING: misuse of this utility will cause downtime.  Please be sure of the options you are changing prior to changing them.
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="btn-group pull-right">
			<button class="btn btn-sm btn-success btn-add-tool"><span class="glyphicon glyphicon-plus"></span> Add New Tool</button>
			<button class="btn btn-sm btn-default btn-load-tools"><span class="glyphicon glyphicon-refresh"></span> Reload</button>
			<button class="btn btn-sm btn-default btn-export-tools"><span class="glyphicon glyphicon-export"></span> Export</button>
		</div>
		<h4><span class="glyphicon glyphicon-wrench"></span> Tool Manager</h4>
	</div>
	<table class="table table-bordered table-condensed" id="tbl_tools">
		<thead>
			<tr>
				<th>View Parts</th>
				<th>Full Tool Name</th>
				<th>Short Tool Name</th>
				<th>Auto-Label?</th>
				<th>OJT Group</th>
				<th>Shot Count</th>
				<th>Active?</th>
				<th># Part Groups</th>
				<th>Material Number</th>
				<th>Edit</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

<form method="POST" target="_blank" method="POST" action="export.php" style="display:none;" id="frm_export" >
	<input type="hidden" id="inpExport" name="inpExport" value="">
</form>

<!-- MODALS //-->

<!-- GENERIC CONFIRMATION //-->
<div class="modal fade" id="div_confirmation_modal" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-confirmation"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<!-- ADD/EDIT TOOL //-->
<div class="modal fade" id="div_add_edit_tool_modal" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add/Edit Tool</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="frm_edit_tool">
					<div class="form-group">
						<label for="inpFullToolName" class="col-sm-2 control-label">Full Tool Name</label>
						<div class="col-sm-4">
							<input type="text" class="input-sm form-control" id="inpFullToolName" title="Full tool name">
						</div>
					</div>
					<div class="form-group">
						<label for="inpShortToolName" class="col-sm-2 control-label">Short Tool Name</label>
						<div class="col-sm-4">
							<input type="text" class="input-sm form-control" id="inpShortToolName" title="Short tool name">
						</div>
					</div>
					<div class="form-group">
						<label for="inpAutoLabel" class="col-sm-2 control-label">Auto-Labeling?</label>
						<div class="col-sm-2">
							<input type="checkbox" class="input-sm form-control" id="inpAutoLabel">
						</div>
					</div>
					<div class="form-group">
						<label for="inpOJTGroup" class="col-sm-2 control-label">OJT Group</label>
						<div class="col-sm-2">
							<select class="input-sm form-control" id="inpOJTGroup"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="inpToolActive" class="col-sm-2 control-label">Active?</label>
						<div class="col-sm-2">
							<input type="checkbox" class="input-sm form-control" id="inpToolActive">
						</div>
					</div>
					<div class="form-group">
						<label for="inpLotNumber" class="col-sm-2 control-label">Material Number</label>
						<div class="col-sm-2">
							<input type="text" class="input-sm form-control" id="inpMatNumber">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-tool"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- MACHINE TOOL EDITOR //-->
<div class="modal fade" id="div_edit_tool_machine_modal" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Edit Machine Tool</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="frm_edit_tool_machine">
					<div class="form-group">
						<label for="inpTargetCycleTime" class="col-sm-3 control-label">Target Cycle Time</label>
						<div class="col-sm-4">
							<input type="number" class="input-sm form-control" id="inpTargetCycleTime">
						</div>
					</div>
					<div class="form-group">
						<label for="inpOverCycleGracePeriod" class="col-sm-3 control-label">Over Cycle Grace Period</label>
						<div class="col-sm-4">
							<input type="number" class="input-sm form-control" id="inpOverCycleGracePeriod">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-tool-machine"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- ASSOCIATE MACHINE //-->
<div class="modal fade" id="div_associate_machine_modal" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Associate Machine</h4>
			</div>
			<div class="modal-body" style="max-height:600px;overflow:auto;">

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-tool-machine-association"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<!-- ADD/EDIT PART //-->
<div class="modal fade" id="div_add_edit_part_modal" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add/Edit Part</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form" id="frm_edit_part" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="inpPartGroup" class="col-sm-2 control-label">Part Group</label>
						<div class="col-sm-4">
							<select class="input-sm form-control" id="inpPartGroup"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="inpPartDesc" class="col-sm-2 control-label">Part Description</label>
						<div class="col-sm-4">
							<input type="text" class="input-sm form-control" id="inpPartDesc" title="Part description">
						</div>
					</div>
					<div class="form-group">
						<label for="inpPartNumber" class="col-sm-2 control-label">Part Number</label>
						<div class="col-sm-4">
							<input type="text" class="input-sm form-control" id="inpPartNumber" title="Part Number">
						</div>
					</div>
					<div class="form-group">
						<label for="inpUnitCost" class="col-sm-2 control-label">Unit Cost</label>
						<div class="col-sm-4">
							<input type="text" class="input-sm form-control" id="inpUnitCost" title="Unit Cost">
						</div>
					</div>
					<div class="form-group">
						<label for="inpImage" class="col-sm-2 control-label">Part Image</label>
						<div class="col-sm-4">
							<input type="file" class="input-sm form-control" id="inpImage">
						</div>
					</div>
					<div class="form-group">
						<label for="inpVideo" class="col-sm-2 control-label">Part Specific Work Instruction Video</label>
						<div class="col-sm-4">
							<input type="file" accept=".mpeg,.mp4" class="input-sm form-control" id="inpVideo">
						</div>
					</div>
					<div class="form-group">
						<label for="inpStdPackQty" class="col-sm-2 control-label">Standard Pack Qty</label>
						<div class="col-sm-4">
							<input type="number" class="input-sm form-control" id="inpStdPackQty" value="0">
						</div>
					</div>
					<div class="form-group">
						<label for="inpForcePartOrder" class="col-sm-2 control-label">Force Part Order</label>
						<div class="col-sm-4">
							<input type="number" class="input-sm form-control" id="inpForcePartOrder">
						</div>
					</div>
					<div class="form-group">
						<label for="inpLblTmp" class="col-sm-2 control-label">Select Label Template</label>
						<div class="col-sm-4">
							<select class="form-control input-sm" id="inpLblTmp"></select>
						</div>
					</div>
					<fieldset class="scheduler-border">
						<legend class="scheduler-border"><b class="legend">Tool-Specific Fields:</b></legend>
						<div class="form-group">
							<label for="inpPartsPerTool" class="col-sm-2 control-label">Parts Per Tool</label>
							<div class="col-sm-4">
								<input type="number" class="input-sm form-control" id="inpPartsPerTool" >
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-part"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- ASSOCIATE PART //-->
<div class="modal fade" id="div_associate_part_modal" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Associate Part</h4>
			</div>
			<div class="modal-body" style="max-height:600px;overflow:auto;">

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-save-tool-part-association"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>



{/block}