#div_ojt {
    position: absolute;
    top: 50px;
    height: 95px;
    left: 5px;
    right: 5px;
}

#container-ojt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 300px;
    padding: 0;
}

#container-ojt .btn-group {
    width: 100%;
    height: 100%;
}

#container-ojt .btn-group button {
    width: 33%;
    height: 100%;
}

#div_ojt_modal .highlight {
    color: orange;
    font-weight: bold;
    font-size: large;
}

#div_ojt_modal .modal-dialog {
    width: 98%;
}

#div_ojt_modal .modal-content {
}

#div_ojt_modal .modal-dialog .modal-body {
    padding: 0;
}

#div_ojt_modal .modal-dialog .modal-body .container-fluid,.row {
    height: 100%;
}

#div_ojt_modal_left {
    overflow-y: auto;
    overflow-x: auto;
    text-align: center !important;
    height: 100%;
}

#div_ojt_modal_right {
    overflow-y: auto;
    overflow-x: auto;
    background-color: silver;
    border-radius: 0;
    height: 100%;
    padding: 0px;
}

#div_ojt_modal_right .caption {
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    background-color: #007fbf;
    color: white;
    border-radius: 0;
}

#div_ojt_modal_right video {
    width: 320px;
    height: 240px;
}