{extends file='app_shell_full.html'} {block name=subthing}
<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css"
/>
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2><span id="heading">Gauge Checks Report</span></h2>
    </div>
    <div class="panel-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Filter By
            </div>
            <div class="panel-body">
                <div class="form-group col-sm-2">
                    <label for="start_date" class="control-label">Start Date
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
                    </label>
                    <div class="">
                        <input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="end_date" class="control-label">End Date
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
                    </label>
                    <div class="">
                        <input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
                    </div>
                </div>
                <div class="form-group col-sm-2" style="">
                    <label for="machine_select" class="control-label">Gauge Check/Process
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Gauge Check/Process"></span>
                    </label>
                    <div class="">
                        <select class="form-control input-sm" id="machine_select" name="machine_id" placeholder="Gauge Check/Process">
                            <option value="10010" data-gauge-method="manual">OP10 Long Shaft</option>
                            <option value="20010" data-gauge-method="manual">OP10 Short Shaft</option>
                            <option value="20021" data-gauge-method="manual">OP20A Short Shaft</option>
                            <option value="20022" data-gauge-method="manual">OP20B Short Shaft</option>
                            <option value="10021" data-gauge-method="manual">OP20A Long Shaft</option>
                            <option value="10022" data-gauge-method="manual">OP20B Long Shaft</option>
                            <option value="20030" data-gauge-method="process">OP30 SS Heat Treat</option>
                            <option value="10030" data-gauge-method="process">OP30 LS Heat Treat</option>
                            <option value="20045" data-gauge-method="auto">OP45 Short Shaft</option>
                            <option value="10045" data-gauge-method="auto">OP45 Long Shaft</option>
                            <option value="30060" data-gauge-method="manual">OP60 Both Shafts</option>
                            <option value="30080" data-gauge-method="process">OP80 Assembly</option>
                            <option value="mahrmmq" data-gauge-method="mahrmmq">Mahr MMQ</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="inpShift" class="control-label">Shift
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Shift"></span>
                    </label>
                    <div class="">
                        <select class="form-control input-sm" id="inpShift" placeholder="Shift">
                            <option value="%" selected>- Select Shift -</option>
                            <option value="1">First Shift</option>
                            <option value="2">Second Shift</option>
                            <option value="3">Third Shift</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-sm-2" style="display: none;">
                    <label for="operator_select" class="control-label">Operator
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Operator"></span>
                    </label>
                    <div class="">
                        <select class="form-control input-sm" id="operator_select" placeholder="Operator"></select>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label for="inpGroupBy" class="control-label">Group By
                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Group By"></span>
                    </label>
                    <div class="">
                        <select class="form-control input-sm" id="inpGroupBy" placeholder="Group By"></select>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Run Report</button>
            </div>
        </div>
    </div>
    <!--
    <div class="panel-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Gauge Checks
            </div>
            <div class="panel-body panel-body-chart">
                <div class="loading" style="display:none;">Loading...</div>
                <div class="panel panel-report-date"></div>
                <div class="panel panel-cycle-chart"></div>
            </div>
        </div>
    </div>
-->
    <div class="panel-body">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Gauge Checks Summary Report
            </div>
            <div class="panel-body">
                <div class="panel panel-report-date"></div>
                <table id="table-gauge-results" class="table table-condensed table-striped"></table>                
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../common/library/js/moment/moment.min.js"></script>
<script type="text/javascript" src="../common/library/js/moment/datetime-moment.js"></script>
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/filter.js"></script>
<script type="text/javascript" src="./custom/meb/reports/gauge_material_types/gauge_material_types.js"></script>

{/block}