BODY {
	padding-top: 70px;
}

.btn {
	border: 1px solid #CCCCCC;
}

.dropdown-menu > .disabled{
 cursor: not-allowed;
}

/* The real magic ;) */
.dropdown-menu > .disabled > a{
 pointer-events: none;
}

.growl-animated {
	box-shadow: 0px 0px 10px #CCCCCC;
}

.navbar-brand>img {
	display: inline-block;
}

/* tree select */
/*.tree-select .tree-select-option-text {
	margin-left: calc(attr(data-node-depth) * 5) px;
}*/

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}