body div.container:first-child {
	width: 100%;
}

input[type=checkbox].fancy {
	height: 25px;
	width: 25px;
}

.btn {
	border: 3px solid transparent;
}

div#collapse-me {
	transition: height 1s linear;
}

a.btn.press-select {
	font-size: 2em;
	padding: 0px 5px;
	line-height: 0.9;
}

a.btn.selected-press, .selected-press {
	border-radius: 5px;
	border: 3px dashed darkslategrey;
}

span.info {
	position: relative;
	display: inline-block;
}
div.info-content {
	transition: visibility 0.15s, opacity 0.15s linear;
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	background-color: white;
	border: 3px solid orange;
	border-radius: 5px;
	z-index: 1;
	left: 20px;
	top: 0px;
	color: #2c3e50;
}
table.info-content {
	margin-bottom: 0px;
	width: max-content;
	font-family: initial;
}
span.info:hover div#info-machine {
	visibility: visible;
	opacity: 1;
}
span.info:hover div#info-param {
	visibility: visible;
	opacity: 1;
}
span.info:hover div#info-alert {
	visibility: visible;
	opacity: 1;
}

span.show-pgraph {
    transition: all 0.25s cubic-bezier(0.75,0.25,0.25,0.75);
}
span.show-pgraph.open {
	transform: rotateX(180deg);
}
tr.param td {
	font-size: 1em;
}
tr.param-select td {
	border-top: 2px solid #2c3e50 !important;
	border-bottom: 2px solid #2c3e50 !important;
}
tr.param-select td:first-child {
	border-left: 2px solid #2c3e50;
}
tr.param-select td:last-child {
	border-right: 2px solid #2c3e50;
}
tr.param td:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
tr.param td:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
