#div_parts TABLE TD, #div_parts TABLE TH, #div_current TABLE TD, #div_current TABLE TH, #div_recent TABLE TD, #div_recent TABLE TH, #div_partials TABLE TD, #div_partials TABLE TH {
	text-align: center;
}

#div_parts TABLE THEAD TH {
	padding: 5px;
}

#div_mes_layout {
	position: absolute;
	right: 5px;
	top: 5px;
}

.overflowed {
	overflow:auto;
}

.modal-xlg {
	width: 1200px;
}

.mover {
	cursor: pointer;
	margin-right: 3px;
}

#tbl_operator_header {
	margin-bottom: 0px;
}

#div_operators {
	height: 400px;
	overflow-y: scroll;
}

#tbl_operator_header TH {
	text-transform: capitalize;
}

.td-name {
	width: 20%;
}

.td-ID, .td-active, .td-role {
	width: 11.42%;
	text-align: center;
}

.btn-edit, .btn-print {
	margin-left: 10px;
	padding: 0px 3px;
	border: none;
	background-color: #1E90FF;
}

.label-areas {
	margin-left: 5px;
}

td .table-image-thumbnail {
	border: 1px solid;
}