/*html, body, .container {
	position: absolute;
	padding-top: 25px;
	margin-left: 4%;
	margin-right: auto;
}
.panel-heading {
	font-size: xx-large;
	font-weight: bolder;
}
.panel-body	{
	height: auto;
	width: 100%;
	display: table;
}
.panel-title {
	font-size: xx-large;
	font-weight: bolder;
}
tbody {
	table-layout: inherit;
	position: relative;
}
table, th, td, h3 {
	color: black;
}
tr, h4 {
	color: black;
}
h4 {
	font-size: x-large;
}
.center {
	text-align: center;
}

.report_results {
	border: none;
}

.report_results td {
	padding: 3px;
}

#btn_run_report:hover {
	cursor: pointer;
	text-decoration: underline;
}
#btn_run_report, .btn {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 10px;
	float: right;
	font-weight: normal;
}
.area_select {
	float: left;
	width: 41%;
	margin-bottom: 10px;
	margin-left: 20px;
	display: inline-block;
	font-size: xx-large;
	font-weight: normal;
}
.dept_select {
	float: left;
	width: 41%;
	margin-bottom: 10px;
	margin-right: 20px;
	display: inline-block;
	font-size: xx-large;
	font-weight: normal;
}
.op_name {
	background-color: #5CC85C;
}
.job_name {
	background-color: white;
}
.area {
	background-color: #FF7619;
}


*/

.level-1 {
	background-color: #33ADAD !important;
}

.level-2 {
	background-color: #F0AD4E !important;
}

.level-3 {
	background-color: #428BCA !important;
}

.level-4 {
	background-color: #5CB85C !important;
}

.qual-sheet-table {
	font-size: 0.8em;
	max-width: 100%;
}

.qual-sheet-table td{
	padding: 3px;
}

.qual-sheet-table thead tr th, .qual-sheet-table tbody tr td {
  overflow-wrap: break-word;
  max-width: 75px;
  padding-left: 3px;
  padding-right: 3px;
}


@media print {
  body {
  	font-size: 80%;
  }
  .filter-container .panel-default {display: none;};
  table, .panel { page-break-after:auto }
  tr, .panel { page-break-inside:avoid; page-break-after:auto }
  td, .panel { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
}