#up_to_date {
	width: auto;
}
.area_select {
	width: auto;
}
.center {
	text-align: center;
}
/*.job_name {
	background-color: white;
}
.op_name {
	background-color: #5CB85C;
}
.job_level {
	background-color: #F0AD4E;
}
.signoff_date {
	background-color: #FF7619;
}*/