.area_select {
	width: auto;
}
.center {
	text-align: center;
}
/*.job_name {
	background-color: white;
}
.area {
	background-color: #FF7619;
}
.level_1 {
	background-color: #33ADAD;
}
.level_2 {
	background-color: #F0AD4E;
}
.level_3 {
	background-color: #428BCA;
}
.level_4 {
	background-color: #5CB85C;
}*/