.area_select {
	float: center;
	width: 100%;
	display: inline-block;
	font-size: x-large;
}
/*.op_name_most, .op_name_least {
	background-color: #3399CC;
}
.num_jobs_most, .num_jobs_least {
	background-color: #CC6633;
}*/