#div_parts TABLE TD, #div_parts TABLE TH {
	text-align: center;
}

#div_parts TABLE THEAD TH {
	padding: 5px;
}

#div_mes_layout {
	position: absolute;
	right: 5px;
	top: 5px;
}

.overflowed {
	overflow:auto;
}

.modal-xlg {
	width: 1200px;
}

.mover {
	cursor: pointer;
	margin-right: 3px;
}

.margin-left {
	margin-left: 10px;
}

#tbl_instructions_SEQUENCED TR:nth-child(4n+3) {
	background-color: #f9f9f9;
}

#tbl_instructions_SEQUENCED CAPTION {
	text-align: left;
	padding: 2px;
	font-weight: bold;
}

/* for instructions */
TR.part-instruction-row TD {

}

TR.part-instruction-row TD DIV.part-instr-table-wrapper {
	border-radius: 5px;
	border: 1px solid #222222;
	padding-bottom: 2px;
	box-shadow: 0px 0px 10px #CCCCCC;
}

TR.part-instruction-row TD DIV TABLE {
	width: 100%;
}

TR.part-instruction-row TD DIV TABLE THEAD TH {
	text-align: center;
	background-color: #CCCCCC;
}


/* for instruction preview */
#div_preview_modal .modal-body {
	background: rgb(173,173,173); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(173,173,173,1) 0%, rgba(226,226,226,1) 50%, rgba(178,178,178,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,173,173,1)), color-stop(50%,rgba(226,226,226,1)), color-stop(100%,rgba(178,178,178,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(173,173,173,1) 0%,rgba(226,226,226,1) 50%,rgba(178,178,178,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(173,173,173,1) 0%,rgba(226,226,226,1) 50%,rgba(178,178,178,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(173,173,173,1) 0%,rgba(226,226,226,1) 50%,rgba(178,178,178,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(173,173,173,1) 0%,rgba(226,226,226,1) 50%,rgba(178,178,178,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#b2b2b2',GradientType=0 ); /* IE6-9 */
}

#div_middle_content {
	border:2px solid #111111;
}


/* FOR OPTIONS_ANDON_REASONS */
#div_reasons UL {
	list-style: none;
	line-height: 30px;
}

#div_reasons UL LI UL {
	padding-left: 15px;
}

INPUT.form-control[type=checkbox] {
	height: 15px;
}

.form-control {
	padding: 2px;
}

SPAN.input-wrap {

}

SPAN.input-wrap INPUT {
	border: 1px solid #333333;
	border-radius: 3px;
	padding: 2px;
	font-size: 9pt;
	width: 150px;
	height: 26px;
	margin-left: 20px;
}

SPAN.input-wrap BUTTON {
	margin-left: -56px;
	height: 22px;
}

#sp_dependent_parts SPAN, #sp_subtractive_parts SPAN {
	margin-left: 5px;
}

A.spanny-btn {
	cursor: pointer;
	color: white;
}

.tiny {
	font-size: 7pt;
}

.step-back {
	background-color: #BBBBBB;
	border-radius: 5px;
	padding: 1px 5px;
	font-size: 85%;
	color: white;
	font-weight: bold;
}

.step-back INPUT {
	padding: 0px;
	height: auto;
	text-align: center;
}

.panel-heading H6, .panel-heading H4 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.panel-heading H6 BUTTON {
	margin-top: -5px;
	margin-right: -5px;
}

.datepicker {
	z-index:1151 !important;
}