.tbl-center {
    margin: 0px auto;
}
body {
    font-family: 'arial'
}

tr {
    text-align: left;
    margin: 0px;
}

label {
    font-weight: bold;
}

.section-header, .main-header {
    padding: 5px;
    font-weight: bold;
}

.main-header, .section-header, .section-content, #info_table {
    border: solid 1px;
    border-spacing: 0px;
}

.main-header {
    background-color: lightsteelblue;
}

.section-header {
    background-color: lightgrey;
}

#info_table, #info_div {
    min-width: 800px;
}

.sub-table, .section-table {
    width: 100%;
    margin: 0px;
    border-spacing: 0px;
}

.sub-table td, .section-table td {
    padding: 4px;
}

.section-content {
    padding-top: 5px;
    padding-bottom: 20px;
}

.sub-table-title {
    text-decoration: underline;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media print {
    * {
        color: black;
        background: white;
        font-size: 95%;
    }

    #info_table, #info_div {
        width: 100%;
    }

    table, .section { page-break-after:auto }
    tr, .section { page-break-inside:avoid; page-break-after:auto }
    td, .section { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
      
    .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
	    background-color: #f9f9f9 !important;
	    -webkit-print-color-adjust:exact;
	}
}