.first-shift {
    background-color: darkgreen;
}

.second-shift {
    background-color: navy;
}

.third-shift {
    background-color: maroon;
}


/* fix the dataTables controls */
.DTTT.btn-group {/*, .dataTables_paginate, .dataTables_filter {*/
    float: right;
}

.DTTT.btn-group .btn {
    line-height: 1;
}

td.details-control, td.plot-control {
    background: url('../../public/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control, td.plot-control {
    background: url('../../public/images/details_close.png') no-repeat center center;
}

.tag-container .tag {
	display: inline-block;
	margin: 3px;
}

.btn-panel-header, .label-panel-header {
	margin-left: 2px;
	margin-right: 2px;
}

.modal-lg {
	width: 80%;
}