
.oee-table {
    font-size: 0.9em;
}

.gauge {
  width: 225px;
  height: 150px;
  margin: 0px;
}

.gauge-label {
  font-size: 1em;
  font-weight: bold;
}

.gauge-value-sign {
  font-size: 20px;
}

.gauge-value-text {
    font-size: 30px;
    font-weight: 900;
}

#print_btn {
    float: right;
    margin-bottom: 10px;
}

.table>tbody>tr>td.oee-param.success {
    background-color: rgb(85, 191, 59);
}


.table>tbody>tr>td.oee-param.warning {
    background-color: rgb(207, 220, 18);
}

.table>tbody>tr>td.oee-param.danger {
    background-color: rgb(223, 83, 83);
}



@media print {
  body {
    font-size: 90%;
    -webkit-print-color-adjust:exact !important;
  }
  table, .panel { page-break-after:auto }
  tr, .panel { page-break-inside:avoid; page-break-after:auto }
  td, .panel { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }

    .gauge {
        width: 140px;
        height: 70px;
    }

    .gauge-container {
        float: left;
        width: 25%;
        margin-left: auto;
        margin-right: auto;
    }

    .gauge-value-sign {
        font-size: 90%;
    }

    .gauge-value-text {
        font-size: 90%;
        font-weight: 900;
    }

    .gauge-container .highcharts-axis-labels {
        display: none;
    }

/*    .gauge-container .highcharts-data-labels {
        
    }*/

    #print_btn {
        display: none;
    }

    .table>tbody>tr>td.oee-param.success {
        background-color: rgb(85, 191, 59) !important;
    }

    .table>tbody>tr>td.oee-param.warning {
        background-color: rgb(207, 220, 18) !important;
    }

    .table>tbody>tr>td.oee-param.danger {
        background-color: rgb(223, 83, 83) !important;
    }
}