{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/reports/custom/meb/alarm_display.js"></script>

<!--<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading"></span></h2>
	</div> -->
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading" id="ph">
				<h4>Press 2 - Last 10 Alarms - <span id = "panel-heading"></span></h4>
			</div>
			<div class="panel-body">
				<table class="table table-condensed table-bordered table-striped" id="table-alarms">
					<thead class="thead"></thead>
					<tbody class="tbody"></tbody>				
				</table>
			</div>
		</div>
	</div>
</div>
{/block}