{extends file='app_shell.html'}

{block name=subthing}
<link type="text/css" rel="stylesheet" href="../common/library/js/select2-4.0.2/css/select2.min.css">
<link type="text/css" rel="stylesheet" href="./public/css/DataTables/dataTables.min.css">
<link type="text/css" rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" />
<link type="text/css" rel="stylesheet" href="./public/css/report_styles.css"/>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><span id="heading">Fault Code Report</span></h2>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary" id="panel-filter">
			<div class="panel-heading"><span>Report Filters</span>
				<button type="button" class="btn btn-xs btn-info pull-right" data-toggle="collapse"
				        data-target="#panel-filter .panel-body">Collapse
				</button>
			</div>
			<div class="panel-body collapse in">
			</div>
			<div class="panel-footer">
				<button class="btn-run-report btn btn-xs btn-success">
					<span class="glyphicon glyphicon-play-circle"></span><b>Run Report</b>
				</button>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Machine Faults
			</div>
			<div class="panel-body">
				<div id="chart-fault-count"></div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Fault Duration
			</div>
			<div class="panel-body">
				<div id="chart-fault-duration"></div>
			</div>
		</div>
	</div>
	<div id="panel-data" class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Fault Data
			</div>
			<div class="panel-body">
				<table id="result-table" class="table table-striped table-condensed table-responsive"></table>
			</div>
		</div>
	</div>
</div>
<template id="custom-filters">
	<div class="form-group col-md-2" id="show-by">
		<label for="" class="control-label">Show Top By
			<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Show Top By"></span>
		</label>

		<div class="">
			<input type="radio" name="opt" value="count" checked="checked"> Count<br>
			<input type="radio" name="opt" value="duration"> Duration<br>
		</div>
	</div>
</template>

<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="../common/library/js/moment/moment.min.js"></script>
<script type="text/javascript" src="../common/library/js/moment/datetime-moment.js"></script>
<script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
<script type="text/javascript" src="../common/library/highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/no-data-to-display.js"></script>
<script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
<script type="text/javascript" src="../common/library/js/select2-4.0.2/js/select2.min.js"></script>
<script type="text/javascript" src="./public/scripts/reports/report_filter.js"></script>
<script type="text/javascript" src="custom/meb/reports/fault_report/fault_report.js"></script>

{/block}