<style>
	#div_popup {
		top: 10px !important;
		height: 900px !important;
	}

	#div_popup_content, #div_ajax_popup_content {
		max-height: 900px !important;
		overflow: auto;
	}
	#div_ojt_signoffs {
		background-color: orange !important;
		background: none;
		font-weight: bold;
		color: white;
	}
	#div_ojt_msg {
		background: none;
		color: black;
		background-color: white;
	}
	#div_ojt_view iframe, #div_ojt_view img {
		width: 100%;
		height: 745px !important;
	}
	.ojt_signoff_bypass {
		float:right;
		background-color: yellow;
		font-weight: bold;
		height: 30px;
	}
</style>
<div id="div_ojt">
	<div id="div_ojt_info"></div>
	<div id="div_ojt_signoffs" class="content_box"></div>
	<div id="div_ojt_view" class="content_box"></div>
	<div id="div_ojt_msg" class="content_box">
		<div id="div_ojt_keys" class="key_input"></div>
	</div>
</div>
