{extends file='app_shell.html'}

{block name=subthing}
    <link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />
    <link rel="stylesheet" href="./public/css/report_daily_oee.css" type="text/css" />

    <div class="col-sm-12"><button type="button" id="print_btn" class="btn btn-default">Print</button></div>
    <div id="oee_container" class="col-sm-12"></div>

    <script type="text/javascript" src="../common/library/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="../common/library/highcharts/highcharts-more.js"></script>
    <script type="text/javascript" src="../common/library/highcharts/themes/transparent.js"></script>
    <script type="text/javascript" src="../common/library/highcharts/modules/data.js"></script>
    <script type="text/javascript" src="../common/library/highcharts/modules/exporting.js"></script>
    <script type="text/javascript" src="../common/library/highcharts/modules/solid-gauge.js"></script>
    <script type="text/javascript" src="../common/library/js/handlebars-v3.0.1.js"></script>

    <script type="text/javascript" src="./public/scripts/reports/current_oee.js"></script>
{/block}

