.cb_SR_send {

	}
	DIV.error {
		color: red;
	}
	DIV.success {
		color: limegreen;
	}

	HTML, BODY, DIV, TABLE, INPUT, SELECT, .norm {
		font-family: Trebuchet MS, Tahoma;
	}

	TABLE {
		border-radius: 5px;
	}

	TR.norm TD {
		background-color: white;
	}

	TR.header {
		font-weight: bold;
	}

	TR.header, TD.grad, BUTTON {
		/* IE10 Consumer Preview */
		background-image: -ms-linear-gradient(top, #D9D9D9 0%, #FFFFFF 70%);

		/* Mozilla Firefox */
		background-image: -moz-linear-gradient(top, #D9D9D9 0%, #FFFFFF 70%);

		/* Opera */
		background-image: -o-linear-gradient(top, #D9D9D9 0%, #FFFFFF 70%);

		/* Webkit (Safari/Chrome 10) */
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #D9D9D9), color-stop(0.7, #FFFFFF));

		/* Webkit (Chrome 11+) */
		background-image: -webkit-linear-gradient(top, #D9D9D9 0%, #FFFFFF 70%);

		/* W3C Markup, IE10 Release Preview */
		background-image: linear-gradient(to bottom, #D9D9D9 0%, #FFFFFF 70%);
	}

	#div_nysus_logo {
		position:fixed;
		height:50px;
		width:150px;
		bottom: 5px;
		right: 5px;
		background: url('/images/Nysus_for_header2.png') no-repeat;
		z-index: -1;
	}

	BUTTON {
		border-radius: 5px;
		border: 1px outset #222222;
		cursor: pointer;
		padding: 5px;
	}