.nysus-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.nysus-modal-dialog {
    position: relative;
    width: 50%;
    margin: 30px auto;
}
.nysus-modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
    box-sizing: border-box;
	font-weight: bold;
}
.nysus-modal-content {
    background-color: #fefefe;
    /*margin: 15% auto; /!* 15% from the top and centered *!/*/
    border: 1px solid #888;
    /*width: 80%; /!* Could be more or less, depending on screen size *!/*/
}
.nysus-modal-body {
    position: relative;
    padding: 20px;
    overflow: auto;
}
.nysus-btn-close {
    color: #ffffff;
    background-color: #e74c3c;
    border-color: #e74c3c;
    padding: 1px 5px;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
}
.nysus-btn-close:hover,
.nysus-btn-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nysus-modal-footer {
    padding: 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}