.nysus-success {
    background-color: rgb(27, 255, 4);
    background-color: rgba(27, 255, 4, 0.5);
}
.nysus-danger {
    background-color: rgb(255, 9, 3,);
    background-color: rgba(255, 9, 3, 0.5);
}
.ojt_image {
    height: 600px;
}

UL.ojt-requirement-list {
	list-style: none;
	padding: 0px;
	max-height: 600px;
	overflow: auto;
}

UL.ojt-requirement-list LI {
	margin: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	padding: 15px;
	box-shadow: 0px 0px 5px #DDDDDD;
	cursor: pointer;
	font-weight: bold;
	font-size: 16pt;
	background-color: gold;
}