.nysus-default{
	border: 1px solid #d3d3d3;
	background: #13223c url(images/ui-bg_inset-soft_75_13223c_1x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #b1b1b1;
}
.nysus-selected{
	border: 1px solid #999999;
	background: #38527a url(images/ui-bg_highlight-hard_75_38527a_1x100.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.nysus-header{
	border: 1px solid #aaaaaa;
	background: #023d6b url(images/ui-bg_highlight-soft_75_023d6b_1x100.png) 50% 50% repeat-x;
	color: #FFFFFF;
	font-weight: bold;
}

/*
* Modal
* Added to support centering a wait modal with an animated gif. - Chad
*/

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content-wait {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    /*width:inherit;
    height:inherit;*/
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
    align-content: center;
    background-color: transparent;
}

.modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
