{extends file='app_shell_full.html'}

<link rel="stylesheet" href="../common/library/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="../common/library/js/dataTables/extensions/TableTools/css/dataTables.tableTools.min.css" type="text/css" />
<link rel="stylesheet" href="./public/css/report_styles.css" type="text/css" />

{block name=subthing}
	<div class="col-md-12">

			<div class="panel panel-primary">
				<div class="panel-heading">
					Filter By
				</div>
				<div class="panel-body">

 					<div class="form-group col-sm-2">
						<label for="system_select" class="control-label">System
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="System"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="system_select" name="system_ID" placeholder="System">
							</select>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="line_select" class="control-label">Line
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Line"></span>
						</label>
						<div class="">
							<select class="form-control input-sm" id="line_select" name="line_ID" placeholder="Line">
							</select>
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="start_date" class="control-label">Built Date
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Start Date"></span>
						</label>
						<div class="">
							<input type="date" class="form-control input-sm" id="start_date" placeholder="Start Date">
						</div>
					</div>
					<div class="form-group col-sm-2">
						<label for="end_date" class="control-label">End Date
							<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="End Date"></span>
						</label>
						<div class="">
							<input type="date" class="form-control input-sm" id="end_date" placeholder="End Date">
						</div>
					</div>
				</div>

				<div class="panel-footer">
					<button class="btn btn-success btn-xs btn-run"><span class="glyphicon glyphicon-ok"></span> Load Built Parts</button>
				</div>

			</div>


		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Batch Built Parts</h3>
			</div>
			<div class="panel-body">

				<div class="table-responsive">
					<table id="built_part_table" class="table table-striped table-clickable table-hover"></table>
				</div>

			</div>
		</div>

	</div>


	<script type="text/javascript" src="../common/library/js/dataTables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
	<script type="text/javascript" src="../common/library/js/dataTables/dataTables.bootstrap.min.js"></script>

	<!-- <script type="text/javascript" src="../common/library/js/ajax_select.js"></script> -->
	<script type="text/javascript" src="./public/scripts/util.js"></script>
	<script type="text/javascript" src="./public/scripts/filter.js"></script>
	<script type="text/javascript" src="./public/scripts/reports/batch/built_parts.js"></script>
{/block}
