<div class="panel panel-primary shift-panel">
    <div class="panel-heading">
        <h3 class="panel-title">{{this.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="gauge-panel col-md-12" class="text-center">
              <div class="col-sm-3 text-center gauge-container">
                <div><span class="gauge-label">OEE</span></div>
                <div class="gauge oee-gauge"></div>
              </div>
              <div class="col-sm-3 text-center gauge-container">
                <div><span class="gauge-label">Availability</span></div>
                <div class="gauge availability-gauge"></div>
              </div>
              <div class="col-sm-3 text-center gauge-container">
                <div><span class="gauge-label">Quality</span></div>
                <div class="gauge quality-gauge"></div>
              </div>
              <div class="col-sm-3 text-center gauge-container">
                <div><span class="gauge-label">Performance</span></div>
                <div class="gauge performance-gauge"></div>
              </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-hover oee-table">
                        <thead>
                            <tr>
                            {{#each columns}}
                                <th class="text-center" data-type="{{this.type}}">{{{this.title}}}</th>
                            {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                        {{#each data.machines}}
                            <tr>
                            {{#each ../columns}}
                                <td class="text-center" data-type="{{this.type}}" data-value="{{get .. this.name}}">{{get .. this.name}}</td>
                            {{/each}}
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>