{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/options/ojt/alerts.js"></script>
<script type="text/javascript" src="/common/library/bootstrap/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/common/library/js/jsDate.js"></script>
<link rel="stylesheet" href="./public/css/option_styles.css" type="text/css" />
<link rel="stylesheet" href="/common/library/bootstrap/css/datepicker.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Define Alerts</h4>
	</div>
	<div class="panel-body">
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h6>
					Alerts
					<button class="btn btn-xs btn-success pull-right disabled" id="btn_add_alert">
						<span class="glyphicon glyphicon-plus"></span> Add Alert
					</button>
				</h6>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="selArea" class="col-sm-2 control-label">Select Area</label>
						<div class="col-sm-2">
							<select class="form-control input-sm" id="selArea"></select>
						</div>
					</div>
				</form>
				<table id="tbl_alerts" class="table table-condensed table-striped" style="display:none;">
					<thead>
						<tr>
							<th>Alert Title</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>		
			</div>
		</div>
	</div>
</div>

<!-- MODALS //-->
<div class="modal fade" id="div_manage_alert" tabindex="-1" role="dialog" aria-labelledby="h_manage_alert" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="h_manage_alert"><span class="glyphicon glyphicon-plus"></span> Add Alert</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-default">
					<div class="panel-body" id="div_manage_body">
						<form id="frm_alert" class="form-horizontal" role="form" method="POST" action="./ajax_processors/options/ojt/save_alert.php" target="if_save_alert" enctype="multipart/form-data" accept-charset="utf-8" onSubmit="return validateAlert();">
							<div class="form-group" id="grp_item_prefix">
								<label for="txt_job_name" class="col-sm-3 control-label">Alert Type:</label>
								<div class="col-sm-9">
									<select id="sel_item_prefix" name="sel_item_prefix" class="form-control input-sm">
										<option></option>
										<option value="QA">Quality Alert</option>
										<option value="PA">Process Alert</option>
										<option value="SA">Safety Alert</option>
										<option value="MA">Material Alert</option>
									</select>
								</div>
							</div>
							<div class="form-group" id="grp_title">
								<label for="txt_title" class="col-sm-3 control-label">Title:</label>
								<div class="col-sm-9">
									<input type="text" id="txt_title" name="txt_title" class="form-control input-sm">
								</div>
							</div>
							<div class="form-group" id="grp_file">
								<label for="txt_file" class="col-sm-3 control-label">File:</label>
								<div class="col-sm-9">
									<input type="file" id="txt_file" name="txt_file" class="form-control input-sm">
									<p id="p_leave_msg"><i>Leave blank to keep existing file.</i></p>
								</div>
							</div>
							<div class="form-group" id="grp_start_date">
								<label for="txt_start_date" class="col-sm-3 control-label">Start Date:</label>
								<div class="col-sm-3">
									<input type="text" id="txt_start_date" name="txt_start_date" class="form-control txtdate input-sm">
								</div>
							</div>
							<div class="form-group" id="grp_end_date">
								<label for="txt_end_date" class="col-sm-3 control-label">End Date:</label>
								<div class="col-sm-3">
									<input type="text" id="txt_end_date" name="txt_end_date" class="form-control txtdate input-sm">
								</div>
							</div>
							<div class="form-group" id="grp_severity">
								<label for="sel_severity" class="col-sm-3 control-label">Severity:</label>
								<div class="col-sm-3">
									<select id="sel_severity" name="sel_severity" class="form-control input-sm">
										<option></option>
										<option value="1" class="label-danger">High</option>
										<option value="2" class="label-warning">Medium</option>
										<option value="3" class="label-info">Low</option>
									</select>
								</div>
							</div>
							<div class="form-group" id="grp_reset_signoff">
								<label for="txt_end_date" class="col-sm-3 control-label">Reset Sign-offs:</label>
								<div class="col-sm-3">
									<input type="checkbox" id="cb_reset" name="cb_reset" class="form-control">
								</div>
							</div>
							<div class="padded">
								<a href="#" class="btn btn-success" id="a_save_alert"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
							</div>
							<input type="hidden" id="area_ID" name="area_ID" value="">
							<input type="hidden" id="alert_ID" name="alert_ID" value="">
						</form>
						<iframe name="if_save_alert" id="if_save_alert" style="width:100%;border:none;height:100px;display:none;"></iframe>
					</div>
				</div>
				<div class="alert padded" id="div_manage_info" style="display:none;"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="div_delete_alert_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="">Confirm Delete Alert</h4>
			</div>
			<div class="modal-body">Are you sure you want to delete this alert?</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-delete-alert"><span class="glyphicon glyphicon-ok"></span> OK, Delete Alert</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="div_preview_alert" tabindex="-1" role="dialog" aria-labelledby="h_preview_alert" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="h_manage_alert"><span class="glyphicon glyphicon-eye-open"></span> Preview Alert</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-default">
					<div class="panel-heading" id="div_preview_head">Loading alert...</div>
					<div class="panel-body" id="div_preview_body">Loading alert...</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/block}