{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/options/ojt/ojt_jobs.js"></script>
<link rel="stylesheet" href="./public/css/option_styles.css" type="text/css" />
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4>Define OJT Jobs</h4>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h6>
					Plant-Wide OJT Jobs <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Jobs that apply to the entire plant."></span>
					<button class="btn btn-xs btn-success pull-right" id="btn_add_plant_job">
						<span class="glyphicon glyphicon-plus"></span> Add Plant-Wide Job
					</button>
				</h6>				
			</div>
			<div class="panel-body">
				<table id="tbl_plant_wide_jobs" class="table table-condensed table-striped">
					<thead>
						<tr>
							<th>Job Name</th>
							<th>Job Details</th>
							<th>Number Trained</th>
							<th>Active?</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>		
			</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h6>
					Department-Specific OJT Jobs <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Jobs that apply to an entire department."></span>
					<button class="btn btn-xs btn-success pull-right disabled" id="btn_add_dept_job">
						<span class="glyphicon glyphicon-plus"></span> Add Department-Specific Job
					</button>
				</h6>				
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="selDept" class="col-sm-2 control-label">Select Department</label>
						<div class="col-sm-2">
							<select class="form-control input-sm" id="selDept"></select>
						</div>
					</div>
				</form>
				<table id="tbl_dept_specific_jobs" class="table table-condensed table-striped" style="display:none;">
					<thead>
						<tr>
							<th>Job Name</th>
							<th>Job Details</th>
							<th>Number Trained</th>
							<th>Active?</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
		
			</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h6>
					Area-Specific OJT Jobs  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Jobs that apply to a specific area."></span>
					<button class="btn btn-xs btn-success pull-right disabled" id="btn_add_area_job">
						<span class="glyphicon glyphicon-plus"></span> Add Area-Specific Job
					</button>
				</h6>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="selArea" class="col-sm-2 control-label">Select Area</label>
						<div class="col-sm-2">
							<select class="form-control input-sm" id="selArea"></select>
						</div>
					</div>
				</form>
				<table id="tbl_area_specific_jobs" class="table table-condensed table-striped" style="display:none;">
					<thead>
						<tr>
							<th>Job Name</th>
							<th>Job Details</th>
							<th>Number Trained</th>
							<th>Active?</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
		
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h6>
					Group-Specific OJT Jobs  <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Jobs that apply to a specific group."></span>
					<button class="btn btn-xs btn-success pull-right disabled" id="btn_add_sub_area_job">
						<span class="glyphicon glyphicon-plus"></span> Add Group-Specific Job
					</button>
				</h6>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="selSubArea" class="col-sm-2 control-label">Select Group</label>
						<div class="col-sm-2">
							<select class="form-control input-sm" id="selSubArea"></select>
						</div>
					</div>
				</form>
				<table id="tbl_sub_area_specific_jobs" class="table table-condensed table-striped" style="display:none;">
					<thead>
						<tr>
							<th>Job Name</th>
							<th>Job Details</th>
							<th>Number Trained</th>
							<th>Active?</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
		
			</div>
		</div>
	</div>
</div>

<!-- MODALS //-->
<div class="modal fade" id="div_add_job" tabindex="-1" role="dialog" aria-labelledby="h_add_job" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="h_add_job">Add OJT Job</h4>
			</div>
			<div class="modal-body">
				<div class="panel panel-default">
					<div class="panel-body" id="div_manage_body">
						<div>
							<label for="txt_job_name">Job Name:</label>
							<input type="text" id="txt_job_name" class="input-sm"> <small class="">(required)</small>
						</div>
						<div>
							<label for="txt_job_details">Job Details:</label>
							<textarea id="txt_job_details" class="form-control"></textarea>
						</div>
						<div>
							<label for="txt_min_operators_qualified">Minimum Qualified Operators:</label>
							<input type="text" id="txt_min_operators_qualified" class="input-sm" value="0"> <small class="">(required)</small>
						</div>
						<div class="padded" id="div_active_buttons">
							<label for="txt_job_active">Active:</label>
							<span class="label" id="btn_active">Yes</span>
						</div>
<!-- 						<div class="padded">
							<a href="#" class="btn btn-success disabled" id="a_save_job"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
						</div> -->
					</div>
				</div>
				<div class="alert padded" id="div_manage_info" style="display:none;"></div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-success disabled" id="a_save_job"><span class="glyphicon glyphicon-floppy-disk"></span> Save</a>
				<button type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{/block}