{extends file='app_shell.html'}


{block name=subthing}
<link rel="stylesheet" href="./public/css/upload.css" type="text/css" />
<link rel="stylesheet" href="./public/css/manage_styles.css" type="text/css" />

<div id="content">

	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Groups</h3>
			<div class="btn-add-sub-area btn btn-info btn-xs pull-right" data-action="insert_group" style="display:none;">
				<span class="glyphicon glyphicon-plus"></span> Add Group
			</div>
		</div>
		<div class="panel-body" id="div_content">

			<div class="col-sm-12">
				<div class="form-group col-sm-6">
					<label for="area_select" class="control-label">Area</label>
					<div>
						<select class="form-control input-sm" id="area_select" name="area_ID" placeholder="Area"></select>
					</div>
				</div>
			</div>


			<div class="col-sm-12">
				<div class="table-responsive">
				  <table id="sub_areas_table" class="table table-condensed table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Jobs</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody></tbody>
				  </table>
				</div>
			</div>

		</div>
	</div>

</div>


<!-- edit modal -->
<div class="modal fade" id="edit_sub_area_modal" tabindex="-1" role="dialog" aria-labelledby="edit_sub_area_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body col-md-12">

				<form>

				<div class="form-group col-sm-6">
					<label for="sub_area_desc_input" class="control-label">Name
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="A description of the sub area."></span>
					</label>
					<div>
						<input class="form-control input-sm text-input" id="sub_area_desc_input" name="sub_area_desc" type="text" placeholder="Description">
					</div>
				</div>

<!-- 				<div class="form-group col-sm-3">
					<label for="active_checkbox" class="control-label">Active
						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="Activate or deactivate the tool."></span>
					</label>
					<div>
						<div class="checkbox">
							<label>
								<input id="active_checkbox" type="checkbox" name="active"> <span data-localize="tool.upper">Tool</span> Active
							</label>
						</div>
					</div>
				</div> -->

			</form>

			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-edit" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> Save</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="remove_sub_area_modal" tabindex="-1" role="dialog" aria-labelledby="remove_sub_area_modal_label" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" sub_areaiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Remove Group</h4>
			</div>
			<div class="modal-body col-md-12">
				<p>Remove the selected group from this area?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-sm btn-confirm-remove" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></span> OK</button>
				<button class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="./public/scripts/jquery.nysus-panel.js"></script>
<script type="text/javascript" src="./public/scripts/jquery.nysus-select.js"></script>
<script type="text/javascript" src="./public/scripts/options/ojt/sub_areas.js"></script>

{/block}