{extends file='app_shell.html'}


{block name=subthing}
<script type="text/javascript" src="./public/scripts/eval.js"></script>
<script type="text/javascript">
	var cat_ID = {$cat_ID};
</script>
<style>
	.rating_display {
		height: 10px;
		border: 2px solid #CCCCCC;
		display: inline-block;
		background-color: limegreen;
	}
</style>
<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="pull-right"><button class="btn btn-info btn-back-to-topic">Back to Topic</button></span>
		<h3>{$globals.app_name}</h3>
		<small>Hi, {$first_name} {$last_name}</small>
	</div>
	<div class="panel-body">
		{$category_name} - {$topic_name}: {$topic_desc}
		<div >
			<svg width="200" height="200" style="border:1px solid #CCCCCC;cursor:crosshair;" id="svg_rating">
				<rect x="3" y="3" rx="3" ry="3" width="200" height="00" style="fill:white;stroke:black;stroke-width:1;" />
				<line x1="3" y1="100" x2="200" y2="97" style="stroke:rgb(100,100,100);stroke-width:2" />
				<line x1="3" y1="100" x2="200" y2="103" style="stroke:rgb(100,100,100);stroke-width:2" />

				<line x1="100" y1="3" x2="97" y2="200" style="stroke:rgb(100,100,100);stroke-width:2" />
				<line x1="100" y1="3" x2="103" y2="200" style="stroke:rgb(100,100,100);stroke-width:2" />
				<text x="0" y="95" fill="black">effort</text>
				<text x="110" y="10" fill="black" transform="rotate(90 110,5)">importance</text>
			</svg>
			<div>
				Effort: <span id="sp_effort" class="rating_display"></span>
			</div>
			<div>
				Importance: <span id="sp_importance" class="rating_display"></span>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		Click the graph to select your effort and importance rating.  To the right indicates more effort.  To the bottom indicates more importance.
	</div>
</div>
{/block}