BODY, HTML {
	overflow: auto;
	margin: 0px;
	padding: 0px;
	border: 0px;
	height: 100%;
	font-family: MS Sans Serif;
	font-size: 10pt;
}

#div_main {
	height: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
}