#div_blocker, #div_ajax_blocker {
	position: absolute;
	top:0px;
	left: 0px;
	background-color: #333333;
	border: 0px;
	margin: 0px;
	padding: 0px;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

#div_popup, #div_ajax_popup {
	text-align: center;
	position: absolute;
	top:0px;
	left: 0px;
	border: 3px solid blue;
	background-color: white;
	border-radius: 5px;
}

#div_popup_title, #div_ajax_popup_title {
	border-bottom: 1px solid black;
	font-weight: bold;
	text-align: left;
	background-color: #DDDDDD;
	padding-left: 2px;
}

#div_ajax_popup_title {
	background-color: red;
	color: white;
}

#div_popup_content, #div_ajax_popup_content {
	max-height: 600px;
	overflow: auto;
}