DIV {
	padding: 1px;
}

TR.header {
	font-weight: bold;
}

#div_title {
	font-weight: bold;
	border: 1px solid #DDDDDD;
	background-color: lightsteelblue;
}

#sp_version {
	color: #DDDDDD;
	float: right;
}

#div_left_side {
	float: left;
	display: inline-block;
	width: 300px;
}

#div_right_side {
	float: right;
	display: inline-block;
	width: 70%;
}

#div_current_step {
	border: 1px solid black;
}

#div_current_step_title {
	font-weight: bold;
}
#div_current_step_content {
	min-height: 100px;
	text-align: center;
}
#div_current_step_result {
	text-align: center;
}
#div_current_step_help {
	background-color: yellow;
	text-align: center;
}

#div_scan {
	font-size: 24pt;
	font-weight:bold;
	height: 30px;
	padding: 1px;
	border: 1px solid black;
	background-color: black;
	color: white;
}

#div_json_error {
	text-align: left;
	color: red;
}

.step {
	border: 1px solid black;
	margin-bottom: 3px;
	border-radius: 3px 3px;
}

.step_content {
	font-weight: bold;
	font-size: 10pt;
}

.active_step {
	border: 3px solid blue;
	background-color: pink;
	font-size: 10pt;
}

.completed_step {
	background-color: LightGreen;
	background-image: url('../../../images/icons/silk/accept.png');
	background-repeat: no-repeat;
	background-position: right top;
	/* background-size: auto 40px; */
	cursor: pointer;
	font-size: 8pt;
}

.error {
	background-color: red;
	color: white;
	padding: 0px 5px;
	text-align: center;
}

.success {
	background-color: limegreen;
	color: black;
	padding: 0px 5px;
	text-align: center;
}

.select_option, #div_do_lookup, #div_text_entry_finished {
	border: 3px outset #CCCCCC;
	border-radius: 5px 5px;
	font-size:20pt;
	font-weight: bold;
	background-color: lightsteelblue;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	text-align: center;
}

.hotkey {
	height: 24px;
	width: 28px;
	font-size: 16pt;
	color: white;
	border-radius: 14px 14px;
	border: 2px solid white;
	background-color: blue;
	display: inline-block;
	text-align: center;
}

TR.header {
	background-color:lightsteelblue;
}

TR.odd_row {
	background-color:#EEEEEE;
}

TR.even_row {
	background-color:white;
}

#div_ajax_error {
	background-color: red;
	color: white;
}

.fake_cursor {
	background:url(/images/fake_cursor.gif) no-repeat;
	height:30px;
	width:4px;
}

#div_clock {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 24pt;
}