{extends file='app_shell_full.html'}

{block name=subthing}
<style>
	.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
		background-color: transparent;
	}
</style>
<link rel="stylesheet" href="public/css/manage_styles.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="public/css/DataTables/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="public/css/DataTables/editor.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="public/css/DataTables/select2.min.css">


<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<h3 class="panel-title pull-left">Manage Periodic Checks</h3>
	</div>
	<div class="panel-body">
		<div class="panel-body">
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
			       id="gauge_material_types" width="100%">
				<thead>
				<tr>
					<th></th>
					<th>Description</th>
					<th>Model Part</th>
					<th>Part Count</th>
					<th>Parts Per Check</th>
					<th>Warning Offset</th>
					<th>Max Offset</th>
					<th>Station IP Address</th>
					<th>Skip Part Scan</th>
					<th>Start of Shift</th>
					<th>Active</th>
				</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modal_instructions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog" style="width:90%;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<h4 class="modal-title" id="div_modal_title">Periodic Check Instructions</h4>
			</div>
			<div class="modal-body">
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"
				       id="gauge_material_type_instructions" width="100%">
					<thead>
					<tr>
						<th></th>
						<th>Order</th>
						<th>Description</th>
						<th>Pass/Fail</th>
						<th>Calculated</th>
						<th>Base Value</th>
						<th>Min Value</th>
						<th>Max Value</th>
						<th>Image</th>
						<th>Instruction</th>
						<th>Units</th>
						<th>Active</th>
					</tr>
					</thead>
				</table>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8" src="public/scripts/DataTables/datatables.min.js"></script>
<script type="text/javascript" charset="utf-8" src="public/scripts/DataTables/dataTables.editor.min.js"></script>
<script type="text/javascript" charset="utf-8" src="public/scripts/DataTables/editor.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="public/scripts/DataTables/select2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="public/scripts/DataTables/editor.select2.js"></script>
<script type="text/javascript"
        src="custom/metaldyne_litchf/manage/gauge_material_types/table.gauge_material_types.js"></script>
<script type="text/javascript"
        src="custom/metaldyne_litchf/manage/gauge_material_types/table.gauge_material_type_instructions.js"></script>
{/block}